n8n-Workflow-bk/backup-test-.json
{
  "updatedAt": "2025-11-25T10:28:57.000Z",
  "createdAt": "2025-11-13T10:29:25.761Z",
  "id": "vqAzXyaWTrFpHWDm",
  "name": "Backup Test",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtMinute": 5
            }
          ]
        }
      },
      "id": "84d73521-a25b-4109-9f3c-a674bdb4e879",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        -560,
        144
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "filters": {},
        "requestOptions": {}
      },
      "id": "0e862d48-3c7e-435e-aba5-1b74e45313a3",
      "name": "Retrieve workflows",
      "type": "n8n-nodes-base.n8n",
      "position": [
        48,
        -96
      ],
      "typeVersion": 1,
      "credentials": {
        "n8nApi": {
          "id": "nOUULc2KTinODlEZ",
          "name": "n8n account - MR"
        }
      }
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "name"
            }
          ]
        },
        "options": {}
      },
      "id": "e121f005-f84f-47c1-884c-8b92474ed300",
      "name": "Aggregate",
      "type": "n8n-nodes-base.aggregate",
      "position": [
        -128,
        -96
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "file",
        "operation": "list",
        "owner": {
          "__rl": true,
          "value": "APAGroup",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "Automatyzacje",
          "mode": "list",
          "cachedResultName": "Automatyzacje",
          "cachedResultUrl": "https://github.com/APAGroup/Automatyzacje"
        },
        "filePath": "n8n-Workflow-bk/"
      },
      "id": "80d85819-8480-47bb-828b-76c8c83beae4",
      "name": "List files from repo",
      "type": "n8n-nodes-base.github",
      "position": [
        -272,
        -96
      ],
      "webhookId": "354d699e-44b0-4444-9d31-af7fd4ff5561",
      "typeVersion": 1,
      "alwaysOutputData": true,
      "credentials": {
        "githubOAuth2Api": {
          "id": "qXIY77mLRF001Rr9",
          "name": "GitHub account 5"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "file",
        "operation": "edit",
        "owner": {
          "__rl": true,
          "value": "APAGroup",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "Automatyzacje",
          "mode": "list",
          "cachedResultName": "Automatyzacje",
          "cachedResultUrl": "https://github.com/APAGroup/Automatyzacje"
        },
        "filePath": "=n8n-Workflow-bk/{{ $('Retrieve workflows').item.json.name.replace(/\\s+/g, '-').toLowerCase() }}-{{ $('Retrieve workflows').item.json.tags[0].name }}.json",
        "fileContent": "={{ $('To base64').item.json.data }}",
        "commitMessage": "=backup-{{ $('Commit date & file name').item.json.commitDate }}"
      },
      "id": "1b325b47-dc94-485d-ae6f-4969d7f63fe0",
      "name": "Update file",
      "type": "n8n-nodes-base.github",
      "position": [
        912,
        -176
      ],
      "webhookId": "27218087-8df7-474d-a39f-70cfa9c34ec8",
      "typeVersion": 1,
      "credentials": {
        "githubOAuth2Api": {
          "id": "qXIY77mLRF001Rr9",
          "name": "GitHub account 5"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "file",
        "owner": {
          "__rl": true,
          "value": "APAGroup",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "Automatyzacje",
          "mode": "list",
          "cachedResultName": "Automatyzacje",
          "cachedResultUrl": "https://github.com/APAGroup/Automatyzacje"
        },
        "filePath": "=n8n-Workflow-bk/{{ $('Retrieve workflows').item.json.name.replace(/\\s+/g, '-').toLowerCase() }}-{{ $('Retrieve workflows').item.json.tags[0].name }}.json",
        "fileContent": "={{ $('To base64').item.json.data }}",
        "commitMessage": "=backup-{{ $node['Commit date & file name'].json.commitDate }}"
      },
      "id": "fa687f0e-de08-417d-926f-51515c54f57a",
      "name": "Upload file",
      "type": "n8n-nodes-base.github",
      "position": [
        912,
        -16
      ],
      "webhookId": "ce4b561b-acb9-4cd8-b76f-4928dada9674",
      "typeVersion": 1,
      "credentials": {
        "githubOAuth2Api": {
          "id": "qXIY77mLRF001Rr9",
          "name": "GitHub account 5"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $('Aggregate').item.json.name }}",
              "operation": "contains",
              "value2": "={{ $('Retrieve workflows').item.json.name.replace(/\\s+/g, '-').toLowerCase() }}-{{ $('Retrieve workflows').item.json.tags[0].name }}.json"
            }
          ]
        }
      },
      "id": "1974ad93-93eb-4040-b5bb-0efeebd52d39",
      "name": "Check if file exists",
      "type": "n8n-nodes-base.if",
      "position": [
        752,
        -96
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "toJson",
        "mode": "each",
        "options": {
          "format": true
        }
      },
      "id": "1095301c-b1e7-42b3-9f8b-5fff006cd3fe",
      "name": "Json file",
      "type": "n8n-nodes-base.convertToFile",
      "position": [
        208,
        -96
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "operation": "binaryToPropery",
        "options": {}
      },
      "id": "106dfd2e-ebb5-48ac-84b0-95c2720a07a8",
      "name": "To base64",
      "type": "n8n-nodes-base.extractFromFile",
      "position": [
        368,
        -96
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "### Retrieve previous file names from Github",
        "height": 380,
        "width": 300,
        "color": 5
      },
      "id": "c065a4f9-87f3-4296-80db-a22692d3f018",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -304,
        -240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fe4a36ef-9f04-40e3-99bd-cc517a49b440",
              "name": "commitDate",
              "type": "string",
              "value": "={{ $now.format('dd-MM-yyyy/H:mm') }}"
            },
            {
              "id": "b0fe1bcc-e79c-4a6b-b8b4-44222c8bf4e8",
              "name": "fileName",
              "type": "string",
              "value": "={{ $('Retrieve workflows').item.json.name.replace(/\\s+/g, '-').toLowerCase() }}-{{ $('Retrieve workflows').item.json.tags[0].name }}.json"
            }
          ]
        },
        "options": {}
      },
      "id": "875e9556-5a7f-49c1-b5f2-b57bf5a2b75e",
      "name": "Commit date & file name",
      "type": "n8n-nodes-base.set",
      "position": [
        592,
        -96
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "content": "### Retrieve and process workflows from n8n",
        "height": 380,
        "width": 492,
        "color": 3
      },
      "id": "44e86ac9-29f8-42dc-9ef3-5ba02f935b7c",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        16,
        -240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "### Commit + edit/create files if needed",
        "height": 380,
        "width": 588,
        "color": 4
      },
      "id": "76096d4e-2820-4b26-a244-81cd694626ed",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        528,
        -240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -528,
        -96
      ],
      "id": "8fdd1599-7384-4c5e-a8f1-4513224194d4",
      "name": "When clicking ‘Execute workflow’"
    }
  ],
  "connections": {
    "Aggregate": {
      "main": [
        [
          {
            "node": "Retrieve workflows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Json file": {
      "main": [
        [
          {
            "node": "To base64",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "To base64": {
      "main": [
        [
          {
            "node": "Commit date & file name",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        []
      ]
    },
    "Retrieve workflows": {
      "main": [
        [
          {
            "node": "Json file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if file exists": {
      "main": [
        [
          {
            "node": "Update file",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Upload file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List files from repo": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Commit date & file name": {
      "main": [
        [
          {
            "node": "Check if file exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "List files from repo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "c224f635-0f45-4751-a53d-3a28457f8a83",
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-11-25T07:14:16.688Z",
      "createdAt": "2025-11-25T07:14:16.688Z",
      "role": "workflow:editor",
      "workflowId": "vqAzXyaWTrFpHWDm",
      "projectId": "98BhLNTRDdyyDRlO"
    },
    {
      "updatedAt": "2025-11-13T10:29:25.763Z",
      "createdAt": "2025-11-13T10:29:25.763Z",
      "role": "workflow:owner",
      "workflowId": "vqAzXyaWTrFpHWDm",
      "projectId": "CjfG3RcAlbeZbF4G"
    }
  ],
  "tags": []
}