n8n-Workflow-bk/knowshare---nocodb-integration---stage-.json
{
  "updatedAt": "2025-12-09T08:07:15.000Z",
  "createdAt": "2025-11-20T12:51:10.510Z",
  "id": "bhjAeSzRqg04Ag71",
  "name": "Knowshare - nocodb integration - stage",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "chatgpt-4o-latest",
          "mode": "list",
          "cachedResultName": "CHATGPT-4O-LATEST"
        },
        "text": "=Jesteś ekspertem technicznym i specjalistą od analizy obrazów.\n\nTwoim JEDYNYM ZADANIEM jest wygenerowanie opisu załączonego obrazu.\n\n1. Opis Treści: Wygeneruj **krótki, treściwy i techniczny opis** zawartości zdjęcia w kontekście problemu.\n2. FORMAT: Zwróć **WYŁĄCZNIE SAM TEKST OPISU**. ZABRONIONE jest dodawanie wstępów, tytułów, wyjaśnień, nowych linii, formatowania (Markdown), **podwójnych cudzysłowów (\")**, ani żadnych innych znaków, które mogłyby utrudnić zapis w polu JSON. Tekst musi być pojedynczym ciągiem znaków.",
        "inputType": "base64",
        "binaryPropertyName": "image",
        "options": {
          "detail": "auto",
          "maxTokens": 1000
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        2464,
        -1136
      ],
      "id": "9aeea304-c793-4b25-a880-91bbb8948162",
      "name": "Create Picture Summary",
      "credentials": {
        "openAiApi": {
          "id": "7r6c9PgveQjC7ygm",
          "name": "OpenAi project n8n"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "content"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        3264,
        -400
      ],
      "id": "453a4bc4-0531-40db-9b4d-54363ef1a18c",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"fileNames\":{{ $('Webhook-test').item.json.body.attachments }}\n}",
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -48,
        -1248
      ],
      "id": "9da7c1e4-35a0-4895-8b94-9a2e5181bdfe",
      "name": "Loop parameter - chat"
    },
    {
      "parameters": {
        "fieldToSplitOut": "fileNames",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        176,
        -1248
      ],
      "id": "de5670ec-1063-442f-b532-3e16e2c42d38",
      "name": "Split Out - chat"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        432,
        -1248
      ],
      "id": "8f5dfc66-42cf-4928-88e6-4513f9275063",
      "name": "Loop Over Items - chat",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "jsCode": "// Bezpieczne pobieranie danych z poprzednich węzłów.\nconst webhookData = $('Webhook-test').first().json || {};\nconst indexData = $('Set index').first().json || {};\n\n// Zabezpieczony indeks załącznika\nconst index = Number(indexData.index) || 0; \n\n// Tablica załączników\nconst attachments = webhookData.body?.attachments || [];\nconst selectedAttachment = attachments[index] || null;\n\n// Definicje rozszerzeń plików\nconst AUDIO_EXT = ['mp3','wav','m4a','flac','ogg','oga','webm','mp4','mpeg','mpga','aac'];\nconst VIDEO_EXT = ['mp4', 'mov', 'mpeg', 'mpg', 'webm', 'wmv', 'flv', '3gp', 'avi'];\nconst IMAGE_EXT = ['png', 'jpg', 'jpeg', 'gif', 'webp'];\n\n// Klasyfikacja: 0 = unknown, 1 = image, 2 = audio (OpenAI), 3 = video (Gemini)\nlet type_ok = 0;\nlet fileName = null;\n\n// Pobieranie nazwy pliku\nif (typeof selectedAttachment === 'string') {\n    fileName = selectedAttachment;\n} else if (typeof selectedAttachment === 'object' && selectedAttachment?.filename) {\n    fileName = selectedAttachment.filename;\n}\n\n// Logika klasyfikacji\nif (fileName) {\n    const normalized = fileName.toLowerCase(); \n    const ext = normalized.split('.').pop(); // Wyciągnij samo rozszerzenie\n\n    if (ext) { // Sprawdź, czy rozszerzenie istnieje\n        if (IMAGE_EXT.includes(ext)) {\n            type_ok = 1; \n        } else if (AUDIO_EXT.includes(ext)) {\n            type_ok = 2;\n        } else if (VIDEO_EXT.includes(ext)) {\n            type_ok = 3; \n        }\n    }\n}\n\nreturn [\n    {\n        json: {\n            attachment: selectedAttachment,\n            type_ok: type_ok,\n        }\n    }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1088,
        -1120
      ],
      "id": "d1466345-19d3-4ba7-b7c0-ea9f622918a8",
      "name": "Attachment - chat"
    },
    {
      "parameters": {
        "content": "## Konfiguracja \nKonfiguracja flow odbywa się za pomocą pliku json.\n\nW celu dodania nowego użytkownika do adresatów powiadomień należy go dopisać do listy 'recipients', zawierającej dane adresowe użytkowników. Następnie w celu przypisania użytkownika do powiadomień danej usługi należy jego klucz zawrzeć w liście odbiorców tej usługi. ",
        "height": 520,
        "width": 1204,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1824,
        -48
      ],
      "id": "6d73a1b1-d56d-4bcb-a39d-a676d735fda7",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Krok 1 - Analiza obrazu\n\nW ramach tego kroku urachamiana jest pętla analizująca obrazy załączone w wiadomości knowshare. Pętla ograniczona jest obecnie do 2 iteracji. Jako wyjście przekazywane są opisy załączników.",
        "height": 880,
        "width": 1632,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1584,
        -976
      ],
      "id": "56d48234-2dfe-4648-81ea-3734df8a4e4b",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Krok 2 - Tworzenie opisu zbiorczego\n\nW ramach tego kroku uruchamiana jest agregacja powstałych opisów do jednego opisu podsumowującego.",
        "height": 480,
        "width": 500,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3056,
        -560
      ],
      "id": "569e95aa-5bbe-468a-b77f-793ab729034c",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## Podział na analizę tekstu i obrazu",
        "height": 520,
        "width": 500,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3056,
        -32
      ],
      "id": "4e9f25ce-81bd-46c0-8680-328addf310c0",
      "name": "Sticky Note12"
    },
    {
      "parameters": {
        "content": "## Webhook",
        "height": 520,
        "width": 692,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1120,
        -48
      ],
      "id": "5f5a7b61-0794-4f3d-ae6e-43c22e937d8e",
      "name": "Sticky Note13"
    },
    {
      "parameters": {
        "content": "## Krok 3.1 - Tworzenie contentu\n\nW ramach tego kroku na podstawie opisu tworzone są temat zgłoszenia, jego treść, oraz realizowane jest samo zgłoszenie n. ",
        "height": 1032,
        "width": 1428,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3584,
        -528
      ],
      "id": "2e7520d5-4e47-46ae-9d71-f5306fe288db",
      "name": "Sticky Note15"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "bf08c136-8231-40c2-adad-bb5ced48812e",
              "leftValue": "={{ $('Webhook-test').item.json.body.attachments }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "empty",
                "singleValue": true
              }
            },
            {
              "id": "3139722a-659b-4e66-88f2-b2153ba0c7ac",
              "leftValue": "={{ $('Webhook-test').item.json.body.attachments }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "notExists",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3264,
        176
      ],
      "id": "1ca877fb-990f-4688-88d5-ab4411e0cbdf",
      "name": "If there are attachments"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "45988ecf-6ec1-4a69-bf28-b8cac853e764",
              "name": "index",
              "value": "={{$runIndex}}",
              "type": "number"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        704,
        -1136
      ],
      "id": "8f8749a8-e16f-485c-a244-3f63a37b2a9d",
      "name": "Set index"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "62ec8387-d979-403a-a2cf-455d56bff842",
              "leftValue": "={{ $json.index }}",
              "rightValue": 2,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        864,
        -1136
      ],
      "id": "faaa6be5-f1e2-41b8-92ee-d38b0cc28807",
      "name": "Check index"
    },
    {
      "parameters": {
        "bucketName": "={{ $('Webhook-test').item.json.body.tenantId }}",
        "fileKey": "=cmms/{{ $('Webhook-test').item.json.body.assetId }}/{{ $json.attachment }}",
        "binaryPropertyName": "image"
      },
      "type": "n8n-nodes-base.s3",
      "typeVersion": 1,
      "position": [
        2016,
        -1136
      ],
      "id": "f2959261-69ae-4610-ad26-d31ccdb6abbc",
      "name": "Fetch image - chat",
      "credentials": {
        "s3": {
          "id": "smwCdXvghDY8DlJz",
          "name": "S3 account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "for (const item of items) {\n  if (item.binary && item.binary.image) {\n    item.binary.image.mimeType = 'image/jpeg';\n  }\n}\nreturn items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2240,
        -1136
      ],
      "id": "464aa493-a7b8-4132-b8f0-d5a55defa758",
      "name": "Change mime type - chat"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "c6gReJDAxZwjoiwY",
          "mode": "list",
          "cachedResultUrl": "/workflow/c6gReJDAxZwjoiwY",
          "cachedResultName": "Nocodb function - get asset summary"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "assetId": "={{ $('Webhook-test').item.json.body.assetId }}",
            "case": "Knowshare"
          },
          "matchingColumns": [
            "assetId"
          ],
          "schema": [
            {
              "id": "assetId",
              "displayName": "assetId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "case",
              "displayName": "case",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        2416,
        176
      ],
      "id": "818bcf55-7fe9-4f3a-8941-0518d05cf34d",
      "name": "Get asset summary"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "945dfa76-3c1d-436a-aef2-617ef8539061",
              "leftValue": "={{ $('Webhook-test').item.json.body.index }}",
              "rightValue": "notices",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1680,
        176
      ],
      "id": "6f62d199-d358-4c2f-8fdf-d9c87a4c2faa",
      "name": "If it's notice"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "945dfa76-3c1d-436a-aef2-617ef8539061",
              "leftValue": "={{ $json.asset.isCar }}",
              "rightValue": "notices",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2624,
        176
      ],
      "id": "012eed81-a7ae-491f-a192-a636096df39d",
      "name": "If it's not a car"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "GPT-4O"
        },
        "responses": {
          "values": [
            {
              "role": "system",
              "content": "=Jesteś modułem AI generującym tytuły i opisy zgłoszeń (Trello/Jira).\n\nWejście:\n- message: oryginalna treść zgłoszenia\n- subject: temat zgłoszenia\n- image_description: opis obrazu (opcjonalny)\n\nZasady Generowania Treści:\n1. Wykrywanie polecenia tłumaczenia:\n   Polecenia mogą zawierać słowa/zwroty: \"przetłumacz\", \"przetłumacz na\", \"translate\", \"translate to\", \"zamień język\", \"zmień język\", \"przełóż na\", \"na język\", \"translate into\".\n\n2. Generowanie treści:\n  A. JEŻELI wykryjesz polecenie tłumaczenia w polu message:\n     - Wygeneruj task_title, task_description.interpretation i task_description.recommendation w języku docelowym.\n\n  B. JEŻELI NIE wykryjesz polecenia tłumaczenia:\n     - Wygeneruj task_title, task_description.interpretation i task_description.recommendation w oryginalnym języku pola message.\n\n3. Wymagane pola i limity:\n  - task_title: jedno zdanie, maksymalnie 100 znaków.\n  - task_description.interpretation: opis sytuacji na podstawie message + subject + image_description, maksymalnie 300 znaków.\n  - task_description.recommendation: jedna konkretna rekomendacja, maksymalnie 300 znaków.\n\n4. Zawsze zwracaj wynik wyłącznie w formacie JSON:\n\n[\n  {\n    \"task_title\": \"...\",\n    \"task_description\": {\n      \"interpretation\": \"...\",\n      \"recommendation\": \"...\"\n    }\n  }\n]\n\n5. Nie dodawaj nowych linii ani dodatkowego tekstu. JSON musi być poprawny i bezpieczny.\n"
            },
            {
              "content": "=subject: {{ $('Safe subject and message').item.json.safe_subject }}\nmessage: {{ $('Safe subject and message').item.json.safe_message }}\nimage_description: {{ $json.content.join(' | ') }}\n\nZwróć wyłącznie JSON w powyższym formacie."
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2,
      "position": [
        3776,
        -64
      ],
      "id": "d978a1ee-eed8-496a-b491-df565de467d1",
      "name": "Create summary",
      "credentials": {
        "openAiApi": {
          "id": "7r6c9PgveQjC7ygm",
          "name": "OpenAi project n8n"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "// 1. Pobierz surowy tekst JSON z OpenAI\nlet raw = $input.first().json.output[0].content[0].text || \"\";\n\n// 2. Pobranie oryginalnej wiadomości (dla pola task_description)\nconst originalMessage = $('Safe subject and message').first().json.safe_message || \"\"; \n\n// 3. Usuń potencjalne znaczniki kodu ```json ... ```\nif (raw.includes(\"```\")) {\n    raw = raw.replace(/```json|```/g, \"\").trim();\n}\n\n// 4. Usuń nadmiarowe białe znaki\nraw = raw.replace(/[\\n\\r\\t\\u00A0\\uFEFF]/g, \" \").trim(); \n\nlet parsed;\n\n// 5. Parsowanie JSON z obsługą błędów\ntry {\n    parsed = JSON.parse(raw);\n} catch (error) {\n    return [{\n        json: {\n            task_title: \"\",\n            interpretation: \"\",\n            recommendation: \"\",\n            task_description: \"\",\n            _error: \"Błąd parsowania JSON: \" + error.message + \" | Czysty ciąg: \" + raw.substring(0, 100) + \"...\"\n        }\n    }];\n}\n\n// 6. Transformacja do oczekiwanego formatu\nconst obj = (Array.isArray(parsed) && parsed.length > 0) ? parsed[0] : parsed;\nconst taskDescriptionData = obj.task_description || {};\n\n// 7. Pobieranie wartości generowanych przez AI\nconst interpretation = taskDescriptionData.interpretation || \"\";\nconst recommendation = taskDescriptionData.recommendation || \"\";\nconst taskTitle = obj.task_title || \"\";\n\n// 8. Tworzenie nowego pola 'task_description' (podsumowanie)\nconst newTaskDescription = `1: ${originalMessage} | 2: ${interpretation} | 3: ${recommendation}`;\n\n// 9. Zwrócenie finalnego formatu\nreturn [{\n    json: {\n        task_title: taskTitle,\n        interpretation: interpretation,\n        recommendation: recommendation,\n        task_description: newTaskDescription\n    }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4560,
        -64
      ],
      "id": "251d7130-dbcb-4260-b6b9-81eb976b32bb",
      "name": "Task content",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "bucketName": "={{ $('Webhook-test').item.json.body.tenantId }}",
        "fileKey": "=cmms/{{ $('Webhook-test').item.json.body.assetId }}/{{ $json.attachment }}",
        "binaryPropertyName": "audio"
      },
      "type": "n8n-nodes-base.s3",
      "typeVersion": 1,
      "position": [
        1888,
        -752
      ],
      "id": "2c8bcec7-ad8b-4633-9e28-f83c8849f5ae",
      "name": "Download Audio",
      "credentials": {
        "s3": {
          "id": "smwCdXvghDY8DlJz",
          "name": "S3 account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "for (const item of items) {\n  if (!item.binary?.audio) continue;\n\n  const file = item.binary.audio;\n  if (!file.fileName) continue;\n\n  const name = file.fileName.toLowerCase();\n\n  if (name.endsWith('.mp3')) file.mimeType = 'audio/mpeg';\n  else if (name.endsWith('.wav')) file.mimeType = 'audio/wav';\n  else if (name.endsWith('.m4a')) file.mimeType = 'audio/mp4';\n  else if (name.endsWith('.flac')) file.mimeType = 'audio/flac';\n  else if (name.endsWith('.ogg') || name.endsWith('.oga')) file.mimeType = 'audio/ogg';\n  else if (name.endsWith('.webm')) file.mimeType = 'audio/webm';\n  else if (name.endsWith('.mp4')) file.mimeType = 'audio/mp4';\n  else if (name.endsWith('.mpeg') || name.endsWith('.mpga')) file.mimeType = 'audio/mpeg';\n  else if (name.endsWith('.aac')) file.mimeType = 'audio/aac';\n  else file.mimeType = 'application/octet-stream'; // fallback\n\n}\n\nreturn items;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2080,
        -752
      ],
      "id": "1159ecf7-540d-4e60-98ae-8ebf8f84b376",
      "name": "Change mime type - audio"
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "binaryPropertyName": "audio",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2,
      "position": [
        2272,
        -752
      ],
      "id": "afba7734-9895-4831-809c-7b07b2860930",
      "name": "Audio analyze",
      "credentials": {
        "openAiApi": {
          "id": "7r6c9PgveQjC7ygm",
          "name": "OpenAi project n8n"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "271ca89b-3769-4ebf-bb03-391a60af5ec9",
              "name": "content",
              "value": "={{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2528,
        -768
      ],
      "id": "6e74c848-c106-49f5-a005-e61019261334",
      "name": "Prepare audio output"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.type_ok }}",
                    "rightValue": 0,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    },
                    "id": "194bfdf8-66ea-4568-9c3e-b06727c1a7d1"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "f6ea07d3-c359-4002-a0a4-215fad595428",
                    "leftValue": "={{ $json.type_ok }}",
                    "rightValue": 1,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "a6135f05-9ad9-4413-bb95-3dbccdb68618",
                    "leftValue": "={{ $json.type_ok }}",
                    "rightValue": 2,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "394c8abb-c9bc-4397-b294-40c1fe1974d2",
                    "leftValue": "={{ $json.type_ok }}",
                    "rightValue": 3,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        1504,
        -912
      ],
      "id": "551d733b-854b-4682-9a95-9275b8ef54f1",
      "name": "Switch - type selection"
    },
    {
      "parameters": {
        "jsCode": "// Pobierz dane wejściowe z Webhook\nconst subject = $input.first().json.body.subject || \"\";\nconst message = $input.first().json.body.message || \"\";\n\n// Funkcja do oczyszczania tekstu\nfunction sanitizeTextSafe(text) {\n    if (!text) return \"\";\n\n    // 1. Usuń wszystkie znaki kontrolne ASCII (0-31 i 127)\n    text = text.replace(/[\\x00-\\x1F\\x7F]/g, \"\");\n\n    // 2. Usuń potencjalnie niebezpieczne znaki w JSON lub kodzie\n    text = text.replace(/[`\\\\<>${}[\\]]/g, \"\");\n\n    // 3. Usuń wszystkie cudzysłowy i apostrofy (proste + typograficzne)\n    text = text.replace(/[\"'‘’“”„‚«»]/g, \"\");\n\n    // 4. Usuń nadmiarowe białe znaki (nowa linia, tab, niełamiąca spacja)\n    text = text.replace(/[\\n\\r\\t\\u00A0\\uFEFF]/g, \" \").trim();\n\n    // 5. Zamień wielokrotne spacje na pojedynczą\n    text = text.replace(/\\s{2,}/g, \" \");\n\n    return text;\n}\n\n// Oczyszczone pola\nconst safeSubject = sanitizeTextSafe(subject);\nconst safeMessage = sanitizeTextSafe(message);\n\n// Zwrot danych do workflow\nreturn [{\n    json: {\n        safe_subject: safeSubject,\n        safe_message: safeMessage\n    }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1456,
        176
      ],
      "id": "459b981c-cc26-4f64-8af3-8da74c009db9",
      "name": "Safe subject and message"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "28105df4-15bb-4a73-a033-40a02d6c859f",
              "name": "moj_licznik",
              "value": 0,
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2912,
        160
      ],
      "id": "79cf4024-e07d-4b79-8e0d-5f0b5161a2b8",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "from": "MG57b1eeb171ed820e74d29ebc017e22cc",
        "to": "={{ $json.phone }}",
        "message": "={{ $('Notification data').first().json.message }}",
        "options": {
          "statusCallback": "https://apagroup.app.n8n.cloud/webhook/4732399e-f34f-47dd-9467-2063f222d057"
        }
      },
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        7776,
        -176
      ],
      "id": "dc6627ac-96d9-401d-b8fd-89fdf664c908",
      "name": "Twilio",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "content": "## Krok 5 - Powiadomienie email (opcjonalne)\n\nW ramach tego kroku wysyłąne są powiadomienia e-mail o zgłoszeniu w knowshare. ",
        "height": 476,
        "width": 300,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        8784,
        -352
      ],
      "id": "27a881c5-13fb-431a-84d3-d91543995f60",
      "name": "Sticky Note9"
    },
    {
      "parameters": {
        "jsCode": "// Funkcja wykrywająca czy tekst zawiera znaki spoza alfabetu łacińskiego\nfunction isNonLatin(text) {\n    // Znaki spoza zakresu łacińskiego\n    const nonLatinRegex = /[^\\u0000-\\u007F\\u00A0-\\u024F]/;\n    return nonLatinRegex.test(text);\n}\n\n// Funkcja konwertująca tekst do GSM-7\nfunction toGSM7(text) {\n    if (!text) return '';\n\n    // 1. Usuń diakrytyki\n    let normalized = text.normalize('NFD').replace(/[\\u0300-\\u036f]/g, '');\n\n    // 2. Mapa zamian\n    const charMap = {\n        '’': \"'\", '‘': \"'\", '“': '\"', '”': '\"', '–': '-', '—': '-',\n        'ß': 'ss', 'Œ': 'OE', 'œ': 'oe', 'Æ': 'AE', 'ae': 'ae',\n        'ł': 'l', 'Ł': 'L', 'Ø': 'O', 'ø': 'o', 'Đ': 'D', 'đ': 'd'\n    };\n\n    normalized = normalized.split('').map(c => charMap[c] || c).join('');\n\n    // 3. Dozwolone znaki GSM-7\n    const gsm7Chars =\n        '@£$¥èéùìòÇ\\nØø\\rÅåΔ_ΦΓΛΩΠΨΣΘΞ ' +\n        \"abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ\" +\n        \"0123456789\" +\n        \"!\\\"#¤%&'()*+,-./:;<=>?¡ÄÖÑÜ§¿äöñü\";\n\n    // 4. Usuń niedozwolone\n    return normalized.split('').filter(c => gsm7Chars.includes(c)).join('');\n}\n\n// Limity SMS\nconst GSM_LIMIT = 160;\nconst UCS2_LIMIT = 70;\nconst ELLIPSIS = \"...\";\nconst ELLIPSIS_LENGTH = ELLIPSIS.length;\n\n\n// Przetwarzanie itemów\nfor (const item of items) {\n    const input = item.json;\n\n    const smsPartText = $('SMS part 1').first().json.sms_firstPart || '';\n    const itemText = input.output?.[0]?.content?.[0]?.text || '';\n\n    const rawMessage = (smsPartText + itemText).trim();\n\n    // WYKRYWANIE ALFABETU\n    const nonLatin = isNonLatin(rawMessage);\n\n    let finalSmsText;\n\n    if (!nonLatin) {\n        // ============================\n        //   TRYB ŁACIŃSKI (GSM-7)\n        // ============================\n        const cleanMessage = toGSM7(rawMessage);\n\n        if (cleanMessage.length > GSM_LIMIT) {\n            finalSmsText =\n                cleanMessage.substring(0, GSM_LIMIT - ELLIPSIS_LENGTH) + ELLIPSIS;\n        } else {\n            finalSmsText = cleanMessage;\n        }\n\n    } else {\n        // ============================\n        //  TRYB NIEŁACIŃSKI (UCS-2)\n        // ============================\n\n        if (rawMessage.length > UCS2_LIMIT) {\n            finalSmsText =\n                rawMessage.substring(0, UCS2_LIMIT - ELLIPSIS_LENGTH) + ELLIPSIS;\n        } else {\n            finalSmsText = rawMessage;\n        }\n    }\n\n    // Zapis do item.json\n    input.finalSmsText = finalSmsText;\n    input.finalSmsLength = finalSmsText.length;\n}\n\nreturn items;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6608,
        -96
      ],
      "id": "fba495d0-0f4b-45b8-9980-54d46bbd7f95",
      "name": "SMS Final",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "responses": {
          "values": [
            {
              "role": "system",
              "content": "=Jesteś systemem do generowania krótkich, zwięzłych komunikatów SMS.\nTwoje JEDYNE zadanie to sumaryzacja, skracanie i łączenie tekstu.\n\nZASADA KLUCZOWA (NON-NEGOTIABLE):\n1. **ZAKAZ TŁUMACZENIA:** Nigdy, pod żadnym pozorem, nie tłumacz treści. Musisz wykryć i ZACHOWAĆ oryginalny język wejściowy (nawet jeśli jest to język mieszany, niepoprawny lub zawiera błędy).\n2. **KONTRA POLSKI:** Nie zmieniaj języka na polski, chyba że język wejściowy był polski.\n3. **SKRACANIE:** Połącz oba teksty, skróć je do podanego limitu znaków, zachowując sens.\n4. **FORMAT:** Zwróć tylko finalny tekst SMS. Bez cudzysłowów, wyjaśnień, ani formatowania Markdown."
            },
            {
              "content": "=Tytuł: \"{{ $('Task content').item.json.task_title }}\"\nWiadomość: \"{{ $('Task content').item.json.interpretation }} {{ $('Task content').item.json.recommendation }}\"\n\nLimit znaków: {{ $json.sms_contentLimit }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2,
      "position": [
        5920,
        -96
      ],
      "id": "56771367-a95a-495c-8149-1397c820e818",
      "name": "Text shortening",
      "credentials": {
        "openAiApi": {
          "id": "7r6c9PgveQjC7ygm",
          "name": "OpenAi project n8n"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "const SMS_LIMIT = 155; //160\n\n// Przetwarzanie każdego elementu w danych\nfor (const item of items) {\n  const input = item.json;\n  \n  // 1. Definiowanie pól\n  const name = $('Webhook-test').first().json.body.createdBy || '';\n\n\n  // 2. Łączenie pól w format: \"Imię Nazwisko; Tytuł; \" (Z POLSKIMI ZNAKAMI)\n  // Używamy separatorów \"; \" (dwa znaki)\n  const firstPartRaw = `Knowshare: ${name}; `;\n  \n  // 3. Obliczenie DŁUGOŚCI tej części (na podstawie RAW stringu)\n  const firstPartLength = firstPartRaw.length;\n  \n  // 4. Wyznaczenie różnicy (maksymalnego limitu dla Treści)\n  const maxContentLength = SMS_LIMIT - firstPartLength;\n  \n  // Zapewnienie, że limit nie jest ujemny\n  const finalContentLimit = Math.max(0, maxContentLength);\n  \n  // Dodanie nowych zmiennych do obiektu JSON:\n  // - sms_firstPart: sformatowana część z polskimi znakami\n  // - sms_contentLimit: obliczony limit znaków dla treści (dla Chat GPT)\n  input.sms_firstPart = firstPartRaw;\n  input.sms_contentLimit = finalContentLimit;\n}\n\nreturn items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5744,
        -96
      ],
      "id": "82a29d62-1a56-4104-a4f7-c663c24145fc",
      "name": "SMS part 1",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "self"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        5552,
        -96
      ],
      "id": "0224d7d2-c59c-4b3d-a4ff-8d4128104c8f",
      "name": "Aggregate inputs"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "17e1c3b9-d842-4667-b6a9-ab06839b7007",
              "leftValue": "={{ $json.phone }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "b92055c7-b7ec-469e-967a-8011056a838c",
              "leftValue": "={{ $json.smsNotification }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        7536,
        -80
      ],
      "id": "8414263f-7425-4761-aad7-68ad7058cc56",
      "name": "If sms notification enabled"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "45988ecf-6ec1-4a69-bf28-b8cac853e764",
              "name": "recipients",
              "value": "={{ $('Get asset summary').first().json.users }}",
              "type": "array"
            },
            {
              "id": "4df1a078-86b6-4c57-a90e-46715fc7fedb",
              "name": "message",
              "value": "={{ $('SMS Final').first().json.finalSmsText }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        6880,
        -96
      ],
      "id": "75328931-2289-4464-ade0-ad8bb8ce8a93",
      "name": "Notification data"
    },
    {
      "parameters": {
        "fieldToSplitOut": "recipients",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        7088,
        -96
      ],
      "id": "fdf5d3e1-d7d5-4986-8ef4-f8f7afc60bc5",
      "name": "Split notification data"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        7280,
        -96
      ],
      "id": "a5938fa8-df59-4a8c-aca8-ab42a1b3d269",
      "name": "Loop over notification data",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "17e1c3b9-d842-4667-b6a9-ab06839b7007",
              "leftValue": "={{ $('Loop over notification data').item.json.email }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "b92055c7-b7ec-469e-967a-8011056a838c",
              "leftValue": "={{ $('Loop over notification data').item.json.emailNotification }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        8528,
        -64
      ],
      "id": "38390c16-06ab-4109-b0e0-487938260daa",
      "name": "If email notification enabled"
    },
    {
      "parameters": {
        "content": "## Krok 4 - Powiadomienie sms (opcjonalne)\n\nW ramach tego kroku wysyłąne są powiadomienia sms o zgłoszeniu w knowshare. ",
        "height": 476,
        "width": 300,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        7680,
        -336
      ],
      "id": "118dc806-ea0d-429d-a2b7-2cdbe1b834c2",
      "name": "Sticky Note11"
    },
    {
      "parameters": {
        "content": "## Powiadomienia",
        "height": 540,
        "width": 2700,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        5472,
        -368
      ],
      "id": "51fd1768-5a51-4b14-b23c-cf282dee6336",
      "name": "Sticky Note14"
    },
    {
      "parameters": {
        "fromEmail": "nazca4@apagroup.pl",
        "toEmail": "={{ $('Loop over notification data').item.json.email }}",
        "subject": "=Nowa wiadomość knowshare",
        "emailFormat": "text",
        "text": "=Temat: {{ $('Task content').first().json.task_title }}\nTreść: {{ $('Task content').first().json.task_description }}\nOryginalne zgłoszenie: {{ $('Safe subject and message').item.json.safe_message }}\nAsset: {{ $('Get asset summary').item.json.asset.assetName }}\nAutor: {{ $('Webhook-test').first().json.body.createdBy }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        8880,
        -80
      ],
      "id": "bd4e2684-fa7e-446e-89d2-599b0b431d87",
      "name": "Send email",
      "webhookId": "462e5cf3-fc5a-42de-b4cc-fb032576ce7b",
      "credentials": {
        "smtp": {
          "id": "bTsU09ZudpWPlOEp",
          "name": "SMTP account 3"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "fromEmail": "nazca4@apagroup.pl",
        "toEmail": "marek.rachel@apagroup.pl; grzegorz.bojdo@apagroup.pl",
        "subject": "=Knowshare - wykryto błąd w workflow",
        "emailFormat": "text",
        "text": "=Wykryto błąd w workflow \"Knowshare - nocodb integration\".\n\n{{ $json.body }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        8368,
        -672
      ],
      "id": "4fc6bbfd-3068-43cf-b59f-fb7efdda4bae",
      "name": "Send email1",
      "webhookId": "462e5cf3-fc5a-42de-b4cc-fb032576ce7b",
      "credentials": {
        "smtp": {
          "id": "bTsU09ZudpWPlOEp",
          "name": "SMTP account 3"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const allErrors = [];\n\nconst nodes = [\n    'Create Picture Summary - error handling',\n    'Audio analyze - error handling',\n    'Create summary - error handling',\n    'Text shortening - error handling',\n    'Twilio - error handling'\n];\n\nfor (const nodeName of nodes) {\n    try {\n        // Pobranie itemu w poprawny sposób\n        const nodeItem = $node[nodeName]?.json;\n\n        if (!nodeItem) continue;\n\n        const nodeError = nodeItem.errorOpenAI1;\n\n        if (\n            typeof nodeError === 'string' &&\n            nodeError.trim().length > 0\n        ) {\n            allErrors.push(nodeError);\n        }\n\n    } catch (err) {\n        continue;\n    }\n}\n\nreturn [{\n    json: {\n        sendEmail: allErrors.length > 0,\n        body: allErrors.join(\"\\n\\n\")\n    }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        7808,
        -656
      ],
      "id": "d6acb7ff-3a0d-4f26-806f-09c59034b8d6",
      "name": "Error raport prepare"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "07c6ac0b-42b3-4c95-8613-2beda3e55d83",
              "leftValue": "={{ $json.sendEmail }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        8080,
        -656
      ],
      "id": "815df6da-aa03-4821-91e9-945f5c4444f3",
      "name": "If"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n\n\n\"params\": \n{\n},\n\"query\": \n{\n},\n\"body\": \n{\n\"index\": \n\"notices\",\n\"createdAt\": \n\"2025-12-04T08:41:40.9868596Z\",\n\"assetId\": \n\"08dd9922-b430-4372-87e1-bd636f11182a\",\n\"subject\": \n\"Lampa nie dziala\",\n\"message\": \n\"Lampa nie działa, przy próbie podania napięcia zaczyna piszczec\",\n\"type\": \n0,\n\"createdBy\": \n\"Marek Rachel\",\n\"tenantId\": \n\"08dd5714-941b-4e58-817b-934c403cebb5\",\n\"attachments\": \n[\n\"image_picker_70CA76B9-6D9F-4998-B321-09FFDEA417BE-607-00000014B3473A55.jpg\",\n\"audio_1764837682371.jpg\"\n\n]\n},\n\"webhookUrl\": \n\"https://apagroup.app.n8n.cloud/webhook/9fa3910c-8207-4351-b79b-b74b65ec4a3c\",\n\"executionMode\": \n\"production\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        464,
        112
      ],
      "id": "2bbea6dc-2254-4ecf-a9f5-26fb92d62003",
      "name": "Webhook-test"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        48,
        112
      ],
      "id": "321bc85d-2114-4f7a-a8da-72a41c4a70de",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "02c7be48-65a1-41a2-88cb-9b57c3555238",
              "name": "errorOpenAI1",
              "value": "={{ \"Błąd w węźle \\\"Create Picture Summary\\\": \" + $json.error }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2704,
        -1120
      ],
      "id": "1736f54e-faf2-431c-937b-f5c725a5270e",
      "name": "Create Picture Summary - error handling"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "02c7be48-65a1-41a2-88cb-9b57c3555238",
              "name": "errorOpenAI1",
              "value": "={{ \"Błąd w węźle \\\"Audio analyze\\\": \" + $json.error }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2752,
        -736
      ],
      "id": "e6dbdad1-152c-4815-b729-5b2040367e25",
      "name": "Audio analyze - error handling"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "02c7be48-65a1-41a2-88cb-9b57c3555238",
              "name": "errorOpenAI1",
              "value": "={{ \"Błąd w węźle \\\"Create summary\\\": \" + $json.error }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4208,
        80
      ],
      "id": "b41f5e9f-48fe-4e9a-aa2b-d2d8a1faf5f7",
      "name": "Create summary - error handling"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "02c7be48-65a1-41a2-88cb-9b57c3555238",
              "name": "errorOpenAI1",
              "value": "={{ \"Błąd w węźle \\\"Text shortening\\\": \" + $json.error }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        6352,
        0
      ],
      "id": "b536a071-15fd-4a00-b458-6a954ebce3b1",
      "name": "Text shortening - error handling"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "02c7be48-65a1-41a2-88cb-9b57c3555238",
              "name": "errorOpenAI1",
              "value": "={{ \"Błąd w węźle \\\"Twilio\\\": \" + $json.error }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        8208,
        -224
      ],
      "id": "176ad947-b753-4907-aeb8-6ad1c7c8ac38",
      "name": "Twilio - error handling"
    }
  ],
  "connections": {
    "Create Picture Summary": {
      "main": [
        [
          {
            "node": "Loop Over Items - chat",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create Picture Summary - error handling",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Create summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop parameter - chat": {
      "main": [
        [
          {
            "node": "Split Out - chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out - chat": {
      "main": [
        [
          {
            "node": "Loop Over Items - chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items - chat": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set index",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Attachment - chat": {
      "main": [
        [
          {
            "node": "Switch - type selection",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If there are attachments": {
      "main": [
        [
          {
            "node": "Create summary",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop parameter - chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set index": {
      "main": [
        [
          {
            "node": "Check index",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check index": {
      "main": [
        [
          {
            "node": "Loop Over Items - chat",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Attachment - chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch image - chat": {
      "main": [
        [
          {
            "node": "Change mime type - chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Change mime type - chat": {
      "main": [
        [
          {
            "node": "Create Picture Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "assets params",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript2": {
      "main": [
        [
          {
            "node": "Task content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get asset summary": {
      "main": [
        [
          {
            "node": "If it's not a car",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If it's notice": {
      "main": [
        [
          {
            "node": "Get asset summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If it's not a car": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create summary": {
      "main": [
        [
          {
            "node": "Task content",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create summary - error handling",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Task content": {
      "main": [
        [
          {
            "node": "Aggregate inputs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Audio": {
      "main": [
        [
          {
            "node": "Change mime type - audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Change mime type - audio": {
      "main": [
        [
          {
            "node": "Audio analyze",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Audio analyze": {
      "main": [
        [
          {
            "node": "Prepare audio output",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Audio analyze - error handling",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare audio output": {
      "main": [
        [
          {
            "node": "Loop Over Items - chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch - type selection": {
      "main": [
        [
          {
            "node": "Loop Over Items - chat",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Fetch image - chat",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Download Audio",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items - chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Safe subject and message": {
      "main": [
        [
          {
            "node": "If it's notice",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "If there are attachments",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Twilio": {
      "main": [
        [
          {
            "node": "If email notification enabled",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Twilio - error handling",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SMS Final": {
      "main": [
        [
          {
            "node": "Notification data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Text shortening": {
      "main": [
        [
          {
            "node": "SMS Final",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Text shortening - error handling",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SMS part 1": {
      "main": [
        [
          {
            "node": "Text shortening",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate inputs": {
      "main": [
        [
          {
            "node": "SMS part 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If sms notification enabled": {
      "main": [
        [
          {
            "node": "Twilio",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If email notification enabled",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notification data": {
      "main": [
        [
          {
            "node": "Split notification data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split notification data": {
      "main": [
        [
          {
            "node": "Loop over notification data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop over notification data": {
      "main": [
        [
          {
            "node": "Error raport prepare",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If sms notification enabled",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If email notification enabled": {
      "main": [
        [
          {
            "node": "Send email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop over notification data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send email": {
      "main": [
        [
          {
            "node": "Loop over notification data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error raport prepare": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send email1": {
      "main": [
        []
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Send email1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Webhook-test",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook-test": {
      "main": [
        [
          {
            "node": "Safe subject and message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Picture Summary - error handling": {
      "main": [
        [
          {
            "node": "Loop Over Items - chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Audio analyze - error handling": {
      "main": [
        [
          {
            "node": "Loop Over Items - chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create summary - error handling": {
      "main": [
        [
          {
            "node": "Task content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Text shortening - error handling": {
      "main": [
        [
          {
            "node": "SMS Final",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Twilio - error handling": {
      "main": [
        [
          {
            "node": "If email notification enabled",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "errorWorkflow": "bIsCrlr6EX8DNZDK"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "9055b21e-9dee-4cf9-b719-a71d6ad58d84",
  "activeVersionId": null,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2025-11-20T12:51:10.513Z",
      "createdAt": "2025-11-20T12:51:10.513Z",
      "role": "workflow:owner",
      "workflowId": "bhjAeSzRqg04Ag71",
      "projectId": "98BhLNTRDdyyDRlO"
    },
    {
      "updatedAt": "2025-11-26T06:20:14.625Z",
      "createdAt": "2025-11-26T06:20:14.625Z",
      "role": "workflow:editor",
      "workflowId": "bhjAeSzRqg04Ag71",
      "projectId": "CjfG3RcAlbeZbF4G"
    }
  ],
  "activeVersion": null,
  "tags": []
}