n8n-Workflow-bk/knowshare---car-service---stage-.json
{
  "updatedAt": "2026-03-26T10:37:15.176Z",
  "createdAt": "2025-11-14T11:57:15.228Z",
  "id": "uawW0w7Ys0QCTDOm",
  "name": "Knowshare - car service - stage",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "content": "## Główne flow analizy\nOdpowiada za klasyfikację wpisu",
        "height": 608,
        "width": 4400
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        176,
        -80
      ],
      "id": "ff5afb26-2226-4724-8210-71f8e17ab929",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Węzeł webhooka - przekazanie wiadomości z knowshare",
        "height": 432,
        "width": 224,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        208,
        32
      ],
      "id": "ee34e300-225b-447d-83ee-65fc6f25c002",
      "name": "Sticky Note11"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n\"params\": {\n},\n\"query\": {\n},\n\"body\": {\n\"index\": \"notices\",\n\"createdAt\": \"2025-11-12T08:22:40.1315895Z\",\n\"assetId\": \"08de7dd7-5d47-47f7-85fe-a60927075f28\",\n\"subject\": \"Awaria\",\n\"message\": \"Awaria pojazdu\",\n\"type\": 2,\n\"createdBy\": \"Michał Złoty\",\n\"tenantId\": \"08de5726-7f5f-4005-8428-11c6ddd6ad6d\",\n\"attachments\": [\n\"1000029474.jpg\"\n]\n}\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        272,
        208
      ],
      "id": "c84fd637-41fb-4912-a1e0-5911a98122e2",
      "name": "Webhook"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        16,
        208
      ],
      "id": "73c85eba-cdb4-45ed-9582-b4e52689c08e",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "945dfa76-3c1d-436a-aef2-617ef8539061",
              "leftValue": "={{ $json.body.index }}",
              "rightValue": "notices",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        528,
        240
      ],
      "id": "d901e207-4e9e-46db-91a7-d8b7811d7871",
      "name": "Check if it's notice"
    },
    {
      "parameters": {
        "jsCode": "// Pobierz dane z node Webhook i node Set index - jira\nconst webhook = $('Webhook').item.json;\nconst index = $('Set index').item.json.index;\n\n// Wyciągnij tablicę attachments z Webhook body\nconst attachments = webhook?.body?.attachments || [];\n\n// Jeśli index jest poprawny – wybierz odpowiedni załącznik\nconst selectedAttachment = attachments[index] || null;\n\nreturn [\n  {\n    json: {\n      attachment: selectedAttachment\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2432,
        288
      ],
      "id": "5300def8-d6fa-478e-8d53-884e5ddd2780",
      "name": "Attachment - chat"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "45988ecf-6ec1-4a69-bf28-b8cac853e764",
              "name": "index",
              "value": "={{$runIndex}}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2112,
        288
      ],
      "id": "f3cd7e67-b551-4b67-a201-97793abebabf",
      "name": "Set index"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "62ec8387-d979-403a-a2cf-455d56bff842",
              "leftValue": "={{ $json.index }}",
              "rightValue": 3,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2272,
        288
      ],
      "id": "e2faa980-69ca-4a52-a43d-822ccd17469b",
      "name": "Check index"
    },
    {
      "parameters": {
        "bucketName": "={{ $('Webhook').item.json.body.tenantId }}",
        "fileKey": "=cmms/{{ $('Webhook').item.json.body.assetId }}/{{ $json.attachment }}",
        "binaryPropertyName": "image"
      },
      "type": "n8n-nodes-base.s3",
      "typeVersion": 1,
      "position": [
        2592,
        288
      ],
      "id": "c82b0a39-bf4d-4aa7-921e-ea5565fc68c2",
      "name": "Fetch image - chat",
      "credentials": {
        "s3": {
          "id": "smwCdXvghDY8DlJz",
          "name": "S3 account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "for (const item of items) {\n  if (item.binary && item.binary.image) {\n    item.binary.image.mimeType = 'image/jpeg';\n  }\n}\nreturn items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2752,
        288
      ],
      "id": "5de88abe-c443-4a56-bbe1-985bb1e280e7",
      "name": "Change mime type - chat"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "GPT-4O"
        },
        "messages": {
          "values": [
            {
              "content": "=Jesteś modułem finalnej klasyfikacji zgłoszenia dotyczącego pojazdu.\n\nTwoim zadaniem jest ocena, czy całe zgłoszenie:\n1. dotyczy chęci wpisu przebiegu do dziennika pojazdu,\n2. dotyczy innego zgłoszenia eksploatacyjnego / serwisowego / problemowego,\n3. jest niejednoznaczne.\n\nDane wejściowe będą zawierały:\n- subject zgłoszenia,\n- message/opis zgłoszenia,\n- listę wyników analizy poszczególnych obrazów.\n\nMasz działać maksymalnie niezawodnie i konserwatywnie:\n- nie zgaduj intencji użytkownika, jeśli nie wynika ona jasno z danych,\n- nie zakładaj, że sam odczyt przebiegu na zdjęciu oznacza wpis do dziennika,\n- pamiętaj, że użytkownik mógł dodać zdjęcie licznika również przy innym zgłoszeniu dotyczącym pojazdu,\n- finalna decyzja ma być ostrożna,\n- w przypadku niepewności wybieraj \"uncertain\".\n\nTwoja rola obejmuje:\n- analizę tekstu zgłoszenia,\n- analizę zagregowanych sygnałów z obrazów,\n- policzenie scoringu dla dwóch konkurujących hipotez:\n  A) \"journal_entry\"\n  B) \"vehicle_issue\"\n- zwrócenie finalnej klasyfikacji i gotowej flagi decyzyjnej.\n\nDefinicje klas:\n- \"journal_entry\":\n  zgłoszenie wygląda na próbę przekazania przebiegu / stanu licznika / odczytu km do rejestru lub dziennika pojazdu\n- \"vehicle_issue\":\n  zgłoszenie dotyczy problemu, awarii, eksploatacji, serwisu, uszkodzenia, przeglądu, kontroli lub innej sprawy pojazdu, która nie jest zwykłym wpisem przebiegu do dziennika\n- \"uncertain\":\n  brak wystarczających podstaw do bezpiecznej automatycznej decyzji\n\nNajważniejsze zasady decyzyjne:\n1. Sam fakt, że na obrazie widać przebieg, NIE oznacza automatycznie \"journal_entry\".\n2. Tekst zgłoszenia ma bardzo duże znaczenie.\n3. Jeśli tekst sugeruje problem/usterkę/serwis/eksploatację, traktuj to bardzo poważnie.\n4. Jeśli są sprzeczne sygnały, preferuj \"uncertain\".\n5. Jeśli nie ma mocnych podstaw do automatycznego wpisu, nie rekomenduj go.\n6. System ma minimalizować false positive dla automatycznego wpisu do dziennika.\n\nMasz wykonać analizę tekstu zgłoszenia:\n- subject\n- message\n\nSzukaj sygnałów pozytywnych dla \"journal_entry\", np.:\n- przebieg\n- stan licznika\n- licznik\n- km\n- kilometraż\n- odczyt przebiegu\n- odczyt licznika\n- wpis do dziennika\n- wpis przebiegu\n- stan km\n\nSzukaj sygnałów negatywnych / wspierających \"vehicle_issue\", np.:\n- awaria\n- usterka\n- serwis\n- naprawa\n- przegląd\n- wymiana\n- opony\n- hamulce\n- olej\n- silnik\n- kontrolka\n- check engine\n- stłuczka\n- kolizja\n- uszkodzenie\n- hałas\n- stuka\n- cieknie\n- nie działa\n- problem z autem\n- eksploatacja\n\nNie opieraj się wyłącznie na słowach kluczowych.\nUwzględnij ogólny sens wypowiedzi.\n\nMasz także przeanalizować wyniki z obrazów:\n- ile obrazów wspiera \"journal_entry\"\n- ile wspiera \"vehicle_issue\"\n- czy odczyty przebiegu są spójne\n- czy w ogóle pojawił się wiarygodny odczyt przebiegu\n- czy obrazy są neutralne\n\nScoring:\nPolicz osobno:\n- text_journal_score\n- text_issue_score\n- image_journal_score\n- image_issue_score\n- final_journal_score\n- final_issue_score\n\nZakres każdego score:\n- liczba całkowita od 0 do 100\n\nInterpretacja:\n- wysokie score dla \"journal_entry\" tylko jeśli tekst i obrazy realnie wskazują na chęć wpisu przebiegu\n- wysokie score dla \"vehicle_issue\" jeśli tekst i/lub obrazy wskazują na problem eksploatacyjny lub serwisowy\n- jeśli dane są słabe lub sprzeczne, oba score’y nie powinny być wysokie\n\nZasady agregacji:\n- tekst jest ważniejszy niż pojedynczy obraz\n- wiele spójnych obrazów licznika podnosi score \"journal_entry\"\n- obrazy pokazujące problem pojazdu podnoszą score \"vehicle_issue\"\n- sprzeczne odczyty przebiegu obniżają pewność\n- brak odczytu przebiegu nie wyklucza \"journal_entry\", ale obniża confidence\n- jeśli tekst jest neutralny, a jedyny mocny sygnał to pojedyncze zdjęcie licznika, zwykle nie wystarcza to do bardzo pewnej automatycznej decyzji\n\nWarunek bezpieczeństwa dla automatycznego wpisu:\nUstaw \"should_create_journal_entry\" na true WYŁĄCZNIE, gdy łącznie:\n- final_classification = \"journal_entry\"\n- confidence >= 0.90\n- final_journal_score >= 75\n- final_issue_score <= 25\n- brak istotnych sprzeczności w danych\n- istnieje co najmniej jeden wiarygodny sygnał potwierdzający intencję wpisu przebiegu\n\nW każdym innym przypadku:\n- \"should_create_journal_entry\": false\n\nMusisz zwrócić WYŁĄCZNIE poprawny JSON, bez żadnego dodatkowego tekstu, komentarzy ani markdown.\n\nZwróć dokładnie taki format:\n\n{\n  \"text_journal_score\": 0,\n  \"text_issue_score\": 0,\n  \"image_journal_score\": 0,\n  \"image_issue_score\": 0,\n  \"mileage_consensus\": \"123456 km\",\n  \"mileage_conflict\": false,\n  \"final_journal_score\": 0,\n  \"final_issue_score\": 0,\n  \"final_classification\": \"journal_entry | vehicle_issue | uncertain\",\n  \"should_create_journal_entry\": false,\n  \"confidence\": 0.0,\n  \"reasons\": [\n    \"krótki, rzeczowy powód 1\",\n    \"krótki, rzeczowy powód 2\",\n    \"krótki, rzeczowy powód 3\"\n  ]\n}\n\nReguły dla pól:\n- \"text_journal_score\": 0-100\n- \"text_issue_score\": 0-100\n- \"image_journal_score\": 0-100\n- \"image_issue_score\": 0-100\n- \"mileage_consensus\":\n  - \"<LICZBA> km\" jeśli istnieje spójny, wiarygodny wynik z obrazów\n  - null jeśli brak wiarygodnego, jednoznacznego wyniku\n- \"mileage_conflict\":\n  - true jeśli są różne, sprzeczne odczyty przebiegu\n  - false w przeciwnym razie\n- \"final_journal_score\": 0-100\n- \"final_issue_score\": 0-100\n- \"final_classification\":\n  - \"journal_entry\"\n  - \"vehicle_issue\"\n  - \"uncertain\"\n- \"should_create_journal_entry\":\n  - true tylko przy wysokiej pewności i spełnieniu warunków bezpieczeństwa\n- \"confidence\":\n  - liczba od 0 do 1\n  - ma odzwierciedlać pewność finalnej decyzji\n- \"reasons\":\n  - maksymalnie 5 krótkich powodów\n  - mają wyjaśniać najważniejsze sygnały wpływające na decyzję\n\nDodatkowe zasady:\n- Jeśli tekst sugeruje zarówno przebieg, jak i problem techniczny, zwykle wybieraj \"uncertain\" albo \"vehicle_issue\", nie \"journal_entry\"\n- Jeśli obrazy są mocne, ale tekst neutralny, zachowaj ostrożność\n- Jeśli tekst jednoznacznie mówi o wpisie przebiegu, a obrazy to wspierają, możesz dać wysoki confidence\n- Jeśli tekst jednoznacznie mówi o problemie, a obraz pokazuje licznik, nie traktuj tego automatycznie jako wpisu do dziennika\n- Nie wymyślaj brakujących danych\n- Nie dopisuj żadnych pól poza wskazanym JSON-em",
              "role": "system"
            },
            {
              "content": "=Lista wyników analizy poszczególnych obrazów: {{ $json.content }}\nSubject zgłoszenia: {{ $('Webhook').item.json.body.subject }}\nMessage/opis zgłoszenia: {{ $('Webhook').item.json.body.message }} \n"
            }
          ]
        },
        "jsonOutput": true,
        "options": {
          "temperature": 0.1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        4000,
        224
      ],
      "id": "33e1f827-177e-480e-97cd-f2ad5766e244",
      "name": "Car summary",
      "credentials": {
        "openAiApi": {
          "id": "7r6c9PgveQjC7ygm",
          "name": "OpenAi project n8n"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "e9bf7821-d969-41b2-a0a4-aa647bb37199",
              "leftValue": "={{ $json.data[0].carAsset }}",
              "rightValue": "={{ $('Webhook').item.json.body.assetId }}",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1024,
        240
      ],
      "id": "3007b3ee-f1ac-493d-b1ca-d49a1d94e058",
      "name": "Check if it's a car"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"fileNames\":{{ $('Webhook').item.json.body.attachments }}\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1280,
        240
      ],
      "id": "068d438e-de47-45ec-a5a8-3be75091b73d",
      "name": "Get attachments"
    },
    {
      "parameters": {
        "fieldToSplitOut": "fileNames",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1664,
        240
      ],
      "id": "b0e79191-d027-48fa-9e96-86b71ff87184",
      "name": "Split attachments"
    },
    {
      "parameters": {
        "batchSize": "=1",
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1904,
        160
      ],
      "id": "df7009b8-4d70-4e59-a512-32cc2ae912e0",
      "name": "Loop over attachments",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "GPT-4O"
        },
        "text": "=Jesteś modułem analizy pojedynczego obrazu w procesie klasyfikacji zgłoszeń dotyczących pojazdów.\n\nAnalizujesz WYŁĄCZNIE JEDEN obraz naraz.\n\nTwoim celem NIE jest podjęcie finalnej decyzji, czy zgłoszenie ma zostać wpisane do dziennika przebiegu. \nMasz jedynie zwrócić ustrukturyzowane sygnały z pojedynczego obrazu, które później zostaną zagregowane.\n\nMasz działać maksymalnie konserwatywnie i produkcyjnie:\n- nie zgaduj,\n- nie dopowiadaj,\n- nie zakładaj niczego na podstawie domysłów,\n- jeśli czegoś nie widać wyraźnie, oznacz to jako brak pewności,\n- nie próbuj “pomagać” poza zakresem zadania.\n\nZ obrazu oceń następujące rzeczy:\n\n1. Czy obraz przedstawia wnętrze pojazdu, deskę rozdzielczą, licznik, kokpit, ekran auta lub inny element bezpośrednio związany z odczytem przebiegu?\n2. Czy na obrazie widać odczyt przebiegu?\n3. Jeśli tak, spróbuj odczytać przebieg.\n4. Czy na obrazie widać raczej coś wskazującego na inne zgłoszenie eksploatacyjne lub serwisowe, np.:\n   - uszkodzenie elementu pojazdu,\n   - oponę,\n   - karoserię,\n   - silnik,\n   - komorę silnika,\n   - kontrolki awarii bez widocznego przebiegu,\n   - część pojazdu dokumentującą problem, a nie stan licznika?\n5. Zwróć punktowe sygnały, które później posłużą do scoringu.\n\nZasady odczytu przebiegu:\n- Jeśli przebieg jest widoczny i czytelny, zwróć go dokładnie w formacie: \"<LICZBA> km\"\n- tylko cyfry\n- dokładnie jedna spacja przed \"km\"\n- przykład: \"249415 km\"\n- jeśli przebieg nie jest widoczny, jest nieczytelny, ucięty, zasłonięty, rozmyty lub masz jakąkolwiek wątpliwość — zwróć null\n- nie zgaduj brakujących cyfr\n- nie poprawiaj obrazu w myślach\n- nie wyciągaj wniosków z częściowych cyfr\n\nZasady klasyfikacji obrazu:\n- \"odometer\" wybierz tylko gdy obraz rzeczywiście wygląda na licznik / deskę / ekran pojazdu z odczytem lub bardzo silnym kontekstem licznika\n- \"vehicle_issue\" wybierz gdy obraz bardziej dokumentuje problem eksploatacyjny lub serwisowy niż odczyt przebiegu\n- \"other\" wybierz gdy obraz nie daje wiarygodnego sygnału w żadną stronę\n\nMusisz zwrócić WYŁĄCZNIE poprawny JSON, bez żadnego dodatkowego tekstu, komentarzy ani markdown.\n\nZwróć dokładnie taki format:\n\n{\n  \"image_classification\": \"odometer | vehicle_issue | other\",\n  \"shows_vehicle_dashboard\": true,\n  \"shows_odometer_area\": true,\n  \"shows_mileage_value\": true,\n  \"mileage\": \"123456 km\",\n  \"mileage_confidence\": 0.0,\n  \"supports_journal_entry\": true,\n  \"supports_vehicle_issue\": false,\n  \"journal_score\": 0,\n  \"issue_score\": 0,\n  \"confidence\": 0.0,\n  \"evidence\": [\n    \"krótki, rzeczowy powód 1\",\n    \"krótki, rzeczowy powód 2\"\n  ]\n}\n\nWymagania semantyczne pól:\n- \"image_classification\":\n  - \"odometer\" -> obraz wspiera tezę, że zgłoszenie dotyczy wpisu przebiegu\n  - \"vehicle_issue\" -> obraz wspiera tezę, że zgłoszenie dotyczy problemu/eksploatacji/serwisu\n  - \"other\" -> obraz neutralny lub niejednoznaczny\n- \"shows_vehicle_dashboard\": true tylko gdy faktycznie widać deskę, kokpit, zegary lub ekran auta\n- \"shows_odometer_area\": true tylko gdy widać obszar, w którym zwykle znajduje się przebieg\n- \"shows_mileage_value\": true tylko gdy na obrazie rzeczywiście widać możliwy do odczytu przebieg\n- \"mileage\":\n  - \"<LICZBA> km\" jeśli czytelne i pewne\n  - null w każdym innym przypadku\n- \"mileage_confidence\":\n  - liczba od 0 do 1\n  - 0 gdy mileage = null\n- \"supports_journal_entry\":\n  - true tylko gdy obraz realnie wspiera wpis do dziennika przebiegu\n- \"supports_vehicle_issue\":\n  - true tylko gdy obraz realnie wspiera tezę o innym zgłoszeniu eksploatacyjnym/serwisowym\n- \"journal_score\":\n  - liczba całkowita od 0 do 10\n  - 0 = brak wsparcia\n  - 10 = bardzo silne wsparcie dla wpisu przebiegu\n- \"issue_score\":\n  - liczba całkowita od 0 do 10\n  - 0 = brak wsparcia\n  - 10 = bardzo silne wsparcie dla zgłoszenia problemu/eksploatacji/serwisu\n- \"confidence\":\n  - ogólna pewność oceny tego pojedynczego obrazu od 0 do 1\n- \"evidence\":\n  - maksymalnie 3 krótkie powody\n  - bez długich opisów\n  - bez powtarzania tych samych informacji\n\nDodatkowe reguły scoringu:\n- Przyznaj wysoki \"journal_score\" tylko gdy obraz wyraźnie pokazuje licznik / przebieg\n- Przyznaj wysoki \"issue_score\" tylko gdy obraz wyraźnie pokazuje element problemowy, uszkodzenie lub kontekst serwisowy\n- Jeśli obraz jest niejednoznaczny, dawaj niskie score’y\n- Nigdy nie ustawiaj jednocześnie wysokiego \"journal_score\" i wysokiego \"issue_score\", chyba że obraz rzeczywiście zawiera mocne sygnały obu typów, co będzie rzadkie\n- Gdy masz wątpliwość, bądź konserwatywny\n\nJeśli nie da się wiarygodnie ocenić obrazu, zwróć neutralny wynik:\n- \"image_classification\": \"other\"\n- mileage = null\n- niskie score’y\n- confidence niskie",
        "inputType": "base64",
        "binaryPropertyName": "image",
        "options": {
          "detail": "auto",
          "maxTokens": 300
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        2896,
        288
      ],
      "id": "2b392e55-6152-4dc6-b73e-eb2b52713911",
      "name": "Fetch car info",
      "credentials": {
        "openAiApi": {
          "id": "7r6c9PgveQjC7ygm",
          "name": "OpenAi project n8n"
        }
      }
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "content"
            },
            {
              "fieldToAggregate": "attachment"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        3856,
        224
      ],
      "id": "2ed6167d-09a3-4d7a-8126-e122847605ef",
      "name": "Aggregate car info"
    },
    {
      "parameters": {
        "jsCode": "const webhook = $('Webhook').item.json;\nconst asset = $('Get asset summary').item.json.data[0];\nconst user = $('Get user').item.json.data[0];\nconst mileage = $('Car summary').item.json.message.content.mileage;\n\n// Get aggregated NocoBase attachment objects\nlet attachments = [];\ntry {\n  const aggData = $('Aggregate car info').item.json.attachment;\n  if (Array.isArray(aggData)) {\n    attachments = aggData;\n  }\n} catch (e) {\n  attachments = [];\n}\n\nreturn [{\n  json: {\n    data: {\n      vehicle: asset.id,\n      driver: user.id,\n      mileage: mileage || null,\n      subject: webhook.body.subject,\n      originalTitle: webhook.body.subject || null,\n      originalDescription: webhook.body.message || null,\n      attachments: attachments\n    }\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4880,
        -448
      ],
      "id": "74ff31c6-b2a7-4989-af87-b40237742ac9",
      "name": "Final json"
    },
    {
      "parameters": {
        "toRecipients": "={{ $('Get user').item.json.data[0].email }}",
        "subject": "={{ $('Get asset summary').item.json.data[0].organizations[0].name }} - Nowy wpis do rejestru floty pojazdów ",
        "bodyContent": "Dodano nowy wpis do rejestru floty pojazdów.\n\nLink do dziennika: https://knowshare.nazca40.com",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        5360,
        -448
      ],
      "id": "b6771f68-ac58-45e6-8c2b-478a34abba7a",
      "name": "Send email",
      "webhookId": "05965891-c527-4e1c-888e-0cd49922fcda",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "ZDgGFyPP1hNPV1lR",
          "name": "Microsoft Outlook account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Sprawdzenie czy ramka dotyczy zgłoszenia knowshare",
        "height": 432,
        "width": 224,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        464,
        32
      ],
      "id": "f2b4a47c-cbdd-42fa-ae78-b78694c03e39",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## Sprawdzenie czy asset dotyczy samochodu",
        "height": 432,
        "width": 224,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        960,
        32
      ],
      "id": "7e95fc50-b9cd-46cb-9c13-b07aa1bef150",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "## Wylistowanie załączników\n",
        "height": 432,
        "width": 592,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1216,
        32
      ],
      "id": "2b02dbb5-5b64-4416-aac5-431e74af86b3",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "## Pętla analizy obrazu\nW pętli analizowane są obrazy ze zgłoszenia i zwracane są jsony z danymi dotyczącymi samochodu",
        "height": 432,
        "width": 1920,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1840,
        32
      ],
      "id": "1f6de600-eb2d-40ab-a280-ed48a5f7b935",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "content": "## Tworzenie jsona wyjściowego do wpisu dziennika floty\n",
        "height": 432,
        "width": 336,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        4672,
        -640
      ],
      "id": "68c12027-eee8-417d-a644-6d9983051280",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "content": "## Pobranie z bazy info o assecie\n\n\n\n",
        "height": 432,
        "width": 214,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        720,
        32
      ],
      "id": "93ec4ff4-aceb-4954-b758-af2601658aea",
      "name": "Sticky Note12"
    },
    {
      "parameters": {
        "content": "## Wysłanie maila z powiadomieniem\n\n",
        "height": 432,
        "width": 224,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        5296,
        -640
      ],
      "id": "2726caeb-0d6a-4a2f-b42c-76c4e5c6988b",
      "name": "Sticky Note19"
    },
    {
      "parameters": {
        "content": "## Publikacja wpisu w tabeli nocobase\n\n",
        "height": 432,
        "width": 224,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        5040,
        -640
      ],
      "id": "2cd389fb-ad16-4bd1-840d-b58ca0db1c77",
      "name": "Sticky Note23"
    },
    {
      "parameters": {
        "url": "https://nocobase.nazca40.com/api/users",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "filter",
              "value": "={\n  \"nickname\": \"{{ $('Webhook').item.json.body.createdBy }}\",\n  \"organizations.id\": \"{{ $('Get asset summary').item.json.data[0].organizations[0].id }}\"\n}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        4720,
        -448
      ],
      "id": "ab4c3c0b-6093-49b1-93af-31ead1d839dd",
      "name": "Get user",
      "credentials": {
        "httpBearerAuth": {
          "id": "XjWd4OAeIo2QP5V7",
          "name": "Nocobase"
        }
      }
    },
    {
      "parameters": {
        "url": "https://nocobase.nazca40.com/api/assets?appends=organizations,users",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "filter",
              "value": "={\"assetId\":\"{{ $('Webhook').item.json.body.assetId }}\"} "
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        784,
        240
      ],
      "id": "36cd732d-25a3-44af-acfa-da1477ec8e5a",
      "name": "Get asset summary",
      "credentials": {
        "httpBearerAuth": {
          "id": "XjWd4OAeIo2QP5V7",
          "name": "Nocobase"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://nocobase.nazca40.com/api/vehiclesJournal",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.data }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        5104,
        -448
      ],
      "id": "f9b08206-541a-4e30-96fb-fc387ea266c0",
      "name": "Post journal",
      "credentials": {
        "httpBearerAuth": {
          "id": "XjWd4OAeIo2QP5V7",
          "name": "Nocobase"
        }
      }
    },
    {
      "parameters": {
        "bucketName": "={{ $('Webhook').item.json.body.tenantId }}",
        "fileKey": "=cmms/{{ $('Webhook').item.json.body.assetId }}/{{ $('Attachment - chat').item.json.attachment }}",
        "binaryPropertyName": "file"
      },
      "type": "n8n-nodes-base.s3",
      "typeVersion": 1,
      "position": [
        3056,
        288
      ],
      "id": "25a67637-f7a7-42b3-8034-6afb2950848b",
      "name": "Fetch for upload",
      "credentials": {
        "s3": {
          "id": "smwCdXvghDY8DlJz",
          "name": "S3 account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://nocobase.nazca40.com/api/attachments:create",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "file"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        3376,
        288
      ],
      "id": "d2b83ffa-44f9-4d40-b422-4a97429e1b46",
      "name": "Upload to NocoBase",
      "credentials": {
        "httpBearerAuth": {
          "id": "XjWd4OAeIo2QP5V7",
          "name": "Nocobase"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Combine vision result with upload result\nconst visionContent = $('Fetch car info').item.json.content;\nconst uploadData = $json.data || $json;\n\nreturn [{\n  json: {\n    content: visionContent,\n    attachment: uploadData\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3536,
        288
      ],
      "id": "31f93733-845c-45e6-98d4-f32a9afbb4fb",
      "name": "Merge vision + upload"
    },
    {
      "parameters": {
        "jsCode": "// === Listy rozszerzeń ===\nconst IMAGE_EXT = ['png', 'jpg', 'jpeg', 'gif', 'webp'];\nconst AUDIO_EXT = ['mp3','wav','m4a','flac','ogg','oga','webm','mp4','mpeg','mpga','aac'];\nconst VIDEO_EXT = ['mp4', 'webm', 'mov', 'avi', 'mpeg', 'mpg', 'wmv', 'flv', '3gp'];\n\n// === Lista MIME, które traktujemy jak octet-stream ===\nconst UNKNOWN_MIME = ['application/octet-stream','binary/octet-stream','application/x-binary'];\n\nfor (const item of items) {\n  if (!item.binary) continue;\n\n  const bin = Object.values(item.binary)[0];\n  if (!bin || !bin.fileName) continue;\n\n  const fileName = bin.fileName.toLowerCase();\n  const ext = fileName.split('.').pop();\n\n  // === Klasyfikacja logiczna ===\n  let type_ok = 0; // 0=unknown, 1=image, 2=audio, 3=video\n\n  if (IMAGE_EXT.includes(ext)) type_ok = 1;\n  else if (AUDIO_EXT.includes(ext)) type_ok = 2;\n  else if (VIDEO_EXT.includes(ext)) type_ok = 3;\n\n  // === Naprawa MIME type (tylko jeśli nieznany) ===\n  if (UNKNOWN_MIME.includes(bin.mimeType)) {\n    if (type_ok === 1) {\n      bin.mimeType = ext === 'png' ? 'image/png' : 'image/jpeg';\n    } else if (type_ok === 2) {\n      if (ext === 'wav') bin.mimeType = 'audio/wav';\n      else if (ext === 'ogg' || ext === 'oga') bin.mimeType = 'audio/ogg';\n      else bin.mimeType = 'audio/mpeg';\n    } else if (type_ok === 3) {\n      bin.mimeType = ext === 'webm' ? 'video/webm' : 'video/mp4';\n    }\n  }\n\n  // === Zapisz wynik do JSON ===\n  item.json.type_ok = type_ok;\n  item.json.file_extension = ext;\n  item.json.final_mime = bin.mimeType;\n}\n\nreturn items;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3216,
        288
      ],
      "id": "2f6309c9-8d08-4060-a197-d5ab32ad69a7",
      "name": "Change mime type - kanban"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "63f32ffd-2573-4336-beb3-79c11b75b515",
              "leftValue": "={{ $json.fileNames }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1456,
        240
      ],
      "id": "f740cf2d-22f9-4449-b53e-d8ab1463bd86",
      "name": "If"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.content.final_classification }}",
                    "rightValue": "journal_entry",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "8f26ca3d-1f19-4ac3-a655-f14d17ce35ba"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "3d5035f0-b6e4-4c2e-924c-f44f06ad1ec2",
                    "leftValue": "={{ $json.message.content.final_classification }}",
                    "rightValue": "vehicle_issue",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "4b432bf3-57a0-430e-a995-d72177ddec8c",
                    "leftValue": "={{ $json.message.content.final_classification }}",
                    "rightValue": "uncertain",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        4288,
        208
      ],
      "id": "096ba4fe-114b-4938-887c-5e1643b69197",
      "name": "Switch"
    },
    {
      "parameters": {
        "content": "##  Estymacja przypadku\n",
        "height": 432,
        "width": 640,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3792,
        32
      ],
      "id": "7679b8ab-a95d-4003-aa63-67b79a8bed61",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "content": "## Flow dziennika floty\n",
        "height": 608,
        "width": 976
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        4608,
        -736
      ],
      "id": "4983362d-3165-4597-a87a-ba44347b8b2a",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Flow zgłoszeń \n",
        "height": 608,
        "width": 976
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        4608,
        -80
      ],
      "id": "5fe65002-b381-4764-8c60-1561a2e93a3a",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "## Wysłanie maila z powiadomieniem\n\n",
        "height": 432,
        "width": 224,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        4672,
        16
      ],
      "id": "f050a466-ecf3-4255-8ba7-6f830a39d78b",
      "name": "Sticky Note20"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://apagroup.app.n8n.cloud/webhook/24108748-476b-4243-8dd3-647268254fb9",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($('Webhook').item.json.body) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        4736,
        208
      ],
      "id": "32735928-5cd9-40fd-a558-72f2c91c8f79",
      "name": "Post notice",
      "credentials": {
        "httpBearerAuth": {
          "id": "XjWd4OAeIo2QP5V7",
          "name": "Nocobase"
        },
        "httpBasicAuth": {
          "id": "QmXylULo8NVgMnZB",
          "name": "Unnamed credential"
        }
      }
    },
    {
      "parameters": {
        "content": "## Flow zgłoszeń \n",
        "height": 608,
        "width": 976
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        4608,
        576
      ],
      "id": "5c1333da-6d38-4978-af5a-2d41857c0a9b",
      "name": "Sticky Note9"
    },
    {
      "parameters": {
        "content": "## Wysłanie maila z powiadomieniem\n\n",
        "height": 432,
        "width": 224,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        4672,
        672
      ],
      "id": "1e467aeb-fdf2-4e63-8ac0-096b99b0adb8",
      "name": "Sticky Note21"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://apagroup.app.n8n.cloud/webhook/24108748-476b-4243-8dd3-647268254fb9",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ ...$('Webhook').item.json.body, type: 3 }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        4736,
        864
      ],
      "id": "e992ec78-3d44-42db-a70a-17de044d16ac",
      "name": "Post notice1",
      "credentials": {
        "httpBearerAuth": {
          "id": "XjWd4OAeIo2QP5V7",
          "name": "Nocobase"
        },
        "httpBasicAuth": {
          "id": "QmXylULo8NVgMnZB",
          "name": "Unnamed credential"
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Check if it's notice",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if it's notice": {
      "main": [
        [
          {
            "node": "Get asset summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Attachment - chat": {
      "main": [
        [
          {
            "node": "Fetch image - chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set index": {
      "main": [
        [
          {
            "node": "Check index",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check index": {
      "main": [
        [
          {
            "node": "Loop over attachments",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Attachment - chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch image - chat": {
      "main": [
        [
          {
            "node": "Change mime type - chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Change mime type - chat": {
      "main": [
        [
          {
            "node": "Fetch car info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Car summary": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if it's a car": {
      "main": [
        [
          {
            "node": "Get attachments",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get attachments": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split attachments": {
      "main": [
        [
          {
            "node": "Loop over attachments",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop over attachments": {
      "main": [
        [
          {
            "node": "Aggregate car info",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set index",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch car info": {
      "main": [
        [
          {
            "node": "Fetch for upload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate car info": {
      "main": [
        [
          {
            "node": "Car summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Final json": {
      "main": [
        [
          {
            "node": "Post journal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get user": {
      "main": [
        [
          {
            "node": "Final json",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get asset summary": {
      "main": [
        [
          {
            "node": "Check if it's a car",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post journal": {
      "main": [
        [
          {
            "node": "Send email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch for upload": {
      "main": [
        [
          {
            "node": "Change mime type - kanban",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload to NocoBase": {
      "main": [
        [
          {
            "node": "Merge vision + upload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge vision + upload": {
      "main": [
        [
          {
            "node": "Loop over attachments",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Change mime type - kanban": {
      "main": [
        [
          {
            "node": "Upload to NocoBase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Split attachments",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Aggregate car info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Get user",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Post notice",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Post notice1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post notice": {
      "main": [
        []
      ]
    },
    "Post notice1": {
      "main": [
        [
          {
            "node": "Get user",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "When clicking ‘Execute workflow’": [
      {
        "json": {},
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "versionId": "3d9647b4-c591-49bb-b1f7-19f1e2e0f9cb",
  "activeVersionId": null,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2025-11-14T11:57:15.231Z",
      "createdAt": "2025-11-14T11:57:15.231Z",
      "role": "workflow:owner",
      "workflowId": "uawW0w7Ys0QCTDOm",
      "projectId": "98BhLNTRDdyyDRlO"
    },
    {
      "updatedAt": "2025-11-14T12:13:40.656Z",
      "createdAt": "2025-11-14T12:13:40.656Z",
      "role": "workflow:editor",
      "workflowId": "uawW0w7Ys0QCTDOm",
      "projectId": "CjfG3RcAlbeZbF4G"
    }
  ],
  "activeVersion": null,
  "tags": []
}