n8n-Workflow-bk/knowshare---nocodb-integration---stage-.json
{
  "updatedAt": "2026-07-13T07:03:00.809Z",
  "createdAt": "2025-11-20T12:51:10.510Z",
  "id": "bhjAeSzRqg04Ag71",
  "name": "Knowshare - nocodb integration - stage",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        11520,
        3200
      ],
      "id": "321bc85d-2114-4f7a-a8da-72a41c4a70de",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "GPT-4O"
        },
        "text": "=Jesteś ekspertem technicznym i specjalistą od analizy obrazów.\n\nTwoim JEDYNYM ZADANIEM jest wygenerowanie opisu załączonego obrazu.\n\n1. Opis Treści: Wygeneruj **krótki, treściwy i techniczny opis** zawartości zdjęcia w kontekście problemu.\n2. FORMAT: Zwróć **WYŁĄCZNIE SAM TEKST OPISU**. ZABRONIONE jest dodawanie wstępów, tytułów, wyjaśnień, nowych linii, formatowania (Markdown), **podwójnych cudzysłowów (\")**, ani żadnych innych znaków, które mogłyby utrudnić zapis w polu JSON. Tekst musi być pojedynczym ciągiem znaków.",
        "inputType": "base64",
        "binaryPropertyName": "image",
        "options": {
          "detail": "auto",
          "maxTokens": 1000
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        13344,
        2240
      ],
      "id": "a28b3873-4eb9-4836-b54e-a45be6f766c9",
      "name": "Create Picture Summary",
      "retryOnFail": false,
      "maxTries": 2,
      "credentials": {
        "openAiApi": {
          "id": "7r6c9PgveQjC7ygm",
          "name": "OpenAi project n8n"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "content"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        14160,
        2640
      ],
      "id": "6cead72f-71ba-4f18-86d0-b90cb504913f",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"fileNames\":{{ JSON.stringify($('Webhook1').item.json.body.attachments) }}\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        11520,
        2096
      ],
      "id": "3a003ae5-aa01-4e14-8b3a-231de766fb75",
      "name": "Loop parameter - chat"
    },
    {
      "parameters": {
        "fieldToSplitOut": "fileNames",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        11680,
        2080
      ],
      "id": "deb4558e-9014-453d-999e-8c23b205d233",
      "name": "Split Out - chat"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        11872,
        2096
      ],
      "id": "d86c2c6a-9e42-4e6e-a644-8fdcc3c810bd",
      "name": "Loop Over Items - chat",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "jsCode": "const webhookData = $('Webhook1').first().json || {};\nconst indexData = $('Set index').first().json || {};\n\nconst index = Number(indexData.index) || 0;\n\nconst attachments = webhookData.body?.attachments || [];\nconst selectedAttachment = attachments[index] || null;\n\nconst AUDIO_EXT = ['mp3','wav','m4a','flac','ogg','oga','webm','mp4','mpeg','mpga','aac'];\nconst VIDEO_EXT = ['mp4', 'mov', 'mpeg', 'mpg', 'webm', 'wmv', 'flv', '3gp', 'avi'];\nconst IMAGE_EXT = ['png', 'jpg', 'jpeg', 'gif', 'webp'];\n\nlet type_ok = 0;\nlet ext = null;\n\n// BIERZEMY ROZSZERZENIE Z URL, NIE Z filename\nconst fileUrl =\n  typeof selectedAttachment === 'string'\n    ? selectedAttachment\n    : selectedAttachment?.url || null;\n\nif (fileUrl && typeof fileUrl === 'string') {\n  const cleanUrl = fileUrl.split('?')[0];\n  const parts = cleanUrl.split('.');\n  ext = parts.pop()?.toLowerCase() || null;\n}\n\nif (ext) {\n  if (IMAGE_EXT.includes(ext)) {\n    type_ok = 1;\n  } else if (AUDIO_EXT.includes(ext)) {\n    type_ok = 2;\n  } else if (VIDEO_EXT.includes(ext)) {\n    type_ok = 3;\n  }\n}\n\nreturn [\n  {\n    json: {\n      attachment: selectedAttachment,\n      type_ok,\n      ext,\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        12448,
        2272
      ],
      "id": "4c0c5de3-9b26-435b-80ed-f9e619ee740d",
      "name": "Attachment - chat"
    },
    {
      "parameters": {
        "from": "MG57b1eeb171ed820e74d29ebc017e22cc",
        "to": "={{ $json.phone }}",
        "message": "={{ $('Notification data').first().json.message }}",
        "options": {
          "statusCallback": "https://apagroup.app.n8n.cloud/webhook/4732399e-f34f-47dd-9467-2063f222d057"
        }
      },
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        21248,
        2960
      ],
      "id": "d8e2afbf-e27e-44a3-9431-bfb7da037a9b",
      "name": "Twilio",
      "credentials": {
        "twilioApi": {
          "id": "Q2jIhsSZHhL1CrTL",
          "name": "Twilio account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "content": "## Konfiguracja \nKonfiguracja flow odbywa się za pomocą pliku json.\n\nW celu dodania nowego użytkownika do adresatów powiadomień należy go dopisać do listy 'recipients', zawierającej dane adresowe użytkowników. Następnie w celu przypisania użytkownika do powiadomień danej usługi należy jego klucz zawrzeć w liście odbiorców tej usługi. ",
        "height": 520,
        "width": 980,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        12944,
        2960
      ],
      "id": "19d3e56d-3f45-492b-bd7d-621e40753990",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Krok 1 - Analiza obrazu\n\nW ramach tego kroku urachamiana jest pętla analizująca obrazy załączone w wiadomości knowshare. Pętla ograniczona jest obecnie do 2 iteracji. Jako wyjście przekazywane są opisy załączników.",
        "height": 1056,
        "width": 2528,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        11392,
        1872
      ],
      "id": "174eaca0-b8af-4d15-bf67-8b4a95ea430e",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Krok 2 - Tworzenie opisu zbiorczego\n\nW ramach tego kroku uruchamiana jest agregacja powstałych opisów do jednego opisu podsumowującego.",
        "height": 528,
        "width": 500,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        13952,
        2400
      ],
      "id": "5fa54e26-e1b5-44bb-974f-ff63bb1adcf9",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## Krok 3 - zgłoszenie Jira (opcjonalne)  \n",
        "height": 1044,
        "width": 2248
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        15968,
        2448
      ],
      "id": "285b5c06-9a1b-41dc-b420-25783118eedc",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "## Krok 3a - Tworzenie zzgłoszenia z załącznikiem",
        "height": 568,
        "width": 2136,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        16032,
        2528
      ],
      "id": "f59802ca-8352-4f27-a15c-0ae01ddbe988",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "content": "## Krok 5 - Powiadomienie email (opcjonalne)\n\nW ramach tego kroku wysyłąne są powiadomienia e-mail o zgłoszeniu w knowshare. ",
        "height": 476,
        "width": 300,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        21936,
        2928
      ],
      "id": "7eb68770-3262-4e9c-823e-8ac40e4c2c25",
      "name": "Sticky Note9"
    },
    {
      "parameters": {
        "content": "## Podział na analizę tekstu i obrazu",
        "height": 520,
        "width": 500,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        13952,
        2960
      ],
      "id": "b2d6c822-0189-419e-8997-ad7cc6946389",
      "name": "Sticky Note12"
    },
    {
      "parameters": {
        "content": "## Webhook",
        "height": 520,
        "width": 1508,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        11392,
        2960
      ],
      "id": "990108a9-aaba-46a3-b178-7c94d36f4c8f",
      "name": "Sticky Note13"
    },
    {
      "parameters": {
        "content": "## Krok 3.1 - Tworzenie contentu\n\nW ramach tego kroku na podstawie opisu tworzone są temat zgłoszenia, jego treść, oraz realizowane jest samo zgłoszenie n. ",
        "height": 1032,
        "width": 1428,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        14496,
        2448
      ],
      "id": "80ba5c1c-7aa8-4935-a698-c54095277031",
      "name": "Sticky Note15"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "bf08c136-8231-40c2-adad-bb5ced48812e",
              "leftValue": "={{ (() => { const attachments = $('Webhook1').item.json.body.attachments; if (!Array.isArray(attachments)) return []; return attachments .flat(Infinity) .filter(a => a && typeof a === 'object'); })() }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "empty",
                "singleValue": true
              }
            },
            {
              "id": "3139722a-659b-4e66-88f2-b2153ba0c7ac",
              "leftValue": "={{ (() => { const attachments = $('Webhook1').item.json.body.attachments; if (!Array.isArray(attachments)) return []; return attachments .flat(Infinity) .filter(a => a && typeof a === 'object'); })() }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "notExists",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        14160,
        3184
      ],
      "id": "c7e218e7-8635-47a2-aac9-4c633e672ddc",
      "name": "If there are attachments"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "45988ecf-6ec1-4a69-bf28-b8cac853e764",
              "name": "index",
              "value": "={{$runIndex}}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        12080,
        2256
      ],
      "id": "05c4edb0-3877-4581-8d2c-ad7b4ebcf590",
      "name": "Set index"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "62ec8387-d979-403a-a2cf-455d56bff842",
              "leftValue": "={{ $json.index }}",
              "rightValue": 2,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        12224,
        2256
      ],
      "id": "b7a68923-c465-4b33-98d0-ad8141a61ebc",
      "name": "Check index"
    },
    {
      "parameters": {
        "jsCode": "for (const item of items) {\n  if (item.binary && item.binary.image) {\n    item.binary.image.mimeType = 'image/jpeg';\n  }\n}\nreturn items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        13152,
        2240
      ],
      "id": "aa6dad53-d3bb-4f77-8ae5-621730298bbd",
      "name": "Change mime type - chat"
    },
    {
      "parameters": {
        "jsCode": "// Funkcja wykrywająca czy tekst zawiera znaki spoza alfabetu łacińskiego\nfunction isNonLatin(text) {\n    // Znaki spoza zakresu łacińskiego\n    const nonLatinRegex = /[^\\u0000-\\u007F\\u00A0-\\u024F]/;\n    return nonLatinRegex.test(text);\n}\n\n// Funkcja konwertująca tekst do GSM-7\nfunction toGSM7(text) {\n    if (!text) return '';\n\n    // 1. Usuń diakrytyki\n    let normalized = text.normalize('NFD').replace(/[\\u0300-\\u036f]/g, '');\n\n    // 2. Mapa zamian\n    const charMap = {\n        '’': \"'\", '‘': \"'\", '“': '\"', '”': '\"', '–': '-', '—': '-',\n        'ß': 'ss', 'Œ': 'OE', 'œ': 'oe', 'Æ': 'AE', 'ae': 'ae',\n        'ł': 'l', 'Ł': 'L', 'Ø': 'O', 'ø': 'o', 'Đ': 'D', 'đ': 'd'\n    };\n\n    normalized = normalized.split('').map(c => charMap[c] || c).join('');\n\n    // 3. Dozwolone znaki GSM-7\n    const gsm7Chars =\n        '@£$¥èéùìòÇ\\nØø\\rÅåΔ_ΦΓΛΩΠΨΣΘΞ ' +\n        \"abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ\" +\n        \"0123456789\" +\n        \"!\\\"#¤%&'()*+,-./:;<=>?¡ÄÖÑÜ§¿äöñü\";\n\n    // 4. Usuń niedozwolone\n    return normalized.split('').filter(c => gsm7Chars.includes(c)).join('');\n}\n\n// Limity SMS\nconst GSM_LIMIT = 160;\nconst UCS2_LIMIT = 70;\nconst ELLIPSIS = \"...\";\nconst ELLIPSIS_LENGTH = ELLIPSIS.length;\n\n\n// Przetwarzanie itemów\nfor (const item of items) {\n    const input = item.json;\n\n    const smsPartText = $('SMS part 1').first().json.sms_firstPart || '';\n    const itemText = input.output?.[0]?.content?.[0]?.text || '';\n\n    const rawMessage = (smsPartText + itemText).trim();\n\n    // WYKRYWANIE ALFABETU\n    const nonLatin = isNonLatin(rawMessage);\n\n    let finalSmsText;\n\n    if (!nonLatin) {\n        // ============================\n        //   TRYB ŁACIŃSKI (GSM-7)\n        // ============================\n        const cleanMessage = toGSM7(rawMessage);\n\n        if (cleanMessage.length > GSM_LIMIT) {\n            finalSmsText =\n                cleanMessage.substring(0, GSM_LIMIT - ELLIPSIS_LENGTH) + ELLIPSIS;\n        } else {\n            finalSmsText = cleanMessage;\n        }\n\n    } else {\n        // ============================\n        //  TRYB NIEŁACIŃSKI (UCS-2)\n        // ============================\n\n        if (rawMessage.length > UCS2_LIMIT) {\n            finalSmsText =\n                rawMessage.substring(0, UCS2_LIMIT - ELLIPSIS_LENGTH) + ELLIPSIS;\n        } else {\n            finalSmsText = rawMessage;\n        }\n    }\n\n    // Zapis do item.json\n    input.finalSmsText = finalSmsText;\n    input.finalSmsLength = finalSmsText.length;\n}\n\nreturn items;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        19776,
        3008
      ],
      "id": "337162b7-55c9-4bc9-9854-0c366d348567",
      "name": "SMS Final",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "responses": {
          "values": [
            {
              "role": "system",
              "content": "=Jesteś systemem do generowania krótkich, zwięzłych komunikatów SMS.\nTwoje JEDYNE zadanie to sumaryzacja, skracanie i łączenie tekstu.\n\nZASADA KLUCZOWA (NON-NEGOTIABLE):\n1. **ZAKAZ TŁUMACZENIA:** Nigdy, pod żadnym pozorem, nie tłumacz treści. Musisz wykryć i ZACHOWAĆ oryginalny język wejściowy (nawet jeśli jest to język mieszany, niepoprawny lub zawiera błędy).\n2. **KONTRA POLSKI:** Nie zmieniaj języka na polski, chyba że język wejściowy był polski.\n3. **SKRACANIE:** Połącz oba teksty, skróć je do podanego limitu znaków, zachowując sens.\n4. **FORMAT:** Zwróć tylko finalny tekst SMS. Bez cudzysłowów, wyjaśnień, ani formatowania Markdown."
            },
            {
              "content": "=Tytuł: \"{{ $('Task content').item.json.task_title }}\"\nWiadomość: \"{{ $('Task content').item.json.interpretation }} {{ $('Task content').item.json.recommendation }}\"\n\nLimit znaków: {{ $json.sms_contentLimit }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2,
      "position": [
        19184,
        3024
      ],
      "id": "5ec63d92-2e81-4baf-b9a7-460ed7f3c841",
      "name": "Text shortening",
      "credentials": {
        "openAiApi": {
          "id": "7r6c9PgveQjC7ygm",
          "name": "OpenAi project n8n"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "const SMS_LIMIT = 155; //160\n\n// Przetwarzanie każdego elementu w danych\nfor (const item of items) {\n  const input = item.json;\n  \n  // 1. Definiowanie pól\n  const name = $('Webhook1').first().json.body.createdBy || '';\n\n\n  // 2. Łączenie pól w format: \"Imię Nazwisko; Tytuł; \" (Z POLSKIMI ZNAKAMI)\n  // Używamy separatorów \"; \" (dwa znaki)\n  const firstPartRaw = `Knowshare: ${name}; `;\n  \n  // 3. Obliczenie DŁUGOŚCI tej części (na podstawie RAW stringu)\n  const firstPartLength = firstPartRaw.length;\n  \n  // 4. Wyznaczenie różnicy (maksymalnego limitu dla Treści)\n  const maxContentLength = SMS_LIMIT - firstPartLength;\n  \n  // Zapewnienie, że limit nie jest ujemny\n  const finalContentLimit = Math.max(0, maxContentLength);\n  \n  // Dodanie nowych zmiennych do obiektu JSON:\n  // - sms_firstPart: sformatowana część z polskimi znakami\n  // - sms_contentLimit: obliczony limit znaków dla treści (dla Chat GPT)\n  input.sms_firstPart = firstPartRaw;\n  input.sms_contentLimit = finalContentLimit;\n}\n\nreturn items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        19008,
        3024
      ],
      "id": "1b422907-113f-40fa-a63c-4376b0ded990",
      "name": "SMS part 1",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const attachments = $('Webhook1').first().json.body.attachments\n\nconst result = attachments\n  .flat(Infinity)\n  .filter(item => item && item.id)\n  .map(item => ({ id: item.id }));\n\nreturn [\n  {\n    json: {\n      attachments: result\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        16320,
        2688
      ],
      "id": "40b711aa-2215-4fba-a8b4-f4f0ca5c83cf",
      "name": "Attachments list"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "self"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        18416,
        3040
      ],
      "id": "4056ef31-ddaf-4d1a-9cb7-d8c4f7712a56",
      "name": "Aggregate inputs"
    },
    {
      "parameters": {
        "jsCode": "// 1. Pobierz surowy tekst JSON z OpenAI\nlet raw = $input.first().json.output?.[0]?.content?.[0]?.text || \"\";\n\n// 2. Pobranie oryginalnej wiadomości (dla pola task_description)\nconst originalMessage = $('Safe subject and message').first()?.json?.safe_message || \"\";\n\n// 3. Usuń potencjalne znaczniki kodu ```json ... ```\nif (raw.includes(\"```\")) {\n    raw = raw.replace(/```json|```/g, \"\").trim();\n}\n\n// 4. Usuń nadmiarowe białe znaki\nraw = raw.replace(/[\\n\\r\\t\\u00A0\\uFEFF]/g, \" \").trim();\n\nlet parsed;\n\n// 5. Parsowanie JSON z obsługą błędów\ntry {\n    parsed = JSON.parse(raw);\n} catch (error) {\n    return [{\n        json: {\n            task_title: \"\",\n            interpretation: \"\",\n            recommendation: \"\",\n            task_description: \"\",\n            priority: \"\",\n            _error: \"Błąd parsowania JSON: \" + error.message + \" | Czysty ciąg: \" + raw.substring(0, 100) + \"...\"\n        }\n    }];\n}\n\n// 6. Transformacja do oczekiwanego formatu\nconst obj = (Array.isArray(parsed) && parsed.length > 0) ? parsed[0] : parsed;\nconst taskDescriptionData = obj.task_description || {};\n\n// 7. Pobieranie wartości generowanych przez AI\nconst interpretation = taskDescriptionData.interpretation || \"\";\nconst recommendation = taskDescriptionData.recommendation || \"\";\nconst taskTitle = obj.task_title || \"\";\n\n// 8. Mapowanie typu z Webhook na priority\nconst typeRaw = $('Webhook1').first()?.json?.body?.type;\n\nconst priorityMap = {\n    \"03_low\": \"03_low\",\n    \"02_medium\": \"02_medium\",\n    \"01_high\": \"01_high\",\n    \"04_unknown\": \"04_unknown\"\n};\n\nconst priority = priorityMap[typeRaw] ?? \"03_low\"; // fallback domyślny\n\n// 9. Tworzenie nowego pola 'task_description'\nconst newTaskDescription = `1: ${originalMessage} | 2: ${interpretation} | 3: ${recommendation}`;\n\n// 10. Zwrócenie finalnego formatu\nreturn [{\n    json: {\n        task_title: taskTitle,\n        interpretation: interpretation,\n        recommendation: recommendation,\n        task_description: newTaskDescription,\n        priority: priority\n    }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        15472,
        2880
      ],
      "id": "2c6e1a7b-6a84-4f27-b29a-943bbfa900c1",
      "name": "Task content",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "17e1c3b9-d842-4667-b6a9-ab06839b7007",
              "leftValue": "={{ $json.phone }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "b92055c7-b7ec-469e-967a-8011056a838c",
              "leftValue": "={{ $json.smsNotification }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        20976,
        3200
      ],
      "id": "1a123c5c-2504-45bf-a4e7-b61ad77906aa",
      "name": "If sms notification enabled"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "45988ecf-6ec1-4a69-bf28-b8cac853e764",
              "name": "recipients",
              "value": "={{\n(() => {\n\n  const aRaw = $(\"Get org users - attachment\").isExecuted\n    ? $(\"Get org users - attachment\").first()?.json?.data\n    : $(\"Get org users\").first()?.json?.data ?? [];\n\n  const a = Array.isArray(aRaw) ? aRaw : (aRaw ? [aRaw] : []);\n\n  const bRaw = $json.data ?? [];\n  const b = Array.isArray(bRaw) ? bRaw : (bRaw ? [bRaw] : []);\n\n  return [...a, ...b];\n\n})()\n}}",
              "type": "array"
            },
            {
              "id": "4df1a078-86b6-4c57-a90e-46715fc7fedb",
              "name": "message",
              "value": "={{ $('SMS Final').first().json.finalSmsText }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        20240,
        3008
      ],
      "id": "71b22125-7006-41db-80c1-92bfcb161f8f",
      "name": "Notification data"
    },
    {
      "parameters": {
        "fieldToSplitOut": "recipients",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        20432,
        3008
      ],
      "id": "5b4fdcb8-34f1-4fd4-bd88-57fd80902c85",
      "name": "Split notification data"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        20640,
        3184
      ],
      "id": "f8ee58ae-3ede-46c7-adb8-0b01ad1e5bee",
      "name": "Loop over notification data",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "content": "## Krok 4 - Powiadomienie sms (opcjonalne)\n\nW ramach tego kroku wysyłąne są powiadomienia sms o zgłoszeniu w knowshare. ",
        "height": 476,
        "width": 300,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        21136,
        2752
      ],
      "id": "579fbb6e-4770-40c9-8931-ba356770a158",
      "name": "Sticky Note11"
    },
    {
      "parameters": {
        "content": "## Powiadomienia",
        "height": 1020,
        "width": 3996,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        18272,
        2448
      ],
      "id": "e929038b-d0ce-4bbc-9c41-9a953482f16d",
      "name": "Sticky Note14"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "GPT-4O"
        },
        "responses": {
          "values": [
            {
              "role": "system",
              "content": "=Jesteś modułem AI generującym tytuły i opisy zgłoszeń (Trello/Jira).\n\nWejście:\n- message: oryginalna treść zgłoszenia\n- subject: temat zgłoszenia\n- image_description: opis obrazu (opcjonalny)\n\nZasady Generowania Treści:\n1. Wykrywanie polecenia tłumaczenia:\n   Polecenia mogą zawierać słowa/zwroty: \"przetłumacz\", \"przetłumacz na\", \"translate\", \"translate to\", \"zamień język\", \"zmień język\", \"przełóż na\", \"na język\", \"translate into\".\n\n2. Generowanie treści:\n  A. JEŻELI wykryjesz polecenie tłumaczenia w polu message:\n     - Wygeneruj task_title, task_description.interpretation i task_description.recommendation w języku docelowym.\n\n  B. JEŻELI NIE wykryjesz polecenia tłumaczenia:\n     - Wygeneruj task_title, task_description.interpretation i task_description.recommendation w oryginalnym języku pola message.\n\n3. Wymagane pola i limity:\n  - task_title: jedno zdanie, maksymalnie 100 znaków.\n  - task_description.interpretation: opis sytuacji na podstawie message + subject + image_description, maksymalnie 300 znaków.\n  - task_description.recommendation: jedna konkretna rekomendacja, maksymalnie 300 znaków.\n\n4. Zawsze zwracaj wynik wyłącznie w formacie JSON:\n\n[\n  {\n    \"task_title\": \"...\",\n    \"task_description\": {\n      \"interpretation\": \"...\",\n      \"recommendation\": \"...\"\n    }\n  }\n]\n\n5. Nie dodawaj nowych linii ani dodatkowego tekstu. JSON musi być poprawny i bezpieczny.\n"
            },
            {
              "content": "=subject: {{ $('Safe subject and message').item.json.safe_subject }}\nmessage: {{ $('Safe subject and message').item.json.safe_message }}\nimage_description: {{ $json.content.join(' | ') }}\n\nZwróć wyłącznie JSON w powyższym formacie."
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2,
      "position": [
        14864,
        2896
      ],
      "id": "9e642cb9-2994-4175-96c2-291d4b35e871",
      "name": "Create summary",
      "credentials": {
        "openAiApi": {
          "id": "7r6c9PgveQjC7ygm",
          "name": "OpenAi project n8n"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "// Pobierz dane wejściowe z Webhook\nconst subject = $input.first().json.body.subject || \"\";\nconst message = $input.first().json.body.message || \"\";\n\n// Funkcja do oczyszczania tekstu\nfunction sanitizeTextSafe(text) {\n    if (!text) return \"\";\n\n    // 1. Usuń wszystkie znaki kontrolne ASCII (0-31 i 127)\n    text = text.replace(/[\\x00-\\x1F\\x7F]/g, \"\");\n\n    // 2. Usuń potencjalnie niebezpieczne znaki w JSON lub kodzie\n    text = text.replace(/[`\\\\<>${}[\\]]/g, \"\");\n\n    // 3. Usuń wszystkie cudzysłowy i apostrofy (proste + typograficzne)\n    text = text.replace(/[\"'‘’“”„‚«»]/g, \"\");\n\n    // 4. Usuń nadmiarowe białe znaki (nowa linia, tab, niełamiąca spacja)\n    text = text.replace(/[\\n\\r\\t\\u00A0\\uFEFF]/g, \" \").trim();\n\n    // 5. Zamień wielokrotne spacje na pojedynczą\n    text = text.replace(/\\s{2,}/g, \" \");\n\n    return text;\n}\n\n// Oczyszczone pola\nconst safeSubject = sanitizeTextSafe(subject);\nconst safeMessage = sanitizeTextSafe(message);\n\n// Zwrot danych do workflow\nreturn [{\n    json: {\n        safe_subject: safeSubject,\n        safe_message: safeMessage\n    }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        11904,
        3200
      ],
      "id": "968338ed-8400-47f8-a1af-d4f3f3deeadc",
      "name": "Safe subject and message"
    },
    {
      "parameters": {
        "jsCode": "for (const item of items) {\n  if (!item.binary?.audio) continue;\n\n  const file = item.binary.audio;\n  if (!file.fileName) continue;\n\n  const name = file.fileName.toLowerCase();\n\n  if (name.endsWith('.mp3')) file.mimeType = 'audio/mpeg';\n  else if (name.endsWith('.wav')) file.mimeType = 'audio/wav';\n  else if (name.endsWith('.m4a')) file.mimeType = 'audio/mp4';\n  else if (name.endsWith('.flac')) file.mimeType = 'audio/flac';\n  else if (name.endsWith('.ogg') || name.endsWith('.oga')) file.mimeType = 'audio/ogg';\n  else if (name.endsWith('.webm')) file.mimeType = 'audio/webm';\n  else if (name.endsWith('.mp4')) file.mimeType = 'audio/mp4';\n  else if (name.endsWith('.mpeg') || name.endsWith('.mpga')) file.mimeType = 'audio/mpeg';\n  else if (name.endsWith('.aac')) file.mimeType = 'audio/aac';\n  else file.mimeType = 'application/octet-stream'; // fallback\n\n}\n\nreturn items;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        13120,
        2560
      ],
      "id": "69b33dbc-071c-42c0-92b1-57c3869aa805",
      "name": "Change mime type - audio"
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "binaryPropertyName": "audio",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2,
      "position": [
        13312,
        2560
      ],
      "id": "3a10b51c-18dd-44b2-a994-929af00d281a",
      "name": "Audio analyze",
      "credentials": {
        "openAiApi": {
          "id": "7r6c9PgveQjC7ygm",
          "name": "OpenAi project n8n"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "271ca89b-3769-4ebf-bb03-391a60af5ec9",
              "name": "content",
              "value": "={{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        13536,
        2544
      ],
      "id": "73f0d405-4264-452b-9876-a49402f7b990",
      "name": "Prepare audio output"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.type_ok }}",
                    "rightValue": 0,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    },
                    "id": "194bfdf8-66ea-4568-9c3e-b06727c1a7d1"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "f6ea07d3-c359-4002-a0a4-215fad595428",
                    "leftValue": "={{ $json.type_ok }}",
                    "rightValue": 1,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "a6135f05-9ad9-4413-bb95-3dbccdb68618",
                    "leftValue": "={{ $json.type_ok }}",
                    "rightValue": 2,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "394c8abb-c9bc-4397-b294-40c1fe1974d2",
                    "leftValue": "={{ $json.type_ok }}",
                    "rightValue": 3,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        12688,
        2240
      ],
      "id": "9d040eb4-72c7-4c2c-b96d-e6b3e0b26027",
      "name": "Switch - type selection"
    },
    {
      "parameters": {
        "fromEmail": "nazca4@apagroup.pl",
        "toEmail": "marek.rachel@apagroup.pl; grzegorz.bojdo@apagroup.pl",
        "subject": "=Knowshare - wykryto błąd w workflow",
        "emailFormat": "text",
        "text": "=Wykryto błąd w workflow \"Knowshare - nocodb integration\".\n\n{{ $json.body }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        21792,
        2560
      ],
      "id": "0407ee07-dc12-4560-8e1a-a5171e8e9e9f",
      "name": "Send email1",
      "webhookId": "9f28d78f-b148-4340-8f7b-ec95c64bd8de",
      "credentials": {
        "smtp": {
          "id": "bTsU09ZudpWPlOEp",
          "name": "SMTP account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const allErrors = [];\n\nconst nodes = [\n    'Create Picture Summary - error handling',\n    'Audio analyze - error handling',\n    'Create summary - error handling',\n    'Text shortening - error handling',\n    'Twilio - error handling'\n];\n\nfor (const nodeName of nodes) {\n    try {\n        // Pobranie itemu w poprawny sposób\n        const nodeItem = $node[nodeName]?.json;\n\n        if (!nodeItem) continue;\n\n        const nodeError = nodeItem.errorOpenAI1;\n\n        if (\n            typeof nodeError === 'string' &&\n            nodeError.trim().length > 0\n        ) {\n            allErrors.push(nodeError);\n        }\n\n    } catch (err) {\n        continue;\n    }\n}\n\nreturn [{\n    json: {\n        sendEmail: allErrors.length > 0,\n        body: allErrors.join(\"\\n\\n\")\n    }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        21248,
        2576
      ],
      "id": "b4eb6d1e-00bc-4b7f-9649-74936fda9467",
      "name": "Error raport prepare"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "07c6ac0b-42b3-4c95-8613-2beda3e55d83",
              "leftValue": "={{ $json.sendEmail }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        21520,
        2576
      ],
      "id": "1a4bb746-33b0-413e-b2f0-32c97d2347e1",
      "name": "If"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "02c7be48-65a1-41a2-88cb-9b57c3555238",
              "name": "errorOpenAI1",
              "value": "={{ \"Błąd w węźle \\\"Create Picture Summary\\\": \" + $json.error }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        13600,
        2256
      ],
      "id": "45fd9b2e-1ff8-49a1-86a5-5d158263f001",
      "name": "Create Picture Summary - error handling"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "02c7be48-65a1-41a2-88cb-9b57c3555238",
              "name": "errorOpenAI1",
              "value": "={{ \"Błąd w węźle \\\"Audio analyze\\\": \" + $json.error }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        13728,
        2576
      ],
      "id": "39ec6023-08be-4b65-b3b3-e0e4dd2887e7",
      "name": "Audio analyze - error handling"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "02c7be48-65a1-41a2-88cb-9b57c3555238",
              "name": "errorOpenAI1",
              "value": "={{ \"Błąd w węźle \\\"Create summary\\\": \" + $json.error }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        15248,
        3040
      ],
      "id": "3f7d6795-ef28-4d0d-a9cf-28e71db2b84b",
      "name": "Create summary - error handling"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "02c7be48-65a1-41a2-88cb-9b57c3555238",
              "name": "errorOpenAI1",
              "value": "={{ \"Błąd w węźle \\\"Text shortening\\\": \" + $json.error }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        19552,
        3120
      ],
      "id": "600737e1-3a95-4126-8fc5-aee647c45a08",
      "name": "Text shortening - error handling"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "02c7be48-65a1-41a2-88cb-9b57c3555238",
              "name": "errorOpenAI1",
              "value": "={{ \"Błąd w węźle \\\"Twilio\\\": \" + $json.error }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        21472,
        3152
      ],
      "id": "9259237a-b777-43a4-b71e-28cbb4f1899d",
      "name": "Twilio - error handling"
    },
    {
      "parameters": {
        "content": "## Wysłanie e-mail z błędami z wybranych węzłów\nZebranie błędów, przygotowanie treści e-mail i wysłanie",
        "height": 240,
        "width": 880,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        21344,
        2480
      ],
      "id": "fc60e075-ce13-467d-a260-07fce3627bb8",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "url": "https://nocobase.nazca40.com/api/assets?appends=organizations,users,localization",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "filter",
              "value": "={\"assetId\":\"{{ $('Webhook1').item.json.body.assetId }}\"} "
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        13440,
        3184
      ],
      "id": "c30201a0-c460-4743-9835-2752d3b08cc0",
      "name": "Get asset",
      "credentials": {
        "httpBearerAuth": {
          "id": "XjWd4OAeIo2QP5V7",
          "name": "Nocobase"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "f52acffe-ffab-415d-8fb0-a4d3b4a76a53",
              "leftValue": "={{ $('Webhook1').item.json.body.index }}",
              "rightValue": "notices",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        12208,
        3200
      ],
      "id": "e1f10013-cabc-46f5-9e8c-dac0c3bea263",
      "name": "If it is a notice"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://nocobase.nazca40.com/api/knowshare",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n\"asset\":[{\"id\":{{ $('Get asset').item.json.data[0].id }},\n\"assetId\":\"{{ $('Get asset').item.json.data[0].assetId }}\"}],\n\"title\":\"{{ $('Task content').item.json.task_title }}\",\n\"description\":\"{{ $('Task content').item.json.task_description }}\",\n\"originalTitle\":\"{{ $('Safe subject and message').item.json.safe_subject }}\",\n\"originalDescription\":\"{{ $('Safe subject and message').item.json.safe_message }}\",\n\"attachments\": {{ JSON.stringify($('Attachments list').item.json.attachments) }},\n\"reporter\":[{\"id\":{{ $('Get org users - attachment').item.json.data[0].id }}}],\n\"mainImage\": {{ JSON.stringify($json.mainImage) }},\n\"priority\":\"{{ $('Task content').item.json.priority }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        16880,
        2688
      ],
      "id": "612a0fb6-b8e9-4312-afe5-6f5eca02d151",
      "name": "Post knowshare",
      "credentials": {
        "httpBearerAuth": {
          "id": "XjWd4OAeIo2QP5V7",
          "name": "Nocobase"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const input = $('Webhook1').first().json.body.attachments;\n\n// spłaszczenie [[...]] → [...]\nconst flat = Array.isArray(input?.[0]) ? input[0] : input || [];\n\nconst IMAGE_EXT = ['png', 'jpg', 'jpeg', 'gif', 'webp'];\n\n// filtr tylko obrazów po URL\nconst images = flat.filter(item => {\n  const url = item?.url;\n  if (!url || typeof url !== 'string') return false;\n\n  const cleanUrl = url.split('?')[0];\n  const ext = cleanUrl.split('.').pop()?.toLowerCase();\n\n  return IMAGE_EXT.includes(ext);\n});\n\n// mapowanie do formatu [{id: ...}]\nconst mainImage = images.map(img => ({ id: img.id }));\n\nreturn {\n  mainImage\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        16688,
        2688
      ],
      "id": "db364ced-3354-42ec-8411-55e0d0a992b5",
      "name": "Prepare main image",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "https://nocobase.nazca40.com/api/users",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "appends",
              "value": "organizations"
            },
            {
              "name": "filter",
              "value": "={\"organizations\":{\"id\":{{ $('Get asset').item.json.data[0].organizations[0].id }}},\"nickname\":\"{{ $('Webhook1').item.json.body.createdBy }}\"}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        16496,
        2688
      ],
      "id": "551b21a9-02c9-43e5-b617-f6d32b2be75e",
      "name": "Get org users - attachment",
      "credentials": {
        "httpBearerAuth": {
          "id": "XjWd4OAeIo2QP5V7",
          "name": "Nocobase"
        }
      }
    },
    {
      "parameters": {
        "url": "https://nocobase.nazca40.com/api/users",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "appends",
              "value": "organizations"
            },
            {
              "name": "filter",
              "value": "={\"$or\":[{\"organizations.id\":{{ $('Get asset').item.json.data[0].organizations[0].id }},\"managedLocalizations.descendants.id\":{{ $('Get asset').item.json.data[0].localization[0].id }}},{\"organizations.id\":{{ $('Get asset').item.json.data[0].organizations[0].id }},\"managedLocalizations.id\":{{ $('Get asset').item.json.data[0].localization[0].id }}}]}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        20016,
        3008
      ],
      "id": "8d8e8758-8ef2-47d0-bbe2-ec00c17effd0",
      "name": "Get org users - localization admins",
      "credentials": {
        "httpBearerAuth": {
          "id": "XjWd4OAeIo2QP5V7",
          "name": "Nocobase"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b9d5cd56-d0e9-499d-9ff7-e5192819ea11",
              "name": "task_title",
              "value": "={{ $('Task content').first().json.task_title }}",
              "type": "string"
            },
            {
              "id": "f6130010-bc5f-48f7-ad39-2669a18dae12",
              "name": "interpretation",
              "value": "={{ $('Task content').first().json.interpretation }}",
              "type": "string"
            },
            {
              "id": "134f6718-030a-4dec-91cd-154c29163d9a",
              "name": "recommendation",
              "value": "={{ $('Task content').first().json.recommendation }}",
              "type": "string"
            },
            {
              "id": "07f12975-b47b-482b-9617-59e2c43bfa8c",
              "name": "task_description",
              "value": "={{ $('Task content').first().json.task_description }}",
              "type": "string"
            },
            {
              "id": "cb848497-542f-4ed4-a62a-25d7f134f60f",
              "name": "priority",
              "value": "={{ $('Task content').first().json.priority }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        22000,
        2560
      ],
      "id": "84f69ed9-5b3e-4ed6-9abd-949acd85dbb3",
      "name": "Notice"
    },
    {
      "parameters": {
        "url": "={{ $json.attachment.url }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        12928,
        2256
      ],
      "id": "c89c0c73-3d5a-4d4d-9f37-687ade28fa2d",
      "name": "Get image"
    },
    {
      "parameters": {
        "url": "={{ $json.attachment.url }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        12928,
        2496
      ],
      "id": "87a62070-e55a-4d4a-af49-0dd289fb5684",
      "name": "Get audio"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "bf08c136-8231-40c2-adad-bb5ced48812e",
              "leftValue": "={{ \n  (() => {\n    const attachments = $('Webhook1').item.json.body.attachments;\n\n    if (!Array.isArray(attachments)) return [];\n\n    return attachments\n      .flat(Infinity)\n      .filter(a => a && typeof a === 'object');\n  })()\n}}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "empty",
                "singleValue": true
              }
            },
            {
              "id": "3139722a-659b-4e66-88f2-b2153ba0c7ac",
              "leftValue": "={{ \n  (() => {\n    const attachments = $('Webhook1').item.json.body.attachments;\n\n    if (!Array.isArray(attachments)) return [];\n\n    return attachments\n      .flat(Infinity)\n      .filter(a => a && typeof a === 'object');\n  })()\n}}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "notExists",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        16064,
        2784
      ],
      "id": "ca816152-63ce-450e-8a64-4d015e7426ad",
      "name": "If there are attachments1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://nocobase.nazca40.com/api/knowshare",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n\"asset\":[{\"id\":{{ $('Get asset').item.json.data[0].id }},\n\"assetId\":\"{{ $('Get asset').item.json.data[0].assetId }}\"}],\n\"title\":\"{{ $('Task content').item.json.task_title }}\",\n\"description\":\"{{ $('Task content').item.json.task_description }}\",\n\"originalTitle\":\"{{ $('Safe subject and message').item.json.safe_subject }}\",\n\"originalDescription\":\"{{ $('Safe subject and message').item.json.safe_message }}\",\n\"reporter\":[{\"id\":{{ $('Get org users').item.json.data[0].id }}}],\n\"priority\":\"{{ $('Task content').item.json.priority }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        16800,
        2928
      ],
      "id": "867256dd-f4ae-4868-80ef-67f0d8ff08f6",
      "name": "Post knowshare1",
      "credentials": {
        "httpBearerAuth": {
          "id": "XjWd4OAeIo2QP5V7",
          "name": "Nocobase"
        }
      }
    },
    {
      "parameters": {
        "url": "https://nocobase.nazca40.com/api/users",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "appends",
              "value": "organizations"
            },
            {
              "name": "filter",
              "value": "={\"organizations\":{\"id\":{{ $('Get asset').item.json.data[0].organizations[0].id }}},\"nickname\":\"{{ $('Webhook1').item.json.body.createdBy }}\"}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        16592,
        2928
      ],
      "id": "86a38724-e15b-4eab-8a35-5da7412dbd8a",
      "name": "Get org users",
      "credentials": {
        "httpBearerAuth": {
          "id": "XjWd4OAeIo2QP5V7",
          "name": "Nocobase"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "17e1c3b9-d842-4667-b6a9-ab06839b7007",
              "leftValue": "={{ $('Loop over notification data').item.json.email }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "b92055c7-b7ec-469e-967a-8011056a838c",
              "leftValue": "={{ $('Loop over notification data').item.json.emailNotification }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        21760,
        3168
      ],
      "id": "79ef6a1a-09e5-476b-9471-cc2da3f4ebd6",
      "name": "If email notification enabled"
    },
    {
      "parameters": {
        "fromEmail": "nazca4@apagroup.pl",
        "toEmail": "={{ $('Loop over notification data').item.json.email }}",
        "subject": "=[Knowshare] {{ $('Get asset').item.json.data[0].organizations[0].name }} - {{ $('Task content').item.json.task_title }} | Nowe zgłoszenie",
        "html": "=<!DOCTYPE html>\n<html lang=\"pl\">\n<head>\n<meta charset=\"UTF-8\" />\n<meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\" />\n<title>Nowe zgłoszenie</title>\n</head>\n\n<body style=\"margin:0;padding:0;background:#f6f7fb;\">\n<center style=\"width:100%;background:#f6f7fb;\">\n\n<table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"background:#f6f7fb;\">\n<tr>\n<td align=\"center\" style=\"padding:34px 16px;\">\n\n  <!-- CONTAINER -->\n  <table role=\"presentation\" width=\"760\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"width:760px;\">\n\n    <!-- HEADER -->\n    <tr>\n      <td align=\"center\"\n          style=\"padding:6px 4px 20px 4px;\n                 font-family:Inter,'Segoe UI',Arial,Helvetica,sans-serif;\n                 text-align:center;\">\n        <div style=\"font-size:24px;font-weight:800;color:#111827;letter-spacing:.2px;line-height:1.2;\">\n          Nowe zgłoszenie\n        </div>\n        <div style=\"margin-top:8px;font-size:13px;color:#6b7280;line-height:1.55;\">\n          Powiadomienie z analizy treści i rekomendacji (AI).\n        </div>\n      </td>\n    </tr>\n\n    <!-- CARD -->\n    <tr>\n      <td>\n        <table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\"\n               style=\"border:1px solid #e5e7eb;border-radius:16px;background:#ffffff;\">\n\n          <!-- CONTENT -->\n          <tr>\n            <td style=\"padding:28px;\n                       font-family:Inter,'Segoe UI',Arial,Helvetica,sans-serif;\n                       color:#1f2937;\">\n\n              <!-- Temat -->\n              <div style=\"font-size:12px;color:#6b7280;margin-bottom:6px;\">Temat</div>\n              <div style=\"font-size:16px;font-weight:700;color:#1d4ed8;line-height:1.45;\">\n                {{ $('Task content').first().json.task_title }}\n              </div>\n\n              <!-- Asset -->\n              <div style=\"margin-top:14px;font-size:12px;color:#6b7280;margin-bottom:6px;\">Asset</div>\n              <div style=\"font-size:16px;font-weight:700;color:#1f2937;line-height:1.45;\">\n                {{ $('Get asset').item.json.data[0].name }}\n              </div>\n\n              <!-- Autor -->\n              <div style=\"margin-top:14px;font-size:12px;color:#6b7280;margin-bottom:6px;\">Autor</div>\n              <div style=\"font-size:16px;font-weight:700;color:#1f2937;line-height:1.45;\">\n                {{ $('Webhook1').first().json.body.createdBy }}\n              </div>\n\n              <!-- separator -->\n              <div style=\"margin-top:24px;border-top:1px solid #e5e7eb;\"></div>\n\n              <!-- Oryginalne zgłoszenie -->\n              <div style=\"margin-top:18px;font-size:12px;color:#6b7280;margin-bottom:8px;\">\n                Oryginalne zgłoszenie\n              </div>\n\n              <table role=\"presentation\" width=\"100%\">\n                <tr>\n                  <td style=\"background:#f9fafc;\n                             border:1px solid #e5e7eb;\n                             border-radius:12px;\n                             padding:18px 24px;\n                             font-size:14px;\n                             line-height:1.65;\n                             color:#374151;\n                             font-weight:500;\">\n                    {{ $('Safe subject and message').item.json.safe_message }}\n                  </td>\n                </tr>\n              </table>\n\n              <!-- Interpretacja -->\n              <div style=\"margin-top:22px;border-top:1px solid #e5e7eb;\"></div>\n\n              <div style=\"margin-top:18px;font-size:12px;color:#6b7280;margin-bottom:8px;\">\n                Interpretacja AI\n              </div>\n\n              <table role=\"presentation\" width=\"100%\">\n                <tr>\n                  <td style=\"background:#f9fafc;\n                             border:1px solid #e5e7eb;\n                             border-radius:12px;\n                             padding:18px 24px;\n                             font-size:14px;\n                             line-height:1.65;\n                             color:#374151;\n                             font-weight:500;\">\n                    {{ $('Task content').first().json.interpretation }}\n                  </td>\n                </tr>\n              </table>\n\n              <!-- Rekomendacja -->\n              <div style=\"margin-top:22px;border-top:1px solid #e5e7eb;\"></div>\n\n              <div style=\"margin-top:18px;font-size:12px;color:#6b7280;margin-bottom:8px;\">\n                Rekomendacja AI\n              </div>\n\n              <table role=\"presentation\" width=\"100%\">\n                <tr>\n                  <td style=\"background:#f9fafc;\n                             border:1px solid #e5e7eb;\n                             border-radius:12px;\n                             padding:18px 24px;\n                             font-size:14px;\n                             line-height:1.65;\n                             color:#374151;\n                             font-weight:500;\">\n                    {{ $('Task content').first().json.recommendation }}\n                  </td>\n                </tr>\n              </table>\n\n              <!-- Meta -->\n              <div style=\"margin-top:18px;font-size:12px;color:#6b7280;line-height:1.6;\">\n                Lokalizacja: {{ $('Get asset').item.json.data[0].localization[0].localizationPath }}<br/>\n                Asset: {{ $('Get asset').item.json.data[0].name }}\n              </div>\n\n            </td>\n          </tr>\n\n          <!-- FOOTER -->\n          <tr>\n            <td align=\"center\"\n                style=\"background:#f1f3f8;\n                       padding:18px 16px;\n                       font-family:Inter,'Segoe UI',Arial,Helvetica,sans-serif;\n                       color:#6b7280;\n                       font-size:12px;\n                       line-height:1.6;\n                       text-align:center;\n                       border-top:1px solid #e5e7eb;\">\n              Wiadomość wygenerowana automatycznie przez <strong style=\"color:#111827;\">Knowshare</strong>.<br/>\n              © APA Group — Your Technology. Reinvented.\n            </td>\n          </tr>\n\n        </table>\n      </td>\n    </tr>\n\n  </table>\n\n</td>\n</tr>\n</table>\n\n</center>\n</body>\n</html>",
        "options": {
          "appendAttribution": false,
          "ccEmail": "={{ $('Loop over notification data').item.json.notificationCcEmail }}"
        }
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        22016,
        3152
      ],
      "id": "a37fd2be-c0f2-4c2b-aa31-e22c7eaaf2fd",
      "name": "Send email",
      "webhookId": "89f2f4f2-3739-4212-8448-28b992b3fae0",
      "credentials": {
        "smtp": {
          "id": "bTsU09ZudpWPlOEp",
          "name": "SMTP account 2"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ JSON.parse($json.attachments)[0].url }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        17840,
        2816
      ],
      "id": "f10c4fb0-ce4d-40d9-84f9-c2ea12385f2b",
      "name": "Get attachment"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        17664,
        2640
      ],
      "id": "104183d8-ef95-4377-8553-b8dc2ed0bcf8",
      "name": "Loop Over attachments"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n\n\n\"params\": \n{\n},\n\"query\": \n{\n},\n\"body\": \n{\n  \"index\": \"notices\",\n  \"createdAt\": \"2026-07-13T06:26:11.097Z\",\n  \"assetId\": \"08de6254-f1c1-4016-88c0-4efaddae2202\",\n  \"subject\": \"Zgłoszenie publiczne - Serwer\",\n  \"message\": \"Kubek się uszczerbił\\n\\n Zgłoszenie publiczne opublikowane przez anonimowego użytkownika: Michał Kobielski\",\n  \"type\": \"02_medium\",\n  \"createdBy\": \"Anonim\",\n  \"tenantId\": \"08de5726-7f5f-4005-8428-11c6ddd6ad6d\",\n  \"attachments\": [\n    {\n      \"id\": 5795,\n      \"url\": \"https://knowshare-minio.nazca40.com/nocobase/2026-07-1308.25.567172008617497407679-wrx062.jpg?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Content-Sha256=UNSIGNED-PAYLOAD&X-Amz-Credential=admin%2F20260713%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20260713T062610Z&X-Amz-Expires=3600&X-Amz-Signature=aeec66c9e44cfed0bb5ba13f141a5faeea1c90cd84dea12e770450c57c040595&X-Amz-SignedHeaders=host&x-amz-checksum-mode=ENABLED&x-id=GetObject\",\n      \"filename\": \"2026-07-1308.25.567172008617497407679.jpg\"\n    }\n  ]\n}\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        11728,
        3200
      ],
      "id": "2bbea6dc-2254-4ecf-a9f5-26fb92d62003",
      "name": "Webhook1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3098cc33-777a-4914-8879-906f8cad277e",
              "name": "attachments",
              "value": "={{ $('Loop parameter - chat').item.json.fileNames }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        17248,
        2688
      ],
      "id": "a8fe78fb-d1ed-4857-9267-8cbd0ca74768",
      "name": "Attachments list - transfer"
    },
    {
      "parameters": {
        "fieldToSplitOut": "attachments",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        17424,
        2688
      ],
      "id": "77ab9c14-e6a7-47d6-bfd6-6e73a7505901",
      "name": "Split Out"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://knowshare.nazca40.com/backend/api/tenant/{{ $('Webhook1').item.json.body.tenantId }}/storage ",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            },
            {
              "name": "path",
              "value": "=/cmms/{{ $('Webhook1').item.json.body.assetId }}/{{ JSON.parse($json.attachments)[0].filename }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        18000,
        2816
      ],
      "id": "df50b651-dbc2-49ed-a3af-5548a1afb5c2",
      "name": "Upload attachment - nazca",
      "credentials": {
        "httpBearerAuth": {
          "id": "FvHlPgOvSpgFLS9C",
          "name": "Nazca4"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://51.83.252.104:9200/notices/_doc",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{\n{\n  subject: $('Webhook1').item.json.body.subject,\n  assetId: $('Webhook1').item.json.body.assetId,\n  createdAt: $('Webhook1').item.json.body.createdAt,\n  createdBy: $('Webhook1').item.json.body.createdBy,\n  message: $('Webhook1').item.json.body.message,\n  tenantId: $('Webhook1').item.json.body.tenantId,\n  type:({\n  \"01_high\": 2,\n  \"02_medium\": 1,\n  \"03_low\": 0,\n  \"04_unknown\": 0\n})[$('Webhook1').item.json.body.type] ?? 0,\nattachments: ($('Webhook1').item.json.body.attachments ?? []).map(file => ({\n  name: file.filename,\n  path: `/cmms/${$('Webhook1').item.json.body.assetId}/${file.filename}`\n}))\n}\n}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        17072,
        2688
      ],
      "id": "89b41aa4-8877-4246-aada-99179ff5c103",
      "name": "Create record",
      "credentials": {
        "httpBearerAuth": {
          "id": "FvHlPgOvSpgFLS9C",
          "name": "Nazca4"
        },
        "httpBasicAuth": {
          "id": "s0L3Yt9SC0BzPI3a",
          "name": "Knowshare elastic"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://51.83.252.104:9200/notices/_doc",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{\n{\n  subject: $('Webhook1').item.json.body.subject,\n  assetId: $('Webhook1').item.json.body.assetId,\n  createdAt: $('Webhook1').item.json.body.createdAt,\n  createdBy: $('Webhook1').item.json.body.createdBy,\n  message: $('Webhook1').item.json.body.message,\n  tenantId: $('Webhook1').item.json.body.tenantId,\n  type:({\n  \"01_high\": 2,\n  \"02_medium\": 1,\n  \"03_low\": 0,\n  \"04_unknown\": 0\n})[$('Webhook1').item.json.body.type] ?? 0,\nattachments: ($('Webhook1').item.json.body.attachments ?? []).map(file => ({\n  name: file.filename,\n  path: `/cmms/${$('Webhook1').item.json.body.assetId}/${file.filename}`\n}))\n}\n}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        17008,
        2928
      ],
      "id": "d84935d8-b8b2-47b7-96a9-4e6847d4ced3",
      "name": "Create record1",
      "credentials": {
        "httpBearerAuth": {
          "id": "FvHlPgOvSpgFLS9C",
          "name": "Nazca4"
        },
        "httpBasicAuth": {
          "id": "s0L3Yt9SC0BzPI3a",
          "name": "Knowshare elastic"
        }
      },
      "onError": "continueRegularOutput"
    }
  ],
  "connections": {
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "assets params",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript2": {
      "main": [
        [
          {
            "node": "Task content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Picture Summary": {
      "main": [
        [
          {
            "node": "Loop Over Items - chat",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create Picture Summary - error handling",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Create summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop parameter - chat": {
      "main": [
        [
          {
            "node": "Split Out - chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out - chat": {
      "main": [
        [
          {
            "node": "Loop Over Items - chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items - chat": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set index",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Attachment - chat": {
      "main": [
        [
          {
            "node": "Switch - type selection",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Twilio": {
      "main": [
        [
          {
            "node": "Loop over notification data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Twilio - error handling",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If there are attachments": {
      "main": [
        [
          {
            "node": "Create summary",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop parameter - chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set index": {
      "main": [
        [
          {
            "node": "Check index",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check index": {
      "main": [
        [
          {
            "node": "Loop Over Items - chat",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Attachment - chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Change mime type - chat": {
      "main": [
        [
          {
            "node": "Create Picture Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SMS Final": {
      "main": [
        [
          {
            "node": "Get org users - localization admins",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Text shortening": {
      "main": [
        [
          {
            "node": "SMS Final",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Text shortening - error handling",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SMS part 1": {
      "main": [
        [
          {
            "node": "Text shortening",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Attachments list": {
      "main": [
        [
          {
            "node": "Get org users - attachment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate inputs": {
      "main": [
        [
          {
            "node": "SMS part 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Task content": {
      "main": [
        [
          {
            "node": "If there are attachments1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If sms notification enabled": {
      "main": [
        [
          {
            "node": "Twilio",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop over notification data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notification data": {
      "main": [
        [
          {
            "node": "Split notification data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split notification data": {
      "main": [
        [
          {
            "node": "Loop over notification data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop over notification data": {
      "main": [
        [
          {
            "node": "Error raport prepare",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If sms notification enabled",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create summary": {
      "main": [
        [
          {
            "node": "Task content",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create summary - error handling",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Safe subject and message": {
      "main": [
        [
          {
            "node": "If it is a notice",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Change mime type - audio": {
      "main": [
        [
          {
            "node": "Audio analyze",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Audio analyze": {
      "main": [
        [
          {
            "node": "Prepare audio output",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Audio analyze - error handling",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare audio output": {
      "main": [
        [
          {
            "node": "Loop Over Items - chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch - type selection": {
      "main": [
        [
          {
            "node": "Loop Over Items - chat",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get image",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get audio",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items - chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send email1": {
      "main": [
        [
          {
            "node": "Notice",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error raport prepare": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Send email1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Notice",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Picture Summary - error handling": {
      "main": [
        [
          {
            "node": "Loop Over Items - chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Audio analyze - error handling": {
      "main": [
        [
          {
            "node": "Loop Over Items - chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create summary - error handling": {
      "main": [
        [
          {
            "node": "Task content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Text shortening - error handling": {
      "main": [
        [
          {
            "node": "SMS Final",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Twilio - error handling": {
      "main": [
        [
          {
            "node": "Loop over notification data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get asset": {
      "main": [
        [
          {
            "node": "If there are attachments",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If it is a notice": {
      "main": [
        [
          {
            "node": "Get asset",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post knowshare": {
      "main": [
        [
          {
            "node": "Create record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare main image": {
      "main": [
        [
          {
            "node": "Post knowshare",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get org users - attachment": {
      "main": [
        [
          {
            "node": "Prepare main image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get org users - localization admins": {
      "main": [
        [
          {
            "node": "Notification data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get image": {
      "main": [
        [
          {
            "node": "Change mime type - chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get audio": {
      "main": [
        [
          {
            "node": "Change mime type - audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If there are attachments1": {
      "main": [
        [
          {
            "node": "Get org users",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Attachments list",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post knowshare1": {
      "main": [
        [
          {
            "node": "Create record1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get org users": {
      "main": [
        [
          {
            "node": "Post knowshare1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If email notification enabled": {
      "main": [
        [
          {
            "node": "Send email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over attachments": {
      "main": [
        [
          {
            "node": "Aggregate inputs",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get attachment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook1": {
      "main": [
        [
          {
            "node": "Safe subject and message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Attachments list - transfer": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Loop Over attachments",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get attachment": {
      "main": [
        [
          {
            "node": "Upload attachment - nazca",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload attachment - nazca": {
      "main": [
        [
          {
            "node": "Loop Over attachments",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create record": {
      "main": [
        [
          {
            "node": "Attachments list - transfer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create record1": {
      "main": [
        [
          {
            "node": "Aggregate inputs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "errorWorkflow": "bIsCrlr6EX8DNZDK"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "1fd4e72f-51e4-48fb-896b-aa78b069aa3b",
  "activeVersionId": null,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2025-11-20T12:51:10.513Z",
      "createdAt": "2025-11-20T12:51:10.513Z",
      "role": "workflow:owner",
      "workflowId": "bhjAeSzRqg04Ag71",
      "projectId": "98BhLNTRDdyyDRlO"
    },
    {
      "updatedAt": "2025-11-26T06:20:14.625Z",
      "createdAt": "2025-11-26T06:20:14.625Z",
      "role": "workflow:editor",
      "workflowId": "bhjAeSzRqg04Ag71",
      "projectId": "CjfG3RcAlbeZbF4G"
    }
  ],
  "activeVersion": null,
  "tags": []
}