n8n-Workflow-bk/knowshare---nocodb-integration-.json
{
  "updatedAt": "2025-11-20T13:22:41.000Z",
  "createdAt": "2025-11-20T11:40:54.784Z",
  "id": "HLynFWpQ1tyOzZ4W",
  "name": "Knowshare - nocodb integration",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "GPT-4O"
        },
        "messages": {
          "values": [
            {
              "content": "=Jesteś systemem do generowania OPISÓW zgłoszeń Trello. Twoje zadanie to sumaryzacja i skrócenie dostarczonego tekstu do postaci zwięzłego opisu problemu.\n\nZASADA BEZWZGLĘDNA (NON-NEGOTIABLE):\n1. **ZAKAZ TŁUMACZENIA:** Musisz wykryć i ZACHOWAĆ oryginalny język wejściowy. Nigdy, pod żadnym pozorem, nie zmieniaj języka odpowiedzi na polski, chyba że język wejściowy był polski.\n2. **LIMIT:** Opis musi mieć **maksymalnie 500 znaków** i zawierać same konkrety, bez tytułów.\n3. **FORMAT WYJŚCIA (JSON Safe):** Zwróć **wyłącznie** czysty tekst opisu w jednej linii. Nie dodawaj nowych linii, list, nagłówków, formatowania Markdown ani innych elementów, które mogłyby sprawiać problem w JSON. Wszystkie znaki cudzysłowa (\") zamieniaj na apostrofy (').",
              "role": "system"
            },
            {
              "content": "=Treść do przetworzenia na opis:\n{{ $('Create Picture Summary1').item.json.message.content }}"
            }
          ]
        },
        "options": {
          "n": 1,
          "temperature": 0.2,
          "topP": 1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        4128,
        -192
      ],
      "id": "e9636606-914a-4a6f-a6a1-d6206f604d9c",
      "name": "Create Task Content by Picture",
      "credentials": {
        "openAiApi": {
          "id": "7r6c9PgveQjC7ygm",
          "name": "OpenAi project n8n"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "GPT-4O"
        },
        "messages": {
          "values": [
            {
              "content": "=Jesteś systemem do generowania TYTUŁÓW zgłoszeń Trello. Twoje zadanie to skrócenie dostarczonego tekstu do postaci zwięzłego tytułu.\n\nZASADA BEZWZGLĘDNA (NON-NEGOTIABLE):\n1. **ZAKAZ TŁUMACZENIA:** Musisz wykryć i ZACHOWAĆ oryginalny język wejściowy. Nigdy, pod żadnym pozorem, nie zmieniaj języka odpowiedzi na polski, chyba że język wejściowy był polski.\n2. **LIMIT:** Tytuł musi być jednym zdaniem i **NIE MOŻE** przekroczyć 100 znaków.\n3. **FORMAT:** Zwróć **wyłącznie** finalny tekst tytułu. Wszystkie cudzysłowy (\") zamieniaj na apostrofy ('). Bez wstępów, wyjaśnień, nowych linii, czy formatowania Markdown.",
              "role": "system"
            },
            {
              "content": "=Treść do przetworzenia na tytuł:\n{{ $('Create Picture Summary1').item.json.message.content }}"
            }
          ]
        },
        "options": {
          "maxTokens": 200,
          "n": 1,
          "temperature": 0.4,
          "topP": 1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        3840,
        -192
      ],
      "id": "3d699c27-e919-4ff2-ad19-791ffe4628c0",
      "name": "Create Task Title",
      "credentials": {
        "openAiApi": {
          "id": "7r6c9PgveQjC7ygm",
          "name": "OpenAi project n8n"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "GPT-4O"
        },
        "messages": {
          "values": [
            {
              "content": "=Jesteś systemem do generowania opisu zgłoszeń Trello. Twoje zadanie to analiza obrazu i tekstu oraz wygenerowanie krótkiego opisu problemu technicznego.\n\nZASADA BEZWZGLĘDNA (NON-NEGOTIABLE):\n1. **ZAKAZ TŁUMACZENIA:** Musisz wykryć i ZACHOWAĆ oryginalny język z pola 'Opis'. Nigdy, pod żadnym pozorem, nie zmieniaj języka odpowiedzi na polski, chyba że język wejściowy był polski. Odpowiedź musi być w IDNETYCZNYM języku źródłowym.\n2. **ANALIZA WIZUALNA:** Połącz analizę załączonego obrazu z kontekstem z pola 'Opis'.\n3. **TREŚĆ:** Wygeneruj krótki i treściwy opis problemu technicznego, który ma trafić do zgłoszenia Trello.\n4. **FORMAT WYJŚCIA:** Zwróć tylko finalny tekst opisu. Bez tytułów, wyjaśnień, nowych linii, formatowania Markdown, cudzysłowów ani żadnych znaków utrudniających bezpośredni zapis do pola JSON/Trello.",
              "role": "system"
            },
            {
              "content": "=Poniżej znajdują się dane do analizy:\nOpis:  {{ $json.content }}"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        3280,
        -336
      ],
      "id": "08d0a6d1-6b72-4aea-a876-c6d5d3e5e64b",
      "name": "Create Picture Summary1",
      "credentials": {
        "openAiApi": {
          "id": "7r6c9PgveQjC7ygm",
          "name": "OpenAi project n8n"
        }
      }
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "chatgpt-4o-latest",
          "mode": "list",
          "cachedResultName": "CHATGPT-4O-LATEST"
        },
        "text": "=Jesteś ekspertem technicznym i specjalistą od analizy obrazów.\nAnalizuj załączony obraz oraz poniższy opis problemu technicznego.\n\n1. **Identyfikacja Języka:** Najpierw zidentyfikuj język użyty w polu \"OPIS PROBLEMÓW\".\n2. **Generowanie Odpowiedzi:** Wygeneruj **krótki i treściwy opis** zawartości zdjęcia w kontekście zgłoszonego problemu technicznego.\n3. **Wymagany Język Odpowiedzi:** **MUSISZ** odpowiedzieć w **IDNETYCZNYM** języku, który został zidentyfikowany w punkcie 1.\n\nOPIS PROBLEMÓW:\n{{ $('Webhook').item.json.body.message }}\n\nFORMAT ODPOWIEDZI:\nWygeneruj tylko sam tekst opisu. Nie dodawaj żadnych wstępów (np. \"Opis:\", \"Analiza:\"), wyjaśnień, nowych linii, formatowania Markdown (np. *, **), ani żadnych znaków, które utrudnią zapis w pojedynczym polu JSON.",
        "inputType": "base64",
        "binaryPropertyName": "image",
        "options": {
          "detail": "auto",
          "maxTokens": 1000
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        2880,
        -256
      ],
      "id": "a9d5d922-f7d6-4103-8542-63e5a78f4a3e",
      "name": "Create Picture Summary",
      "credentials": {
        "openAiApi": {
          "id": "7r6c9PgveQjC7ygm",
          "name": "OpenAi project n8n"
        }
      }
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "content"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        3120,
        -336
      ],
      "id": "e5f405a7-bf46-43f6-ab59-8a08027ea44e",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"fileNames\":{{ $('Webhook').item.json.body.attachments }}\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1472,
        -384
      ],
      "id": "10d2939f-e336-4796-9145-6916e685a5e4",
      "name": "Loop parameter - chat"
    },
    {
      "parameters": {
        "fieldToSplitOut": "fileNames",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1632,
        -384
      ],
      "id": "c4667a05-6833-4416-bde6-dd85d8a2f21d",
      "name": "Split Out - chat"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1824,
        -384
      ],
      "id": "d30ce03f-2519-45d8-8531-8c51ce8c24ef",
      "name": "Loop Over Items - chat",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "jsCode": "// Pobierz dane z node Webhook i node Set index - jira\nconst webhook = $('Webhook').item.json;\nconst index = $('Set index').item.json.index;\n\n// Wyciągnij tablicę attachments z Webhook body\nconst attachments = webhook?.body?.attachments || [];\n\n// Jeśli index jest poprawny – wybierz odpowiedni załącznik\nconst selectedAttachment = attachments[index] || null;\n\nreturn [\n  {\n    json: {\n      attachment: selectedAttachment\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2272,
        -256
      ],
      "id": "3bdb016d-f354-4986-8b91-88b503e527dc",
      "name": "Attachment - chat"
    },
    {
      "parameters": {
        "from": "MG57b1eeb171ed820e74d29ebc017e22cc",
        "to": "={{ $json.phone }}",
        "message": "={{ $('Notification data').first().json.message }}",
        "options": {
          "statusCallback": "https://apagroup.app.n8n.cloud/webhook/4732399e-f34f-47dd-9467-2063f222d057"
        }
      },
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        9648,
        208
      ],
      "id": "5a10ac01-bfac-40de-b02f-db47460c6457",
      "name": "Twilio",
      "credentials": {
        "twilioApi": {
          "id": "Q2jIhsSZHhL1CrTL",
          "name": "Twilio account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "content": "## Konfiguracja \nKonfiguracja flow odbywa się za pomocą pliku json.\n\nW celu dodania nowego użytkownika do adresatów powiadomień należy go dopisać do listy 'recipients', zawierającej dane adresowe użytkowników. Następnie w celu przypisania użytkownika do powiadomień danej usługi należy jego klucz zawrzeć w liście odbiorców tej usługi. ",
        "height": 520,
        "width": 980,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2048,
        -48
      ],
      "id": "82908178-3cf2-4a59-a414-94dd6b65f50b",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Krok 1 - Analiza obrazu\n\nW ramach tego kroku urachamiana jest pętla analizująca obrazy załączone w wiadomości knowshare. Pętla ograniczona jest obecnie do 2 iteracji. Jako wyjście przekazywane są opisy załączników.",
        "height": 480,
        "width": 1600,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1424,
        -560
      ],
      "id": "31086041-0622-43e8-a512-182d59fe8120",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Krok 2 - Tworzenie opisu zbiorczego\n\nW ramach tego kroku uruchamiana jest agregacja powstałych opisów do jednego opisu podsumowującego.",
        "height": 480,
        "width": 500,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3056,
        -560
      ],
      "id": "dc1e970f-77f4-4473-b7ed-1911c21c015a",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## Krok 3 - zgłoszenie Jira (opcjonalne)  \n",
        "height": 1028,
        "width": 2648
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        5072,
        -560
      ],
      "id": "9dc0bc09-75fa-4461-a27f-60f797783904",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "## Krok 3a - Tworzenie zzgłoszenia z załącznikiem",
        "height": 568,
        "width": 1784,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        5632,
        -528
      ],
      "id": "c64e7998-db94-464b-a282-1fdbf61ad28a",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "content": "## Krok 5 - Powiadomienie email (opcjonalne)\n\nW ramach tego kroku wysyłąne są powiadomienia e-mail o zgłoszeniu w knowshare. ",
        "height": 476,
        "width": 300,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        10064,
        -32
      ],
      "id": "b293dddc-65a2-4e26-aca2-975ce4bb9d71",
      "name": "Sticky Note9"
    },
    {
      "parameters": {
        "content": "## Podział na analizę tekstu i obrazu",
        "height": 520,
        "width": 500,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3056,
        -48
      ],
      "id": "23ab03de-4d0c-4e93-9acf-b15f48afe6fb",
      "name": "Sticky Note12"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "92dbdc9c-4a93-4514-bf6d-a71f53e43803",
              "leftValue": "={{ $('Webhook').item.json.body.attachments }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3648,
        -96
      ],
      "id": "d9338028-1a4f-4852-a7ee-11b85d135850",
      "name": "If7"
    },
    {
      "parameters": {
        "content": "## Webhook",
        "height": 520,
        "width": 580,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1424,
        -48
      ],
      "id": "e9e21064-0639-42f7-81d5-45bc6df80916",
      "name": "Sticky Note13"
    },
    {
      "parameters": {
        "content": "## Krok 3.1 - Tworzenie contentu\n\nW ramach tego kroku na podstawie opisu tworzone są temat zgłoszenia, jego treść, oraz realizowane jest samo zgłoszenie n. ",
        "height": 1032,
        "width": 1428,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3600,
        -560
      ],
      "id": "0af229b7-79d6-4bb0-844e-fd7e73ce9803",
      "name": "Sticky Note15"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "bf08c136-8231-40c2-adad-bb5ced48812e",
              "leftValue": "={{ $('Webhook').item.json.body.attachments }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "empty",
                "singleValue": true
              }
            },
            {
              "id": "3139722a-659b-4e66-88f2-b2153ba0c7ac",
              "leftValue": "={{ $('Webhook').item.json.body.attachments }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "notExists",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3264,
        176
      ],
      "id": "102125a8-64df-45f0-b539-f9a3a7c7074a",
      "name": "If there are attachments"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "45988ecf-6ec1-4a69-bf28-b8cac853e764",
              "name": "index",
              "value": "={{$runIndex}}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1952,
        -256
      ],
      "id": "5f7c8376-cbec-4bc6-a88f-65d89a73d747",
      "name": "Set index"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "62ec8387-d979-403a-a2cf-455d56bff842",
              "leftValue": "={{ $json.index }}",
              "rightValue": 2,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2096,
        -256
      ],
      "id": "c6f1be66-f968-4223-b811-fa0b094c5222",
      "name": "Check index"
    },
    {
      "parameters": {
        "bucketName": "={{ $('Webhook').item.json.body.tenantId }}",
        "fileKey": "=cmms/{{ $('Webhook').item.json.body.assetId }}/{{ $json.attachment }}",
        "binaryPropertyName": "image"
      },
      "type": "n8n-nodes-base.s3",
      "typeVersion": 1,
      "position": [
        2464,
        -256
      ],
      "id": "dda8b9d1-85b9-48cc-9ba3-7de42eb7fcb8",
      "name": "Fetch image - chat",
      "credentials": {
        "s3": {
          "id": "smwCdXvghDY8DlJz",
          "name": "S3 account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "for (const item of items) {\n  if (item.binary && item.binary.image) {\n    item.binary.image.mimeType = 'image/jpeg';\n  }\n}\nreturn items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2688,
        -256
      ],
      "id": "583248f8-f719-4831-bf89-dd48ce194683",
      "name": "Change mime type - chat"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "responses": {
          "values": [
            {
              "role": "system",
              "content": "=Twoim zadaniem jest tłumaczyć pola `task_title` i `task_description` **TYLKO wtedy**, gdy w polu \"message\" znajduje się wyraźne polecenie tłumaczenia.\n\nPolecenia tłumaczenia mogą zawierać słowa/zwroty:\n\"przetłumacz\", \"przetłumacz na\", \"translate\", \"translate to\", \"zamień język\",\n\"zmień język\", \"przełóż na\", \"na język\", \"translate into\".\n\nJeżeli wykryjesz polecenie tłumaczenia:\n1. Ustal język docelowy wskazany w poleceniu.\n2. Przetłumacz `task_title` i `task_description` **wyłącznie na ten język**.\n3. Tłumaczenie wykonuj TYLKO jeśli:\n   • tekst źródłowy jest napisany alfabetem łacińskim\n   • i język docelowy również korzysta z alfabetu łacińskiego.\n4. Nie tłumacz, jeśli język docelowy używa innego alfabetu.\n5. Jeśli język docelowy jest niejednoznaczny lub nieznany → zwróć tekst bez zmian.\n\nJeżeli w polu \"message\" **NIE ma polecenia tłumaczenia**:\n- **Wykryj język tekstu z pola \"message\".**\n- **Zwróć task_title i task_description w dokładnie tym samym języku.**\n- **Nie tłumacz, nie poprawiaj, nie parafrazuj, nie anglicyzuj, nie normalizuj.**\n- **Zachowaj dokładnie ten sam język, nawet jeśli jest to niderlandzki, niemiecki, francuski, polski itp.**\n\nModel NIGDY nie może tłumaczyć automatycznie bez wyraźnego polecenia.\n\nZawsze zwracaj wynik wyłącznie w formacie JSON, bez dodatkowych opisów czy znaków:\n\n{\n  \"task_title\": \"...\",\n  \"task_description\": \"...\"\n}\n"
            },
            {
              "content": "=message: {{ $('Webhook').item.json.body.message }}\ntask_title: {{$json[\"task_title\"]}}\ntask_description: {{$json[\"task_description\"]}}"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2,
      "position": [
        4576,
        -96
      ],
      "id": "ab6af1ce-d08b-4bfc-ac4e-f8eda5dfe704",
      "name": "Translation Option",
      "credentials": {
        "openAiApi": {
          "id": "7r6c9PgveQjC7ygm",
          "name": "OpenAi project n8n"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Funkcja konwertująca tekst do GSM-7\nfunction toGSM7(text) {\n    if (!text) return '';\n\n    // 1. Usuń znaki diakrytyczne z liter łacińskich\n    let normalized = text.normalize('NFD').replace(/[\\u0300-\\u036f]/g, '');\n\n    // 2. Mapa zamiany znaków spoza GSM-7 na zbliżone\n    const charMap = {\n        '’': \"'\", '‘': \"'\", '“': '\"', '”': '\"', '–': '-', '—': '-',\n        'à': 'a', 'á': 'a', 'â': 'a', 'ä': 'a', 'ã': 'a', 'å': 'a',\n        'ç': 'c', 'è': 'e', 'é': 'e', 'ê': 'e', 'ë': 'e',\n        'ì': 'i', 'í': 'i', 'î': 'i', 'ï': 'i',\n        'ñ': 'n', 'ò': 'o', 'ó': 'o', 'ô': 'o', 'ö': 'o', 'õ': 'o',\n        'ù': 'u', 'ú': 'u', 'û': 'u', 'ü': 'u',\n        'ý': 'y', 'ÿ': 'y',\n        'ß': 'ss', 'Œ': 'OE', 'œ': 'oe', 'Æ': 'AE', 'æ': 'ae',\n        'ł': 'l', 'Ł': 'L', 'Ø': 'O', 'ø': 'o', 'Đ': 'D', 'đ': 'd'\n    };\n\n    normalized = normalized.split('').map(c => charMap[c] || c).join('');\n\n    // 3. Definicja znaków dopuszczalnych w GSM-7\n    const gsm7Chars =\n        '@£$¥èéùìòÇ\\nØø\\rÅåΔ_ΦΓΛΩΠΨΣΘΞ ' +\n        \"abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ\" +\n        \"0123456789\" +\n        \"!\\\"#¤%&'()*+,-./:;<=>?¡ÄÖÑÜ§¿äöñü\";\n\n    // 4. Usuń znaki niezgodne z GSM-7\n    return normalized.split('').filter(c => gsm7Chars.includes(c)).join('');\n}\n\n// Limit SMS\nconst SMS_LIMIT = 160;\nconst ELLIPSIS = '...';\nconst ELLIPSIS_LENGTH = ELLIPSIS.length;\n\n// Przetwarzanie każdego elementu w danych\nfor (const item of items) {\n    const input = item.json;\n\n    // Bezpieczne pobranie wszystkich pól tekstowych\n    const smsPartText = $('SMS part 1').first().json.sms_firstPart || '';\n    const itemText = input.output?.[0]?.content?.[0]?.text || '';\n\n    // Połączenie tekstów i trim\n    const rawMessage = (smsPartText + itemText).trim();\n\n    // Konwersja do GSM-7\n    const cleanMessage = toGSM7(rawMessage);\n\n    // Obcinanie do limitu 160 znaków z \"...\"\n    let finalSmsText = cleanMessage;\n    if (cleanMessage.length > SMS_LIMIT) {\n        finalSmsText = cleanMessage.substring(0, SMS_LIMIT - ELLIPSIS_LENGTH) + ELLIPSIS;\n    }\n\n    // Dodanie wyników do JSON\n    input.finalSmsText = finalSmsText;\n    input.finalSmsLength = finalSmsText.length;\n}\n\nreturn items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        8528,
        208
      ],
      "id": "ea22b20c-3c7e-44f0-aa5e-f8eb9cd7b0aa",
      "name": "SMS Final"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "responses": {
          "values": [
            {
              "role": "system",
              "content": "=Jesteś systemem do generowania krótkich, zwięzłych komunikatów SMS.\nTwoje JEDYNE zadanie to sumaryzacja, skracanie i łączenie tekstu.\n\nZASADA KLUCZOWA (NON-NEGOTIABLE):\n1. **ZAKAZ TŁUMACZENIA:** Nigdy, pod żadnym pozorem, nie tłumacz treści. Musisz wykryć i ZACHOWAĆ oryginalny język wejściowy (nawet jeśli jest to język mieszany, niepoprawny lub zawiera błędy).\n2. **KONTRA POLSKI:** Nie zmieniaj języka na polski, chyba że język wejściowy był polski.\n3. **SKRACANIE:** Połącz oba teksty, skróć je do podanego limitu znaków, zachowując sens.\n4. **FORMAT:** Zwróć tylko finalny tekst SMS. Bez cudzysłowów, wyjaśnień, ani formatowania Markdown."
            },
            {
              "content": "=Tytuł: \"{{ $('Translation Option - Parse').item.json.task_title }}\"\nWiadomość: \"{{ $('Translation Option - Parse').item.json.task_description }}\"\n\nLimit znaków: {{ $json.sms_contentLimit }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2,
      "position": [
        8192,
        208
      ],
      "id": "d3f55eb7-fff3-401a-b512-10bd86d2bad3",
      "name": "Text shortening",
      "credentials": {
        "openAiApi": {
          "id": "7r6c9PgveQjC7ygm",
          "name": "OpenAi project n8n"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const SMS_LIMIT = 155; //160\n\n// Przetwarzanie każdego elementu w danych\nfor (const item of items) {\n  const input = item.json;\n  \n  // 1. Definiowanie pól\n  const name = $('Webhook').first().json.body.createdBy || '';\n\n\n  // 2. Łączenie pól w format: \"Imię Nazwisko; Tytuł; \" (Z POLSKIMI ZNAKAMI)\n  // Używamy separatorów \"; \" (dwa znaki)\n  const firstPartRaw = `${name}; `;\n  \n  // 3. Obliczenie DŁUGOŚCI tej części (na podstawie RAW stringu)\n  const firstPartLength = firstPartRaw.length;\n  \n  // 4. Wyznaczenie różnicy (maksymalnego limitu dla Treści)\n  const maxContentLength = SMS_LIMIT - firstPartLength;\n  \n  // Zapewnienie, że limit nie jest ujemny\n  const finalContentLimit = Math.max(0, maxContentLength);\n  \n  // Dodanie nowych zmiennych do obiektu JSON:\n  // - sms_firstPart: sformatowana część z polskimi znakami\n  // - sms_contentLimit: obliczony limit znaków dla treści (dla Chat GPT)\n  input.sms_firstPart = firstPartRaw;\n  input.sms_contentLimit = finalContentLimit;\n}\n\nreturn items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        8016,
        208
      ],
      "id": "b54a1958-3cbd-441b-95a8-18740a20f61a",
      "name": "SMS part 1"
    },
    {
      "parameters": {
        "jsCode": "// Pobierz surowy tekst z pola \"text\"\nlet raw = $input.first().json.output[0].content[0].text || \"\";\n\n// Sprawdź, czy tekst zawiera ```json i usuń jeśli tak\nif (raw.includes(\"```json\")) {\n    raw = raw.replace(/```json\\\\n|```/g, '').replace(/\\\\n/g, '\\n').trim();\n} else {\n    // usuń ewentualne nowe linie i białe znaki z końca\n    raw = raw.trim();\n}\n\n// Spróbuj sparsować JSON\nlet parsed;\ntry {\n    parsed = JSON.parse(raw);\n} catch (error) {\n    // jeśli JSON jest niepoprawny, zwróć puste pola\n    parsed = {\n        task_title: \"\",\n        task_description: \"\"\n    };\n}\n\n// Zwróć jako JSON dla kolejnych węzłów\nreturn [{ json: parsed }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4864,
        -96
      ],
      "id": "2ccee0bd-08e8-42bf-b65d-73704016aa83",
      "name": "Translation Option - Parse"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "c6gReJDAxZwjoiwY",
          "mode": "list",
          "cachedResultUrl": "/workflow/c6gReJDAxZwjoiwY",
          "cachedResultName": "Nocodb - get asset summary"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "assetId": "={{ $('Webhook').item.json.body.assetId }}",
            "case": "Knowshare"
          },
          "matchingColumns": [
            "assetId"
          ],
          "schema": [
            {
              "id": "assetId",
              "displayName": "assetId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "case",
              "displayName": "case",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        2416,
        176
      ],
      "id": "2e69f910-4b30-4922-90c1-2327ee9ed197",
      "name": "Get asset summary"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "45988ecf-6ec1-4a69-bf28-b8cac853e764",
              "name": "index",
              "value": "={{$runIndex}}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        5728,
        -224
      ],
      "id": "c81eb175-5e9e-47f9-b2dd-696f62c1f789",
      "name": "Set index - kanban"
    },
    {
      "parameters": {
        "jsCode": "// Pobierz dane z node Webhook i node Set index - jira\nconst webhook = $('Webhook').item.json;\nconst index = $('Set index - kanban').item.json.index;\n\n// Wyciągnij tablicę attachments z Webhook body\nconst attachments = webhook?.body?.attachments || [];\n\n// Jeśli index jest poprawny – wybierz odpowiedni załącznik\nconst selectedAttachment = attachments[index] || null;\n\nreturn [\n  {\n    json: {\n      attachment: selectedAttachment\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5904,
        -224
      ],
      "id": "449a853c-3d62-45db-90b5-ead1fd357d5e",
      "name": "Attachment - kanban"
    },
    {
      "parameters": {
        "bucketName": "={{ $('Webhook').item.json.body.tenantId }}",
        "fileKey": "=cmms/{{ $('Webhook').item.json.body.assetId }}/{{ $json.attachment }}",
        "binaryPropertyName": "image"
      },
      "type": "n8n-nodes-base.s3",
      "typeVersion": 1,
      "position": [
        6096,
        -224
      ],
      "id": "1c879019-9386-49f4-8fac-8751a3bd4ab4",
      "name": "Fetch image - kanban",
      "credentials": {
        "s3": {
          "id": "smwCdXvghDY8DlJz",
          "name": "S3 account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "for (const item of items) {\n  if (item.binary && item.binary.image) {\n    item.binary.image.mimeType = 'image/jpeg';\n  }\n}\nreturn items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6288,
        -224
      ],
      "id": "e46af721-208c-4855-8519-022d638d5bd3",
      "name": "Change mime type - kanban"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://nocodb.nazca40.com/api/v2/storage/upload",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "xc-token",
              "value": "fKGwFz4C7xPXxLxD5nFh8X0yKJeL6t5i-M8oqR_i"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "image"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        6496,
        -224
      ],
      "id": "ba5a32e5-88a8-4c95-8dba-0708bd967247",
      "name": "Upload image - kanban"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "45988ecf-6ec1-4a69-bf28-b8cac853e764",
              "name": "fileNames",
              "value": "={{ $('Webhook').item.json.body.attachments }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        5904,
        -432
      ],
      "id": "8f898768-bd19-4296-b830-04fb800a0c22",
      "name": "Set attachments - kanban"
    },
    {
      "parameters": {
        "fieldToSplitOut": "fileNames",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        6096,
        -432
      ],
      "id": "4e87f1e1-596d-44e8-b86c-375c291e03fa",
      "name": "Split attachments - kanban"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        6704,
        -224
      ],
      "id": "400d3405-cae5-4fa5-b140-0541aa1d96a1",
      "name": "Loop over attachments",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        6896,
        -224
      ],
      "id": "aac3c199-0b14-45ad-a4b0-c9d9c907ea0b",
      "name": "Aggregate attachments - kanban"
    },
    {
      "parameters": {
        "jsCode": "// Wejście z poprzedniego noda\nconst attachments = $json.data;\n\n// Bez żadnych zmian — jest już w poprawnym formacie NocoDB\nreturn [\n  {\n    attachments\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        7056,
        -224
      ],
      "id": "e5102192-9d99-48b3-9964-998aba6fa9ad",
      "name": "Attachments list"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "bf08c136-8231-40c2-adad-bb5ced48812e",
              "leftValue": "={{ $('Webhook').item.json.body.attachments }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        5184,
        32
      ],
      "id": "872af408-a8fc-4654-ac13-3cdf8f93577a",
      "name": "If there are attachments - kanban"
    },
    {
      "parameters": {
        "content": "## Krok 3a - Tworzenie zgłoszenia bez załącznika\n",
        "height": 344,
        "width": 1784,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        5632,
        64
      ],
      "id": "bec482ab-13d9-4d2f-85e4-14250ae7dc63",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "authentication": "nocoDbApiToken",
        "operation": "create",
        "projectId": "={{ $('Get asset summary').item.json.table.BaseId }}",
        "table": "={{ $('Get asset summary').item.json.table.TableId }}",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldName": "Title",
              "fieldValue": "={{ $('Task content').item.json.task_title }}"
            },
            {
              "fieldName": "Description",
              "fieldValue": "={{ $('Task content').item.json.task_description }}"
            },
            {
              "fieldName": "CreatedBy",
              "fieldValue": "={{ $('Webhook').item.json.body.createdBy }}"
            },
            {
              "fieldName": "Asset",
              "fieldValue": "={{ $('Get asset summary').item.json.asset.assetName }}"
            },
            {
              "fieldName": "Attachments",
              "fieldValue": "={{ $json.attachments }}"
            },
            {
              "fieldName": "OriginalTitle",
              "fieldValue": "={{ $('Webhook').item.json.body.subject }}"
            },
            {
              "fieldName": "OriginalDescription",
              "fieldValue": "={{ $('Webhook').item.json.body.message }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.nocoDb",
      "typeVersion": 3,
      "position": [
        7216,
        -224
      ],
      "id": "54abeac4-be68-4981-9500-78adb52a4724",
      "name": "Create a task",
      "credentials": {
        "nocoDbApiToken": {
          "id": "qeCZEzG9ppXPu7Mh",
          "name": "NocoDB Token account"
        }
      }
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "self"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        7824,
        208
      ],
      "id": "afa2972f-162d-421a-8183-67e33c625c20",
      "name": "Aggregate inputs"
    },
    {
      "parameters": {
        "toRecipients": "={{ $('Loop over notification data').item.json.email }}",
        "subject": "Knowshare - nowe zadanie",
        "bodyContent": "=Temat: {{ $('Task content').first().json.task_title }}\nTreść: {{ $('Task content').first().json.task_description }}\nOryginalne zgłoszenie: {{ $('Webhook').first().json.body.message }}\nAsset: {{ $('Get asset summary').item.json.asset.assetName }}\nAutor: {{ $('Webhook').first().json.body.createdBy }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        10160,
        208
      ],
      "id": "f806db3a-82ec-422b-93f9-422e426da475",
      "name": "Send an email",
      "webhookId": "97f3e316-93d1-4246-9912-9eb0335bf788",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "I8vnEihffZSIdc4c",
          "name": "Microsoft Outlook account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "let title;\nlet description;\n\n// --- Pobranie tytułu z OpenAI (fallback)\ntry {\n\ttitle = $('Create Task Title').item.json.message.content;\n} catch {\n\t//title = $('Create Task Title from Text').item.json.message.content;\n\ttitle =   $('Webhook').first().json.body.subject;\n}\n\n// --- Pobranie opisu z OpenAI (fallback)\ntry {\n\tdescription = $('Create Task Content by Picture').item.json.message.content;\n} catch {\n\t//description = $('Create Task Content').item.json.message.content;\n\tdescription =   $('Webhook').first().json.body.message;\n}\n\n\nreturn [\n\t{\n\t\tjson: {\n\t\t\ttask_title: title,\n\t\t\ttask_description: description\n\t\t}\n\t}\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4432,
        -96
      ],
      "id": "4ed3f5e7-1bf7-461e-9177-e5d93202d5b3",
      "name": "Task content"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "17e1c3b9-d842-4667-b6a9-ab06839b7007",
              "leftValue": "={{ $json.phone }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "b92055c7-b7ec-469e-967a-8011056a838c",
              "leftValue": "={{ $json.smsNotification }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        9312,
        208
      ],
      "id": "1036c1bb-1861-4fd3-8eb9-ff1db23db2ce",
      "name": "If sms notification enabled"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "45988ecf-6ec1-4a69-bf28-b8cac853e764",
              "name": "recipients",
              "value": "={{ $('Get asset summary').first().json.users }}",
              "type": "array"
            },
            {
              "id": "4df1a078-86b6-4c57-a90e-46715fc7fedb",
              "name": "message",
              "value": "={{ $('SMS part 1').item.json.sms_firstPart }}{{ $('Translation Option - Parse').first().json.task_description }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        8736,
        208
      ],
      "id": "a2d25622-7f54-4cb3-b3c8-ed8bc5bf0cd1",
      "name": "Notification data"
    },
    {
      "parameters": {
        "fieldToSplitOut": "recipients",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        8944,
        208
      ],
      "id": "8dc02c5b-f8e1-4720-b2c1-0fc6f5041066",
      "name": "Split notification data"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        9136,
        208
      ],
      "id": "03485367-b24c-45fb-b667-bc718e9e0ef0",
      "name": "Loop over notification data",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "17e1c3b9-d842-4667-b6a9-ab06839b7007",
              "leftValue": "={{ $('Loop over notification data').item.json.email }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "b92055c7-b7ec-469e-967a-8011056a838c",
              "leftValue": "={{ $('Loop over notification data').item.json.emailNotification }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        9904,
        208
      ],
      "id": "93bff4ea-885c-4657-b12a-1ddbba5043ae",
      "name": "If email notification enabled"
    },
    {
      "parameters": {
        "content": "## Krok 4 - Powiadomienie sms (opcjonalne)\n\nW ramach tego kroku wysyłąne są powiadomienia sms o zgłoszeniu w knowshare. ",
        "height": 476,
        "width": 300,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        9536,
        -32
      ],
      "id": "79284147-ebe7-4fc5-8ecc-8ce701f6db1c",
      "name": "Sticky Note11"
    },
    {
      "parameters": {
        "content": "## Powiadomienia",
        "height": 540,
        "width": 2700,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        7744,
        -64
      ],
      "id": "404c65ee-07a2-4467-8de3-acc5e1dd4a1b",
      "name": "Sticky Note14"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "9fa3910c-8207-4351-b79b-b74b65ec4a3c",
        "authentication": "basicAuth",
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        1568,
        176
      ],
      "id": "54ae2d96-82d9-4537-afd4-0963fd99ea2d",
      "name": "Webhook",
      "webhookId": "9fa3910c-8207-4351-b79b-b74b65ec4a3c",
      "credentials": {
        "httpBasicAuth": {
          "id": "QmXylULo8NVgMnZB",
          "name": "Unnamed credential"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "945dfa76-3c1d-436a-aef2-617ef8539061",
              "leftValue": "={{ $json.body.index }}",
              "rightValue": "notices",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1744,
        176
      ],
      "id": "94280dad-8e98-4b5c-9ffa-b7000daf54b1",
      "name": "If it's notice"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "945dfa76-3c1d-436a-aef2-617ef8539061",
              "leftValue": "={{ $json.asset.isCar }}",
              "rightValue": "notices",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2624,
        176
      ],
      "id": "7cad426e-f8f4-4c45-8f81-dc0870e7732d",
      "name": "If it's not a car"
    },
    {
      "parameters": {
        "authentication": "nocoDbApiToken",
        "operation": "create",
        "projectId": "={{ $('Get asset summary').item.json.table.BaseId }}",
        "table": "={{ $('Get asset summary').item.json.table.TableId }}",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldName": "Title",
              "fieldValue": "={{ $('Task content').item.json.task_title }}"
            },
            {
              "fieldName": "Description",
              "fieldValue": "={{ $('Task content').item.json.task_description }}"
            },
            {
              "fieldName": "CreatedBy",
              "fieldValue": "={{ $('Webhook').item.json.body.createdBy }}"
            },
            {
              "fieldName": "Asset",
              "fieldValue": "={{ $('Get asset summary').item.json.asset.assetName }}"
            },
            {
              "fieldName": "Attachments",
              "fieldValue": "={{ $json.attachments }}"
            },
            {
              "fieldName": "OriginalTitle",
              "fieldValue": "={{ $('Webhook').item.json.body.subject }}"
            },
            {
              "fieldName": "OriginalDescription",
              "fieldValue": "={{ $('Webhook').item.json.body.message }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.nocoDb",
      "typeVersion": 3,
      "position": [
        6400,
        160
      ],
      "id": "52cd3ce8-d844-4b0a-acf5-e504db8a2b22",
      "name": "Create a task without attachments",
      "credentials": {
        "nocoDbApiToken": {
          "id": "qeCZEzG9ppXPu7Mh",
          "name": "NocoDB Token account"
        }
      }
    }
  ],
  "connections": {
    "Create Task Content by Picture": {
      "main": [
        [
          {
            "node": "Task content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Task Title": {
      "main": [
        [
          {
            "node": "Create Task Content by Picture",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Picture Summary1": {
      "main": [
        [
          {
            "node": "If7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Picture Summary": {
      "main": [
        [
          {
            "node": "Loop Over Items - chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Create Picture Summary1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop parameter - chat": {
      "main": [
        [
          {
            "node": "Split Out - chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out - chat": {
      "main": [
        [
          {
            "node": "Loop Over Items - chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items - chat": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set index",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Attachment - chat": {
      "main": [
        [
          {
            "node": "Fetch image - chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Twilio": {
      "main": [
        [
          {
            "node": "If email notification enabled",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If7": {
      "main": [
        [
          {
            "node": "Create Task Title",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Task content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If there are attachments": {
      "main": [
        [
          {
            "node": "If7",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop parameter - chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set index": {
      "main": [
        [
          {
            "node": "Check index",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check index": {
      "main": [
        [
          {
            "node": "Loop Over Items - chat",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Attachment - chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch image - chat": {
      "main": [
        [
          {
            "node": "Change mime type - chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Change mime type - chat": {
      "main": [
        [
          {
            "node": "Create Picture Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "assets params",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript2": {
      "main": [
        [
          {
            "node": "Task content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Translation Option": {
      "main": [
        [
          {
            "node": "Translation Option - Parse",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Text shortening": {
      "main": [
        [
          {
            "node": "SMS Final",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SMS part 1": {
      "main": [
        [
          {
            "node": "Text shortening",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SMS Final": {
      "main": [
        [
          {
            "node": "Notification data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Translation Option - Parse": {
      "main": [
        [
          {
            "node": "If there are attachments - kanban",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get asset summary": {
      "main": [
        [
          {
            "node": "If it's not a car",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set index - kanban": {
      "main": [
        [
          {
            "node": "Attachment - kanban",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Attachment - kanban": {
      "main": [
        [
          {
            "node": "Fetch image - kanban",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch image - kanban": {
      "main": [
        [
          {
            "node": "Change mime type - kanban",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Change mime type - kanban": {
      "main": [
        [
          {
            "node": "Upload image - kanban",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload image - kanban": {
      "main": [
        [
          {
            "node": "Loop over attachments",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set attachments - kanban": {
      "main": [
        [
          {
            "node": "Split attachments - kanban",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split attachments - kanban": {
      "main": [
        [
          {
            "node": "Loop over attachments",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop over attachments": {
      "main": [
        [
          {
            "node": "Aggregate attachments - kanban",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set index - kanban",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate attachments - kanban": {
      "main": [
        [
          {
            "node": "Attachments list",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Attachments list": {
      "main": [
        [
          {
            "node": "Create a task",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If there are attachments - kanban": {
      "main": [
        [
          {
            "node": "Set attachments - kanban",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create a task without attachments",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a task": {
      "main": [
        [
          {
            "node": "Aggregate inputs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate inputs": {
      "main": [
        [
          {
            "node": "SMS part 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send an email": {
      "main": [
        [
          {
            "node": "Loop over notification data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Task content": {
      "main": [
        [
          {
            "node": "Translation Option",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If sms notification enabled": {
      "main": [
        [
          {
            "node": "Twilio",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If email notification enabled",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notification data": {
      "main": [
        [
          {
            "node": "Split notification data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split notification data": {
      "main": [
        [
          {
            "node": "Loop over notification data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop over notification data": {
      "main": [
        [],
        [
          {
            "node": "If sms notification enabled",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If email notification enabled": {
      "main": [
        [
          {
            "node": "Send an email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop over notification data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "If it's notice",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If it's notice": {
      "main": [
        [
          {
            "node": "Get asset summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If it's not a car": {
      "main": [
        [
          {
            "node": "If there are attachments",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a task without attachments": {
      "main": [
        [
          {
            "node": "Aggregate inputs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "apagroup.app.n8n.cloud",
            "user-agent": "axios/1.12.0",
            "content-length": "530",
            "accept": "application/json,text/html,application/xhtml+xml,application/xml,text/*;q=0.9, image/*;q=0.8, */*;q=0.7",
            "accept-encoding": "gzip, br",
            "authorization": "Basic bmF6Y2E6IyRrbm93c2hhcmUkIw==",
            "cdn-loop": "cloudflare; loops=1; subreqs=1",
            "cf-connecting-ip": "20.218.238.116",
            "cf-ew-via": "15",
            "cf-ipcountry": "DE",
            "cf-ray": "9a03df29e5a06d26-FRA",
            "cf-visitor": "{\"scheme\":\"https\"}",
            "cf-worker": "n8n.cloud",
            "content-type": "application/json",
            "x-forwarded-for": "20.218.238.116, 104.23.239.53",
            "x-forwarded-host": "apagroup.app.n8n.cloud",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "traefik-prod-users-gwc-38-6f9f659dd9-865tl",
            "x-is-trusted": "yes",
            "x-real-ip": "20.218.238.116"
          },
          "params": {},
          "query": {},
          "body": {
            "index": "notices",
            "createdAt": "2025-10-27T06:58:47.5677181Z",
            "assetId": "08dd6221-813c-437b-8d19-6678e11a55f5",
            "subject": "Uszczerbiony kubek!",
            "message": "Znaleziono uszczerbiony kubek w szawce z naczyniami dla gości. Prośba o wymianę na nowy",
            "type": 0,
            "createdBy": "test test",
            "tenantId": "08dd5714-941b-4e58-817b-934c403cebb5",
            "attachments": [
              "ff57b48d-0c93-4e9d-8d19-32519adae5f98684434820700654792.jpg",
              "52ee9c9e-54e8-4328-950f-13bab0bd3ff74756521684993759038.jpg",
              "babf1377-bdfa-4e2a-9c8f-2fa87af3cfc6254830784995343420.jpg"
            ]
          },
          "webhookUrl": "https://apagroup.app.n8n.cloud/webhook/9fa3910c-8207-4351-b79b-b74b65ec4a3c",
          "executionMode": "production"
        }
      }
    ]
  },
  "versionId": "6a336140-930b-4860-862a-175d09d2e0a3",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2025-11-20T11:40:54.787Z",
      "createdAt": "2025-11-20T11:40:54.787Z",
      "role": "workflow:owner",
      "workflowId": "HLynFWpQ1tyOzZ4W",
      "projectId": "98BhLNTRDdyyDRlO"
    },
    {
      "updatedAt": "2025-11-26T06:20:05.993Z",
      "createdAt": "2025-11-26T06:20:05.993Z",
      "role": "workflow:editor",
      "workflowId": "HLynFWpQ1tyOzZ4W",
      "projectId": "CjfG3RcAlbeZbF4G"
    }
  ],
  "tags": []
}