n8n-Workflow-bk/knowshare---nocodb-integration-v4-.json
{
  "updatedAt": "2025-12-09T10:12:29.000Z",
  "createdAt": "2025-12-09T08:00:59.040Z",
  "id": "CCIhYrFMYvO4qMma",
  "name": "Knowshare - nocodb integration V4",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "chatgpt-4o-latest",
          "mode": "list",
          "cachedResultName": "CHATGPT-4O-LATEST"
        },
        "text": "=Jesteś ekspertem technicznym i specjalistą od analizy obrazów.\n\nTwoim JEDYNYM ZADANIEM jest wygenerowanie opisu załączonego obrazu.\n\n1. Opis Treści: Wygeneruj **krótki, treściwy i techniczny opis** zawartości zdjęcia w kontekście problemu.\n2. FORMAT: Zwróć **WYŁĄCZNIE SAM TEKST OPISU**. ZABRONIONE jest dodawanie wstępów, tytułów, wyjaśnień, nowych linii, formatowania (Markdown), **podwójnych cudzysłowów (\")**, ani żadnych innych znaków, które mogłyby utrudnić zapis w polu JSON. Tekst musi być pojedynczym ciągiem znaków.",
        "inputType": "base64",
        "binaryPropertyName": "image",
        "options": {
          "detail": "auto",
          "maxTokens": 1000
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        2464,
        -784
      ],
      "id": "0a0a77f6-3c24-41ee-bf62-6ef04ed8c6ff",
      "name": "Create Picture Summary",
      "retryOnFail": false,
      "maxTries": 2,
      "credentials": {
        "openAiApi": {
          "id": "7r6c9PgveQjC7ygm",
          "name": "OpenAi project n8n"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "content"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        3232,
        -336
      ],
      "id": "2f18a5d1-daf8-4b97-8aab-255505106d4d",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"fileNames\":{{ $('Webhook').item.json.body.attachments }}\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        624,
        -912
      ],
      "id": "65540560-bfe6-4dfa-b489-9c14fae4cdd6",
      "name": "Loop parameter - chat"
    },
    {
      "parameters": {
        "fieldToSplitOut": "fileNames",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        784,
        -912
      ],
      "id": "5da86d5c-6c1d-48cd-a13b-45bb377621e3",
      "name": "Split Out - chat"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        976,
        -912
      ],
      "id": "5a8e7177-572c-421d-b231-97e674fa5708",
      "name": "Loop Over Items - chat",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "jsCode": "// Bezpieczne pobieranie danych z poprzednich węzłów.\nconst webhookData = $('Webhook').first().json || {};\nconst indexData = $('Set index').first().json || {};\n\n// Zabezpieczony indeks załącznika\nconst index = Number(indexData.index) || 0; \n\n// Tablica załączników\nconst attachments = webhookData.body?.attachments || [];\nconst selectedAttachment = attachments[index] || null;\n\n// Definicje rozszerzeń plików\nconst AUDIO_EXT = ['mp3','wav','m4a','flac','ogg','oga','webm','mp4','mpeg','mpga','aac'];\nconst VIDEO_EXT = ['mp4', 'mov', 'mpeg', 'mpg', 'webm', 'wmv', 'flv', '3gp', 'avi'];\nconst IMAGE_EXT = ['png', 'jpg', 'jpeg', 'gif', 'webp'];\n\n// Klasyfikacja: 0 = unknown, 1 = image, 2 = audio (OpenAI), 3 = video (Gemini)\nlet type_ok = 0;\nlet fileName = null;\n\n// Pobieranie nazwy pliku\nif (typeof selectedAttachment === 'string') {\n    fileName = selectedAttachment;\n} else if (typeof selectedAttachment === 'object' && selectedAttachment?.filename) {\n    fileName = selectedAttachment.filename;\n}\n\n// Logika klasyfikacji\nif (fileName) {\n    const normalized = fileName.toLowerCase(); \n    const ext = normalized.split('.').pop(); // Wyciągnij samo rozszerzenie\n\n    if (ext) { // Sprawdź, czy rozszerzenie istnieje\n        if (IMAGE_EXT.includes(ext)) {\n            type_ok = 1; \n        } else if (AUDIO_EXT.includes(ext)) {\n            type_ok = 2;\n        } else if (VIDEO_EXT.includes(ext)) {\n            type_ok = 3; \n        }\n    }\n}\n\nreturn [\n    {\n        json: {\n            attachment: selectedAttachment,\n            type_ok: type_ok,\n        }\n    }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1472,
        -768
      ],
      "id": "3e8cd660-c049-44e5-8fa4-0106d894bb4a",
      "name": "Attachment - chat"
    },
    {
      "parameters": {
        "from": "MG57b1eeb171ed820e74d29ebc017e22cc",
        "to": "={{ $json.phone }}",
        "message": "={{ $('Notification data').first().json.message }}",
        "options": {
          "statusCallback": "https://apagroup.app.n8n.cloud/webhook/4732399e-f34f-47dd-9467-2063f222d057"
        }
      },
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        10000,
        -32
      ],
      "id": "fc3f56f6-fff6-4636-9527-256bb6d68721",
      "name": "Twilio",
      "credentials": {
        "twilioApi": {
          "id": "Q2jIhsSZHhL1CrTL",
          "name": "Twilio account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "content": "## Konfiguracja \nKonfiguracja flow odbywa się za pomocą pliku json.\n\nW celu dodania nowego użytkownika do adresatów powiadomień należy go dopisać do listy 'recipients', zawierającej dane adresowe użytkowników. Następnie w celu przypisania użytkownika do powiadomień danej usługi należy jego klucz zawrzeć w liście odbiorców tej usługi. ",
        "height": 520,
        "width": 980,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2048,
        -48
      ],
      "id": "3d652c87-099d-410d-b965-933e424b9f71",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Krok 1 - Analiza obrazu\n\nW ramach tego kroku urachamiana jest pętla analizująca obrazy załączone w wiadomości knowshare. Pętla ograniczona jest obecnie do 2 iteracji. Jako wyjście przekazywane są opisy załączników.",
        "height": 1056,
        "width": 2528,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        496,
        -1136
      ],
      "id": "dc7a5884-42b3-4e1a-9a49-a14a53505f51",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Krok 2 - Tworzenie opisu zbiorczego\n\nW ramach tego kroku uruchamiana jest agregacja powstałych opisów do jednego opisu podsumowującego.",
        "height": 528,
        "width": 500,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3056,
        -608
      ],
      "id": "630ab6e6-f98b-4166-8600-3088f8ba046c",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## Krok 3 - zgłoszenie Jira (opcjonalne)  \n",
        "height": 1028,
        "width": 2648
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        5072,
        -560
      ],
      "id": "b8c8deb0-b070-48a9-b764-fccf1418d4a8",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "## Krok 3a - Tworzenie zzgłoszenia z załącznikiem",
        "height": 568,
        "width": 1784,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        5632,
        -528
      ],
      "id": "b364509c-586b-4206-a200-7aa9bba164bc",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "content": "## Krok 5 - Powiadomienie email (opcjonalne)\n\nW ramach tego kroku wysyłąne są powiadomienia e-mail o zgłoszeniu w knowshare. ",
        "height": 476,
        "width": 300,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        10752,
        -64
      ],
      "id": "877887ff-9b82-4be7-b420-4460dce52e97",
      "name": "Sticky Note9"
    },
    {
      "parameters": {
        "content": "## Podział na analizę tekstu i obrazu",
        "height": 520,
        "width": 500,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3056,
        -48
      ],
      "id": "9dd80fb5-c094-487f-80de-fd32cab58926",
      "name": "Sticky Note12"
    },
    {
      "parameters": {
        "content": "## Webhook",
        "height": 520,
        "width": 1508,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        496,
        -48
      ],
      "id": "84efe21a-f5d1-4c56-8194-a1c074a73e02",
      "name": "Sticky Note13"
    },
    {
      "parameters": {
        "content": "## Krok 3.1 - Tworzenie contentu\n\nW ramach tego kroku na podstawie opisu tworzone są temat zgłoszenia, jego treść, oraz realizowane jest samo zgłoszenie n. ",
        "height": 1032,
        "width": 1428,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3600,
        -560
      ],
      "id": "5569d60d-f797-4a61-84c9-a42fdaa3c565",
      "name": "Sticky Note15"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "bf08c136-8231-40c2-adad-bb5ced48812e",
              "leftValue": "={{ $('Webhook').item.json.body.attachments }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "empty",
                "singleValue": true
              }
            },
            {
              "id": "3139722a-659b-4e66-88f2-b2153ba0c7ac",
              "leftValue": "={{ $('Webhook').item.json.body.attachments }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "notExists",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3264,
        176
      ],
      "id": "b8bdc2f6-a55b-4021-ad4c-1412f66b05c9",
      "name": "If there are attachments"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "45988ecf-6ec1-4a69-bf28-b8cac853e764",
              "name": "index",
              "value": "={{$runIndex}}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1104,
        -784
      ],
      "id": "da2fc1f4-02f1-4db0-8e29-ccde6bf58022",
      "name": "Set index"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "62ec8387-d979-403a-a2cf-455d56bff842",
              "leftValue": "={{ $json.index }}",
              "rightValue": 2,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1248,
        -784
      ],
      "id": "7096b65e-aa2d-4558-ab80-0b4b7b616dc9",
      "name": "Check index"
    },
    {
      "parameters": {
        "bucketName": "={{ $('Webhook').item.json.body.tenantId }}",
        "fileKey": "=cmms/{{ $('Webhook').item.json.body.assetId }}/{{ $json.attachment }}",
        "binaryPropertyName": "image"
      },
      "type": "n8n-nodes-base.s3",
      "typeVersion": 1,
      "position": [
        2048,
        -784
      ],
      "id": "60e65fe3-d040-4168-9cc5-d6f910a9358c",
      "name": "Fetch image - chat",
      "credentials": {
        "s3": {
          "id": "smwCdXvghDY8DlJz",
          "name": "S3 account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "for (const item of items) {\n  if (item.binary && item.binary.image) {\n    item.binary.image.mimeType = 'image/jpeg';\n  }\n}\nreturn items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2272,
        -784
      ],
      "id": "0e7fa715-9179-4c10-af72-2338782726c1",
      "name": "Change mime type - chat"
    },
    {
      "parameters": {
        "jsCode": "// Funkcja wykrywająca czy tekst zawiera znaki spoza alfabetu łacińskiego\nfunction isNonLatin(text) {\n    // Znaki spoza zakresu łacińskiego\n    const nonLatinRegex = /[^\\u0000-\\u007F\\u00A0-\\u024F]/;\n    return nonLatinRegex.test(text);\n}\n\n// Funkcja konwertująca tekst do GSM-7\nfunction toGSM7(text) {\n    if (!text) return '';\n\n    // 1. Usuń diakrytyki\n    let normalized = text.normalize('NFD').replace(/[\\u0300-\\u036f]/g, '');\n\n    // 2. Mapa zamian\n    const charMap = {\n        '’': \"'\", '‘': \"'\", '“': '\"', '”': '\"', '–': '-', '—': '-',\n        'ß': 'ss', 'Œ': 'OE', 'œ': 'oe', 'Æ': 'AE', 'ae': 'ae',\n        'ł': 'l', 'Ł': 'L', 'Ø': 'O', 'ø': 'o', 'Đ': 'D', 'đ': 'd'\n    };\n\n    normalized = normalized.split('').map(c => charMap[c] || c).join('');\n\n    // 3. Dozwolone znaki GSM-7\n    const gsm7Chars =\n        '@£$¥èéùìòÇ\\nØø\\rÅåΔ_ΦΓΛΩΠΨΣΘΞ ' +\n        \"abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ\" +\n        \"0123456789\" +\n        \"!\\\"#¤%&'()*+,-./:;<=>?¡ÄÖÑÜ§¿äöñü\";\n\n    // 4. Usuń niedozwolone\n    return normalized.split('').filter(c => gsm7Chars.includes(c)).join('');\n}\n\n// Limity SMS\nconst GSM_LIMIT = 160;\nconst UCS2_LIMIT = 70;\nconst ELLIPSIS = \"...\";\nconst ELLIPSIS_LENGTH = ELLIPSIS.length;\n\n\n// Przetwarzanie itemów\nfor (const item of items) {\n    const input = item.json;\n\n    const smsPartText = $('SMS part 1').first().json.sms_firstPart || '';\n    const itemText = input.output?.[0]?.content?.[0]?.text || '';\n\n    const rawMessage = (smsPartText + itemText).trim();\n\n    // WYKRYWANIE ALFABETU\n    const nonLatin = isNonLatin(rawMessage);\n\n    let finalSmsText;\n\n    if (!nonLatin) {\n        // ============================\n        //   TRYB ŁACIŃSKI (GSM-7)\n        // ============================\n        const cleanMessage = toGSM7(rawMessage);\n\n        if (cleanMessage.length > GSM_LIMIT) {\n            finalSmsText =\n                cleanMessage.substring(0, GSM_LIMIT - ELLIPSIS_LENGTH) + ELLIPSIS;\n        } else {\n            finalSmsText = cleanMessage;\n        }\n\n    } else {\n        // ============================\n        //  TRYB NIEŁACIŃSKI (UCS-2)\n        // ============================\n\n        if (rawMessage.length > UCS2_LIMIT) {\n            finalSmsText =\n                rawMessage.substring(0, UCS2_LIMIT - ELLIPSIS_LENGTH) + ELLIPSIS;\n        } else {\n            finalSmsText = rawMessage;\n        }\n    }\n\n    // Zapis do item.json\n    input.finalSmsText = finalSmsText;\n    input.finalSmsLength = finalSmsText.length;\n}\n\nreturn items;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        8768,
        16
      ],
      "id": "381afde7-8f79-4797-a14c-ca05c6a9d79c",
      "name": "SMS Final",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "responses": {
          "values": [
            {
              "role": "system",
              "content": "=Jesteś systemem do generowania krótkich, zwięzłych komunikatów SMS.\nTwoje JEDYNE zadanie to sumaryzacja, skracanie i łączenie tekstu.\n\nZASADA KLUCZOWA (NON-NEGOTIABLE):\n1. **ZAKAZ TŁUMACZENIA:** Nigdy, pod żadnym pozorem, nie tłumacz treści. Musisz wykryć i ZACHOWAĆ oryginalny język wejściowy (nawet jeśli jest to język mieszany, niepoprawny lub zawiera błędy).\n2. **KONTRA POLSKI:** Nie zmieniaj języka na polski, chyba że język wejściowy był polski.\n3. **SKRACANIE:** Połącz oba teksty, skróć je do podanego limitu znaków, zachowując sens.\n4. **FORMAT:** Zwróć tylko finalny tekst SMS. Bez cudzysłowów, wyjaśnień, ani formatowania Markdown."
            },
            {
              "content": "=Tytuł: \"{{ $('Task content').item.json.task_title }}\"\nWiadomość: \"{{ $('Task content').item.json.interpretation }} {{ $('Task content').item.json.recommendation }}\"\n\nLimit znaków: {{ $json.sms_contentLimit }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2,
      "position": [
        8176,
        32
      ],
      "id": "57bd7f2a-121e-422d-a6c1-9a1fb9197def",
      "name": "Text shortening",
      "credentials": {
        "openAiApi": {
          "id": "7r6c9PgveQjC7ygm",
          "name": "OpenAi project n8n"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "const SMS_LIMIT = 155; //160\n\n// Przetwarzanie każdego elementu w danych\nfor (const item of items) {\n  const input = item.json;\n  \n  // 1. Definiowanie pól\n  const name = $('Webhook').first().json.body.createdBy || '';\n\n\n  // 2. Łączenie pól w format: \"Imię Nazwisko; Tytuł; \" (Z POLSKIMI ZNAKAMI)\n  // Używamy separatorów \"; \" (dwa znaki)\n  const firstPartRaw = `Knowshare: ${name}; `;\n  \n  // 3. Obliczenie DŁUGOŚCI tej części (na podstawie RAW stringu)\n  const firstPartLength = firstPartRaw.length;\n  \n  // 4. Wyznaczenie różnicy (maksymalnego limitu dla Treści)\n  const maxContentLength = SMS_LIMIT - firstPartLength;\n  \n  // Zapewnienie, że limit nie jest ujemny\n  const finalContentLimit = Math.max(0, maxContentLength);\n  \n  // Dodanie nowych zmiennych do obiektu JSON:\n  // - sms_firstPart: sformatowana część z polskimi znakami\n  // - sms_contentLimit: obliczony limit znaków dla treści (dla Chat GPT)\n  input.sms_firstPart = firstPartRaw;\n  input.sms_contentLimit = finalContentLimit;\n}\n\nreturn items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        8000,
        32
      ],
      "id": "d3bf8abc-4d0e-4e04-9c6d-e9825f89261d",
      "name": "SMS part 1",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "c6gReJDAxZwjoiwY",
          "mode": "list",
          "cachedResultUrl": "/workflow/c6gReJDAxZwjoiwY",
          "cachedResultName": "Nocodb - get asset summary"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "assetId": "={{ $('Webhook').item.json.body.assetId }}",
            "case": "Knowshare"
          },
          "matchingColumns": [
            "assetId"
          ],
          "schema": [
            {
              "id": "assetId",
              "displayName": "assetId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "case",
              "displayName": "case",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        2416,
        176
      ],
      "id": "f230a512-a383-4750-a0f5-a8910593b73e",
      "name": "Get asset summary"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "45988ecf-6ec1-4a69-bf28-b8cac853e764",
              "name": "index",
              "value": "={{$runIndex}}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        5728,
        -224
      ],
      "id": "5d1c8c5b-c1ad-4a44-a090-d5fe9fcd39ff",
      "name": "Set index - kanban"
    },
    {
      "parameters": {
        "jsCode": "// Pobierz dane z node Webhook i node Set index - jira\nconst webhook = $('Webhook').item.json;\nconst index = $('Set index - kanban').item.json.index;\n\n// Wyciągnij tablicę attachments z Webhook body\nconst attachments = webhook?.body?.attachments || [];\n\n// Jeśli index jest poprawny – wybierz odpowiedni załącznik\nconst selectedAttachment = attachments[index] || null;\n\nreturn [\n  {\n    json: {\n      attachment: selectedAttachment\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5904,
        -224
      ],
      "id": "b3017ca0-560e-4898-8853-676dcbce14e7",
      "name": "Attachment - kanban"
    },
    {
      "parameters": {
        "bucketName": "={{ $('Webhook').item.json.body.tenantId }}",
        "fileKey": "=cmms/{{ $('Webhook').item.json.body.assetId }}/{{ $json.attachment }}",
        "binaryPropertyName": "image"
      },
      "type": "n8n-nodes-base.s3",
      "typeVersion": 1,
      "position": [
        6096,
        -224
      ],
      "id": "3edb7b1b-e4ff-4b79-af49-9a352bfac5f3",
      "name": "Fetch image - kanban",
      "credentials": {
        "s3": {
          "id": "smwCdXvghDY8DlJz",
          "name": "S3 account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "for (const item of items) {\n  if (item.binary && item.binary.image) {\n    item.binary.image.mimeType = 'image/jpeg';\n  }\n}\nreturn items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6288,
        -224
      ],
      "id": "f4ac5e15-e8ad-428f-b3ec-a76a7fe55b94",
      "name": "Change mime type - kanban"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://nocodb.nazca40.com/api/v2/storage/upload",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "xc-token",
              "value": "fKGwFz4C7xPXxLxD5nFh8X0yKJeL6t5i-M8oqR_i"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "image"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        6496,
        -224
      ],
      "id": "9d1df94b-bc0b-403f-b329-b0951f8f6828",
      "name": "Upload image - kanban"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "45988ecf-6ec1-4a69-bf28-b8cac853e764",
              "name": "fileNames",
              "value": "={{ $('Webhook').item.json.body.attachments }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        5904,
        -432
      ],
      "id": "9ce10e50-876b-48ca-a29e-e3555de8cf4d",
      "name": "Set attachments - kanban"
    },
    {
      "parameters": {
        "fieldToSplitOut": "fileNames",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        6096,
        -432
      ],
      "id": "a06b9a0d-b60d-4ced-b9e3-bc13f621ae14",
      "name": "Split attachments - kanban"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        6704,
        -224
      ],
      "id": "033802a3-3222-45bb-910b-4e9103bc6629",
      "name": "Loop over attachments",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        6896,
        -224
      ],
      "id": "ee84a073-6d6a-4c98-ae2a-579f3134aa45",
      "name": "Aggregate attachments - kanban"
    },
    {
      "parameters": {
        "jsCode": "// Wejście z poprzedniego noda\nconst attachments = $json.data;\n\n// Bez żadnych zmian — jest już w poprawnym formacie NocoDB\nreturn [\n  {\n    attachments\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        7056,
        -224
      ],
      "id": "d3b4a4a6-4616-497a-bb2e-d7b4632a9bd0",
      "name": "Attachments list"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "bf08c136-8231-40c2-adad-bb5ced48812e",
              "leftValue": "={{ $('Webhook').item.json.body.attachments }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        5184,
        32
      ],
      "id": "ed672380-79f3-496a-9c28-0d1f5786452c",
      "name": "If there are attachments - kanban"
    },
    {
      "parameters": {
        "content": "## Krok 3a - Tworzenie zgłoszenia bez załącznika\n",
        "height": 344,
        "width": 1784,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        5632,
        64
      ],
      "id": "a11494a0-8ded-4179-864d-ad4661e81d38",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "authentication": "nocoDbApiToken",
        "operation": "create",
        "projectId": "={{ $('Get asset summary').item.json.table.BaseId }}",
        "table": "={{ $('Get asset summary').item.json.table.TableId }}",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldName": "Title",
              "fieldValue": "={{ $('Task content').item.json.task_title }}"
            },
            {
              "fieldName": "Description",
              "fieldValue": "={{ $('Task content').item.json.task_description }}"
            },
            {
              "fieldName": "CreatedBy",
              "fieldValue": "={{ $('Webhook').item.json.body.createdBy }}"
            },
            {
              "fieldName": "Asset",
              "fieldValue": "={{ $('Get asset summary').item.json.asset.assetName }}"
            },
            {
              "fieldName": "Attachments",
              "fieldValue": "={{ $json.attachments }}"
            },
            {
              "fieldName": "OriginalTitle",
              "fieldValue": "={{ $('Safe subject and message').item.json.safe_subject }}"
            },
            {
              "fieldName": "OriginalDescription",
              "fieldValue": "={{ $('Safe subject and message').item.json.safe_message }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.nocoDb",
      "typeVersion": 3,
      "position": [
        7216,
        -224
      ],
      "id": "f55cb43e-beeb-4e77-b873-489d23d826ca",
      "name": "Create a task",
      "credentials": {
        "nocoDbApiToken": {
          "id": "qeCZEzG9ppXPu7Mh",
          "name": "NocoDB Token account"
        }
      }
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "self"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        7808,
        32
      ],
      "id": "497819ad-7fa4-4d75-b7b1-6c58fdf68e94",
      "name": "Aggregate inputs"
    },
    {
      "parameters": {
        "jsCode": "// 1. Pobierz surowy tekst JSON z OpenAI\nlet raw = $input.first().json.output[0].content[0].text || \"\";\n\n// 2. Pobranie oryginalnej wiadomości (dla pola task_description)\nconst originalMessage = $('Safe subject and message').first().json.safe_message || \"\"; \n\n// 3. Usuń potencjalne znaczniki kodu ```json ... ```\nif (raw.includes(\"```\")) {\n    raw = raw.replace(/```json|```/g, \"\").trim();\n}\n\n// 4. Usuń nadmiarowe białe znaki\nraw = raw.replace(/[\\n\\r\\t\\u00A0\\uFEFF]/g, \" \").trim(); \n\nlet parsed;\n\n// 5. Parsowanie JSON z obsługą błędów\ntry {\n    parsed = JSON.parse(raw);\n} catch (error) {\n    return [{\n        json: {\n            task_title: \"\",\n            interpretation: \"\",\n            recommendation: \"\",\n            task_description: \"\",\n            _error: \"Błąd parsowania JSON: \" + error.message + \" | Czysty ciąg: \" + raw.substring(0, 100) + \"...\"\n        }\n    }];\n}\n\n// 6. Transformacja do oczekiwanego formatu\nconst obj = (Array.isArray(parsed) && parsed.length > 0) ? parsed[0] : parsed;\nconst taskDescriptionData = obj.task_description || {};\n\n// 7. Pobieranie wartości generowanych przez AI\nconst interpretation = taskDescriptionData.interpretation || \"\";\nconst recommendation = taskDescriptionData.recommendation || \"\";\nconst taskTitle = obj.task_title || \"\";\n\n// 8. Tworzenie nowego pola 'task_description' (podsumowanie)\nconst newTaskDescription = `1: ${originalMessage} | 2: ${interpretation} | 3: ${recommendation}`;\n\n// 9. Zwrócenie finalnego formatu\nreturn [{\n    json: {\n        task_title: taskTitle,\n        interpretation: interpretation,\n        recommendation: recommendation,\n        task_description: newTaskDescription\n    }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4592,
        -128
      ],
      "id": "541aec3a-2694-43b2-b817-95d44d63a86b",
      "name": "Task content",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "17e1c3b9-d842-4667-b6a9-ab06839b7007",
              "leftValue": "={{ $json.phone }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "b92055c7-b7ec-469e-967a-8011056a838c",
              "leftValue": "={{ $json.smsNotification }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        9728,
        208
      ],
      "id": "22e055ca-1e05-4992-83ef-72b949e5f969",
      "name": "If sms notification enabled"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "45988ecf-6ec1-4a69-bf28-b8cac853e764",
              "name": "recipients",
              "value": "={{ $('Get asset summary').first().json.users }}",
              "type": "array"
            },
            {
              "id": "4df1a078-86b6-4c57-a90e-46715fc7fedb",
              "name": "message",
              "value": "={{ $('SMS Final').first().json.finalSmsText }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        8976,
        16
      ],
      "id": "af4f7306-fada-44da-8714-2b8eccd4c141",
      "name": "Notification data"
    },
    {
      "parameters": {
        "fieldToSplitOut": "recipients",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        9184,
        16
      ],
      "id": "e43474f7-807f-4fb1-885b-1ea34c66585c",
      "name": "Split notification data"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        9392,
        192
      ],
      "id": "7f17df57-f8f5-4ab1-846d-870f8fbe1175",
      "name": "Loop over notification data",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "17e1c3b9-d842-4667-b6a9-ab06839b7007",
              "leftValue": "={{ $('Loop over notification data').item.json.email }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "b92055c7-b7ec-469e-967a-8011056a838c",
              "leftValue": "={{ $('Loop over notification data').item.json.emailNotification }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        10560,
        224
      ],
      "id": "c0959703-e477-43ad-b847-2b854c10a031",
      "name": "If email notification enabled"
    },
    {
      "parameters": {
        "content": "## Krok 4 - Powiadomienie sms (opcjonalne)\n\nW ramach tego kroku wysyłąne są powiadomienia sms o zgłoszeniu w knowshare. ",
        "height": 476,
        "width": 300,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        9904,
        -240
      ],
      "id": "835f911d-464e-420d-a852-d4081b129f7f",
      "name": "Sticky Note11"
    },
    {
      "parameters": {
        "content": "## Powiadomienia",
        "height": 1004,
        "width": 3324,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        7744,
        -528
      ],
      "id": "fd2119c3-8b07-4bca-b38d-42735ed3a1bc",
      "name": "Sticky Note14"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "945dfa76-3c1d-436a-aef2-617ef8539061",
              "leftValue": "={{ $('Webhook').item.json.body.index }}",
              "rightValue": "notices",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1312,
        192
      ],
      "id": "b3c70f35-e049-44d6-8603-a54bb1b299e5",
      "name": "If it's notice"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "945dfa76-3c1d-436a-aef2-617ef8539061",
              "leftValue": "={{ $json.asset.isCar }}",
              "rightValue": "notices",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2624,
        176
      ],
      "id": "7009ae1d-e592-4030-b580-84e604b9fb46",
      "name": "If it's not a car"
    },
    {
      "parameters": {
        "authentication": "nocoDbApiToken",
        "operation": "create",
        "projectId": "={{ $('Get asset summary').item.json.table.BaseId }}",
        "table": "={{ $('Get asset summary').item.json.table.TableId }}",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldName": "Title",
              "fieldValue": "={{ $('Task content').item.json.task_title }}"
            },
            {
              "fieldName": "Description",
              "fieldValue": "={{ $('Task content').item.json.task_description }}"
            },
            {
              "fieldName": "CreatedBy",
              "fieldValue": "={{ $('Webhook').item.json.body.createdBy }}"
            },
            {
              "fieldName": "Asset",
              "fieldValue": "={{ $('Get asset summary').item.json.asset.assetName }}"
            },
            {
              "fieldName": "Attachments",
              "fieldValue": "={{ $json.attachments }}"
            },
            {
              "fieldName": "OriginalTitle",
              "fieldValue": "={{ $('Safe subject and message').item.json.safe_subject }}"
            },
            {
              "fieldName": "OriginalDescription",
              "fieldValue": "={{ $('Safe subject and message').item.json.safe_message }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.nocoDb",
      "typeVersion": 3,
      "position": [
        6400,
        160
      ],
      "id": "650ba68e-8527-4a17-8815-cde6b1d49716",
      "name": "Create a task without attachments",
      "credentials": {
        "nocoDbApiToken": {
          "id": "qeCZEzG9ppXPu7Mh",
          "name": "NocoDB Token account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "GPT-4O"
        },
        "responses": {
          "values": [
            {
              "role": "system",
              "content": "=Jesteś modułem AI generującym tytuły i opisy zgłoszeń (Trello/Jira).\n\nWejście:\n- message: oryginalna treść zgłoszenia\n- subject: temat zgłoszenia\n- image_description: opis obrazu (opcjonalny)\n\nZasady Generowania Treści:\n1. Wykrywanie polecenia tłumaczenia:\n   Polecenia mogą zawierać słowa/zwroty: \"przetłumacz\", \"przetłumacz na\", \"translate\", \"translate to\", \"zamień język\", \"zmień język\", \"przełóż na\", \"na język\", \"translate into\".\n\n2. Generowanie treści:\n  A. JEŻELI wykryjesz polecenie tłumaczenia w polu message:\n     - Wygeneruj task_title, task_description.interpretation i task_description.recommendation w języku docelowym.\n\n  B. JEŻELI NIE wykryjesz polecenia tłumaczenia:\n     - Wygeneruj task_title, task_description.interpretation i task_description.recommendation w oryginalnym języku pola message.\n\n3. Wymagane pola i limity:\n  - task_title: jedno zdanie, maksymalnie 100 znaków.\n  - task_description.interpretation: opis sytuacji na podstawie message + subject + image_description, maksymalnie 300 znaków.\n  - task_description.recommendation: jedna konkretna rekomendacja, maksymalnie 300 znaków.\n\n4. Zawsze zwracaj wynik wyłącznie w formacie JSON:\n\n[\n  {\n    \"task_title\": \"...\",\n    \"task_description\": {\n      \"interpretation\": \"...\",\n      \"recommendation\": \"...\"\n    }\n  }\n]\n\n5. Nie dodawaj nowych linii ani dodatkowego tekstu. JSON musi być poprawny i bezpieczny.\n"
            },
            {
              "content": "=subject: {{ $('Safe subject and message').item.json.safe_subject }}\nmessage: {{ $('Safe subject and message').item.json.safe_message }}\nimage_description: {{ $json.content.join(' | ') }}\n\nZwróć wyłącznie JSON w powyższym formacie."
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2,
      "position": [
        3968,
        -112
      ],
      "id": "c41f0981-8bdb-4339-89c7-f043caffdd2e",
      "name": "Create summary",
      "credentials": {
        "openAiApi": {
          "id": "7r6c9PgveQjC7ygm",
          "name": "OpenAi project n8n"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "fromEmail": "nazca4@apagroup.pl",
        "toEmail": "={{ $('Loop over notification data').item.json.email }}",
        "subject": "=Nowa wiadomość knowshare",
        "emailFormat": "text",
        "text": "=Temat: {{ $('Task content').first().json.task_title }}\n\nOryginalne zgłoszenie: {{ $('Safe subject and message').item.json.safe_message }}\nInterpretacja AI: {{ $('Task content').first().json.interpretation }}\nRekomendacja AI: {{ $('Task content').first().json.recommendation }}\n\nAsset: {{ $('Get asset summary').item.json.asset.assetName }}\nAutor: {{ $('Webhook').first().json.body.createdBy }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        10832,
        208
      ],
      "id": "c6218783-8117-42b3-94ce-088d5dc6cc8f",
      "name": "Send email",
      "webhookId": "94ebe48c-92c8-45cb-bc3d-da34fac850db",
      "credentials": {
        "smtp": {
          "id": "bTsU09ZudpWPlOEp",
          "name": "SMTP account 3"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Pobierz dane wejściowe z Webhook\nconst subject = $input.first().json.body.subject || \"\";\nconst message = $input.first().json.body.message || \"\";\n\n// Funkcja do oczyszczania tekstu\nfunction sanitizeTextSafe(text) {\n    if (!text) return \"\";\n\n    // 1. Usuń wszystkie znaki kontrolne ASCII (0-31 i 127)\n    text = text.replace(/[\\x00-\\x1F\\x7F]/g, \"\");\n\n    // 2. Usuń potencjalnie niebezpieczne znaki w JSON lub kodzie\n    text = text.replace(/[`\\\\<>${}[\\]]/g, \"\");\n\n    // 3. Usuń wszystkie cudzysłowy i apostrofy (proste + typograficzne)\n    text = text.replace(/[\"'‘’“”„‚«»]/g, \"\");\n\n    // 4. Usuń nadmiarowe białe znaki (nowa linia, tab, niełamiąca spacja)\n    text = text.replace(/[\\n\\r\\t\\u00A0\\uFEFF]/g, \" \").trim();\n\n    // 5. Zamień wielokrotne spacje na pojedynczą\n    text = text.replace(/\\s{2,}/g, \" \");\n\n    return text;\n}\n\n// Oczyszczone pola\nconst safeSubject = sanitizeTextSafe(subject);\nconst safeMessage = sanitizeTextSafe(message);\n\n// Zwrot danych do workflow\nreturn [{\n    json: {\n        safe_subject: safeSubject,\n        safe_message: safeMessage\n    }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1040,
        192
      ],
      "id": "0388dfd4-56d9-417b-9fc3-1986c05f3e51",
      "name": "Safe subject and message"
    },
    {
      "parameters": {
        "bucketName": "={{ $('Webhook').item.json.body.tenantId }}",
        "fileKey": "=cmms/{{ $('Webhook').item.json.body.assetId }}/{{ $json.attachment }}",
        "binaryPropertyName": "audio"
      },
      "type": "n8n-nodes-base.s3",
      "typeVersion": 1,
      "position": [
        2048,
        -464
      ],
      "id": "436ec697-1473-45d3-87d5-7408043cc493",
      "name": "Download Audio",
      "credentials": {
        "s3": {
          "id": "smwCdXvghDY8DlJz",
          "name": "S3 account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "for (const item of items) {\n  if (!item.binary?.audio) continue;\n\n  const file = item.binary.audio;\n  if (!file.fileName) continue;\n\n  const name = file.fileName.toLowerCase();\n\n  if (name.endsWith('.mp3')) file.mimeType = 'audio/mpeg';\n  else if (name.endsWith('.wav')) file.mimeType = 'audio/wav';\n  else if (name.endsWith('.m4a')) file.mimeType = 'audio/mp4';\n  else if (name.endsWith('.flac')) file.mimeType = 'audio/flac';\n  else if (name.endsWith('.ogg') || name.endsWith('.oga')) file.mimeType = 'audio/ogg';\n  else if (name.endsWith('.webm')) file.mimeType = 'audio/webm';\n  else if (name.endsWith('.mp4')) file.mimeType = 'audio/mp4';\n  else if (name.endsWith('.mpeg') || name.endsWith('.mpga')) file.mimeType = 'audio/mpeg';\n  else if (name.endsWith('.aac')) file.mimeType = 'audio/aac';\n  else file.mimeType = 'application/octet-stream'; // fallback\n\n}\n\nreturn items;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2240,
        -464
      ],
      "id": "d7069aa0-4ee4-4144-83c6-7d814cd9f2f1",
      "name": "Change mime type - audio"
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "binaryPropertyName": "audio",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2,
      "position": [
        2432,
        -464
      ],
      "id": "efe91685-c923-46d9-bf37-6d9a5d0cbe98",
      "name": "Audio analyze",
      "credentials": {
        "openAiApi": {
          "id": "7r6c9PgveQjC7ygm",
          "name": "OpenAi project n8n"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "271ca89b-3769-4ebf-bb03-391a60af5ec9",
              "name": "content",
              "value": "={{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2656,
        -480
      ],
      "id": "eeea4a28-4f7a-4e6c-b9f6-074418ae30ff",
      "name": "Prepare audio output"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.type_ok }}",
                    "rightValue": 0,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    },
                    "id": "194bfdf8-66ea-4568-9c3e-b06727c1a7d1"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "f6ea07d3-c359-4002-a0a4-215fad595428",
                    "leftValue": "={{ $json.type_ok }}",
                    "rightValue": 1,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "a6135f05-9ad9-4413-bb95-3dbccdb68618",
                    "leftValue": "={{ $json.type_ok }}",
                    "rightValue": 2,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "394c8abb-c9bc-4397-b294-40c1fe1974d2",
                    "leftValue": "={{ $json.type_ok }}",
                    "rightValue": 3,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        1712,
        -800
      ],
      "id": "9cb2300a-1a0a-4a5a-9a97-5bc410fabf3e",
      "name": "Switch - type selection"
    },
    {
      "parameters": {
        "fromEmail": "nazca4@apagroup.pl",
        "toEmail": "marek.rachel@apagroup.pl; grzegorz.bojdo@apagroup.pl",
        "subject": "=Knowshare - wykryto błąd w workflow",
        "emailFormat": "text",
        "text": "=Wykryto błąd w workflow \"Knowshare - nocodb integration\".\n\n{{ $json.body }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        10544,
        -432
      ],
      "id": "20ef5f07-dedd-4957-a88f-d626867e3dad",
      "name": "Send email1",
      "webhookId": "462e5cf3-fc5a-42de-b4cc-fb032576ce7b",
      "credentials": {
        "smtp": {
          "id": "bTsU09ZudpWPlOEp",
          "name": "SMTP account 3"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const allErrors = [];\n\nconst nodes = [\n    'Create Picture Summary - error handling',\n    'Audio analyze - error handling',\n    'Create summary - error handling',\n    'Text shortening - error handling',\n    'Twilio - error handling'\n];\n\nfor (const nodeName of nodes) {\n    try {\n        // Pobranie itemu w poprawny sposób\n        const nodeItem = $node[nodeName]?.json;\n\n        if (!nodeItem) continue;\n\n        const nodeError = nodeItem.errorOpenAI1;\n\n        if (\n            typeof nodeError === 'string' &&\n            nodeError.trim().length > 0\n        ) {\n            allErrors.push(nodeError);\n        }\n\n    } catch (err) {\n        continue;\n    }\n}\n\nreturn [{\n    json: {\n        sendEmail: allErrors.length > 0,\n        body: allErrors.join(\"\\n\\n\")\n    }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        10000,
        -416
      ],
      "id": "694f2e73-931a-4f48-8b53-abadc5ca4759",
      "name": "Error raport prepare"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "07c6ac0b-42b3-4c95-8613-2beda3e55d83",
              "leftValue": "={{ $json.sendEmail }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        10272,
        -416
      ],
      "id": "b11ef71b-912f-41f5-9cd1-6fd1adc1cb49",
      "name": "If"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "02c7be48-65a1-41a2-88cb-9b57c3555238",
              "name": "errorOpenAI1",
              "value": "={{ \"Błąd w węźle \\\"Create Picture Summary\\\": \" + $json.error }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2720,
        -768
      ],
      "id": "e0f19a25-3591-4766-b2c0-6313e7a1e71e",
      "name": "Create Picture Summary - error handling"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "02c7be48-65a1-41a2-88cb-9b57c3555238",
              "name": "errorOpenAI1",
              "value": "={{ \"Błąd w węźle \\\"Audio analyze\\\": \" + $json.error }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2848,
        -448
      ],
      "id": "2d61f880-ae59-489c-87f8-9601847b16f3",
      "name": "Audio analyze - error handling"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "02c7be48-65a1-41a2-88cb-9b57c3555238",
              "name": "errorOpenAI1",
              "value": "={{ \"Błąd w węźle \\\"Create summary\\\": \" + $json.error }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4352,
        32
      ],
      "id": "df2bd9ea-916d-47c7-b861-f90090cc0db2",
      "name": "Create summary - error handling"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "02c7be48-65a1-41a2-88cb-9b57c3555238",
              "name": "errorOpenAI1",
              "value": "={{ \"Błąd w węźle \\\"Text shortening\\\": \" + $json.error }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        8544,
        128
      ],
      "id": "363d5e96-4e1a-4164-b4b7-faffe71ee38d",
      "name": "Text shortening - error handling"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "02c7be48-65a1-41a2-88cb-9b57c3555238",
              "name": "errorOpenAI1",
              "value": "={{ \"Błąd w węźle \\\"Twilio\\\": \" + $json.error }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        10224,
        160
      ],
      "id": "4f8d940d-27fb-4918-9d99-99ef1d742671",
      "name": "Twilio - error handling"
    },
    {
      "parameters": {
        "content": "## Wysłanie e-mail z błędami z wybranych węzłów\nZebranie błędów, przygotowanie treści e-mail i wysłanie",
        "height": 240,
        "width": 880,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        9904,
        -512
      ],
      "id": "b8573f16-2c39-4932-8480-f0a1268298ec",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "9fa3910c-8207-4351-b79b-b74b65ec4a3c",
        "authentication": "basicAuth",
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        688,
        192
      ],
      "id": "8e6bb9be-902e-44cb-80f1-ab740ba5f6a7",
      "name": "Webhook",
      "webhookId": "9fa3910c-8207-4351-b79b-b74b65ec4a3c",
      "credentials": {
        "httpBasicAuth": {
          "id": "QmXylULo8NVgMnZB",
          "name": "Unnamed credential"
        }
      }
    }
  ],
  "connections": {
    "Create Picture Summary": {
      "main": [
        [
          {
            "node": "Loop Over Items - chat",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create Picture Summary - error handling",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Create summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop parameter - chat": {
      "main": [
        [
          {
            "node": "Split Out - chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out - chat": {
      "main": [
        [
          {
            "node": "Loop Over Items - chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items - chat": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set index",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Attachment - chat": {
      "main": [
        [
          {
            "node": "Switch - type selection",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Twilio": {
      "main": [
        [
          {
            "node": "If email notification enabled",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Twilio - error handling",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If there are attachments": {
      "main": [
        [
          {
            "node": "Create summary",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop parameter - chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set index": {
      "main": [
        [
          {
            "node": "Check index",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check index": {
      "main": [
        [
          {
            "node": "Loop Over Items - chat",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Attachment - chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch image - chat": {
      "main": [
        [
          {
            "node": "Change mime type - chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Change mime type - chat": {
      "main": [
        [
          {
            "node": "Create Picture Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "assets params",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript2": {
      "main": [
        [
          {
            "node": "Task content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Text shortening": {
      "main": [
        [
          {
            "node": "SMS Final",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Text shortening - error handling",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SMS part 1": {
      "main": [
        [
          {
            "node": "Text shortening",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SMS Final": {
      "main": [
        [
          {
            "node": "Notification data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get asset summary": {
      "main": [
        [
          {
            "node": "If it's not a car",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set index - kanban": {
      "main": [
        [
          {
            "node": "Attachment - kanban",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Attachment - kanban": {
      "main": [
        [
          {
            "node": "Fetch image - kanban",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch image - kanban": {
      "main": [
        [
          {
            "node": "Change mime type - kanban",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Change mime type - kanban": {
      "main": [
        [
          {
            "node": "Upload image - kanban",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload image - kanban": {
      "main": [
        [
          {
            "node": "Loop over attachments",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set attachments - kanban": {
      "main": [
        [
          {
            "node": "Split attachments - kanban",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split attachments - kanban": {
      "main": [
        [
          {
            "node": "Loop over attachments",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop over attachments": {
      "main": [
        [
          {
            "node": "Aggregate attachments - kanban",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set index - kanban",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate attachments - kanban": {
      "main": [
        [
          {
            "node": "Attachments list",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Attachments list": {
      "main": [
        [
          {
            "node": "Create a task",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If there are attachments - kanban": {
      "main": [
        [
          {
            "node": "Set attachments - kanban",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create a task without attachments",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a task": {
      "main": [
        [
          {
            "node": "Aggregate inputs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate inputs": {
      "main": [
        [
          {
            "node": "SMS part 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Task content": {
      "main": [
        [
          {
            "node": "If there are attachments - kanban",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If sms notification enabled": {
      "main": [
        [
          {
            "node": "Twilio",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If email notification enabled",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notification data": {
      "main": [
        [
          {
            "node": "Split notification data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split notification data": {
      "main": [
        [
          {
            "node": "Loop over notification data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop over notification data": {
      "main": [
        [
          {
            "node": "Error raport prepare",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If sms notification enabled",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If email notification enabled": {
      "main": [
        [
          {
            "node": "Send email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop over notification data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If it's notice": {
      "main": [
        [
          {
            "node": "Get asset summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If it's not a car": {
      "main": [
        [
          {
            "node": "If there are attachments",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a task without attachments": {
      "main": [
        [
          {
            "node": "Aggregate inputs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create summary": {
      "main": [
        [
          {
            "node": "Task content",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create summary - error handling",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send email": {
      "main": [
        [
          {
            "node": "Loop over notification data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Safe subject and message": {
      "main": [
        [
          {
            "node": "If it's notice",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Audio": {
      "main": [
        [
          {
            "node": "Change mime type - audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Change mime type - audio": {
      "main": [
        [
          {
            "node": "Audio analyze",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Audio analyze": {
      "main": [
        [
          {
            "node": "Prepare audio output",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Audio analyze - error handling",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch - type selection": {
      "main": [
        [
          {
            "node": "Loop Over Items - chat",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Fetch image - chat",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Download Audio",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items - chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare audio output": {
      "main": [
        [
          {
            "node": "Loop Over Items - chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error raport prepare": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Send email1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Picture Summary - error handling": {
      "main": [
        [
          {
            "node": "Loop Over Items - chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Audio analyze - error handling": {
      "main": [
        [
          {
            "node": "Loop Over Items - chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create summary - error handling": {
      "main": [
        [
          {
            "node": "Task content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Text shortening - error handling": {
      "main": [
        [
          {
            "node": "SMS Final",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Twilio - error handling": {
      "main": [
        [
          {
            "node": "If email notification enabled",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Safe subject and message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "apagroup.app.n8n.cloud",
            "user-agent": "axios/1.12.0",
            "content-length": "530",
            "accept": "application/json,text/html,application/xhtml+xml,application/xml,text/*;q=0.9, image/*;q=0.8, */*;q=0.7",
            "accept-encoding": "gzip, br",
            "authorization": "Basic bmF6Y2E6IyRrbm93c2hhcmUkIw==",
            "cdn-loop": "cloudflare; loops=1; subreqs=1",
            "cf-connecting-ip": "20.218.238.116",
            "cf-ew-via": "15",
            "cf-ipcountry": "DE",
            "cf-ray": "9a03df29e5a06d26-FRA",
            "cf-visitor": "{\"scheme\":\"https\"}",
            "cf-worker": "n8n.cloud",
            "content-type": "application/json",
            "x-forwarded-for": "20.218.238.116, 104.23.239.53",
            "x-forwarded-host": "apagroup.app.n8n.cloud",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "traefik-prod-users-gwc-38-6f9f659dd9-865tl",
            "x-is-trusted": "yes",
            "x-real-ip": "20.218.238.116"
          },
          "params": {},
          "query": {},
          "body": {
            "index": "notices",
            "createdAt": "2025-10-27T06:58:47.5677181Z",
            "assetId": "08dd6221-813c-437b-8d19-6678e11a55f5",
            "subject": "Uszczerbiony kubek!",
            "message": "Znaleziono uszczerbiony kubek w szawce z naczyniami dla gości. Prośba o wymianę na nowy",
            "type": 0,
            "createdBy": "test test",
            "tenantId": "08dd5714-941b-4e58-817b-934c403cebb5",
            "attachments": [
              "ff57b48d-0c93-4e9d-8d19-32519adae5f98684434820700654792.jpg",
              "52ee9c9e-54e8-4328-950f-13bab0bd3ff74756521684993759038.jpg",
              "babf1377-bdfa-4e2a-9c8f-2fa87af3cfc6254830784995343420.jpg"
            ]
          },
          "webhookUrl": "https://apagroup.app.n8n.cloud/webhook/9fa3910c-8207-4351-b79b-b74b65ec4a3c",
          "executionMode": "production"
        }
      }
    ]
  },
  "versionId": "fe9d8175-61e6-43cd-acb8-eaa2b27d07df",
  "activeVersionId": "fe9d8175-61e6-43cd-acb8-eaa2b27d07df",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2025-12-09T08:00:59.047Z",
      "createdAt": "2025-12-09T08:00:59.047Z",
      "role": "workflow:owner",
      "workflowId": "CCIhYrFMYvO4qMma",
      "projectId": "98BhLNTRDdyyDRlO"
    },
    {
      "updatedAt": "2025-12-09T08:01:25.166Z",
      "createdAt": "2025-12-09T08:01:25.166Z",
      "role": "workflow:editor",
      "workflowId": "CCIhYrFMYvO4qMma",
      "projectId": "CjfG3RcAlbeZbF4G"
    }
  ],
  "activeVersion": {
    "updatedAt": "2025-12-09T10:12:29.055Z",
    "createdAt": "2025-12-09T10:12:29.055Z",
    "versionId": "fe9d8175-61e6-43cd-acb8-eaa2b27d07df",
    "workflowId": "CCIhYrFMYvO4qMma",
    "nodes": [
      {
        "parameters": {
          "resource": "image",
          "operation": "analyze",
          "modelId": {
            "__rl": true,
            "value": "chatgpt-4o-latest",
            "mode": "list",
            "cachedResultName": "CHATGPT-4O-LATEST"
          },
          "text": "=Jesteś ekspertem technicznym i specjalistą od analizy obrazów.\n\nTwoim JEDYNYM ZADANIEM jest wygenerowanie opisu załączonego obrazu.\n\n1. Opis Treści: Wygeneruj **krótki, treściwy i techniczny opis** zawartości zdjęcia w kontekście problemu.\n2. FORMAT: Zwróć **WYŁĄCZNIE SAM TEKST OPISU**. ZABRONIONE jest dodawanie wstępów, tytułów, wyjaśnień, nowych linii, formatowania (Markdown), **podwójnych cudzysłowów (\")**, ani żadnych innych znaków, które mogłyby utrudnić zapis w polu JSON. Tekst musi być pojedynczym ciągiem znaków.",
          "inputType": "base64",
          "binaryPropertyName": "image",
          "options": {
            "detail": "auto",
            "maxTokens": 1000
          }
        },
        "type": "@n8n/n8n-nodes-langchain.openAi",
        "typeVersion": 1.8,
        "position": [
          2464,
          -784
        ],
        "id": "0a0a77f6-3c24-41ee-bf62-6ef04ed8c6ff",
        "name": "Create Picture Summary",
        "retryOnFail": false,
        "maxTries": 2,
        "credentials": {
          "openAiApi": {
            "id": "7r6c9PgveQjC7ygm",
            "name": "OpenAi project n8n"
          }
        },
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "fieldsToAggregate": {
            "fieldToAggregate": [
              {
                "fieldToAggregate": "content"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.aggregate",
        "typeVersion": 1,
        "position": [
          3232,
          -336
        ],
        "id": "2f18a5d1-daf8-4b97-8aab-255505106d4d",
        "name": "Aggregate"
      },
      {
        "parameters": {
          "mode": "raw",
          "jsonOutput": "={\n  \"fileNames\":{{ $('Webhook').item.json.body.attachments }}\n}",
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          624,
          -912
        ],
        "id": "65540560-bfe6-4dfa-b489-9c14fae4cdd6",
        "name": "Loop parameter - chat"
      },
      {
        "parameters": {
          "fieldToSplitOut": "fileNames",
          "options": {}
        },
        "type": "n8n-nodes-base.splitOut",
        "typeVersion": 1,
        "position": [
          784,
          -912
        ],
        "id": "5da86d5c-6c1d-48cd-a13b-45bb377621e3",
        "name": "Split Out - chat"
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "n8n-nodes-base.splitInBatches",
        "typeVersion": 3,
        "position": [
          976,
          -912
        ],
        "id": "5a8e7177-572c-421d-b231-97e674fa5708",
        "name": "Loop Over Items - chat",
        "alwaysOutputData": false
      },
      {
        "parameters": {
          "jsCode": "// Bezpieczne pobieranie danych z poprzednich węzłów.\nconst webhookData = $('Webhook').first().json || {};\nconst indexData = $('Set index').first().json || {};\n\n// Zabezpieczony indeks załącznika\nconst index = Number(indexData.index) || 0; \n\n// Tablica załączników\nconst attachments = webhookData.body?.attachments || [];\nconst selectedAttachment = attachments[index] || null;\n\n// Definicje rozszerzeń plików\nconst AUDIO_EXT = ['mp3','wav','m4a','flac','ogg','oga','webm','mp4','mpeg','mpga','aac'];\nconst VIDEO_EXT = ['mp4', 'mov', 'mpeg', 'mpg', 'webm', 'wmv', 'flv', '3gp', 'avi'];\nconst IMAGE_EXT = ['png', 'jpg', 'jpeg', 'gif', 'webp'];\n\n// Klasyfikacja: 0 = unknown, 1 = image, 2 = audio (OpenAI), 3 = video (Gemini)\nlet type_ok = 0;\nlet fileName = null;\n\n// Pobieranie nazwy pliku\nif (typeof selectedAttachment === 'string') {\n    fileName = selectedAttachment;\n} else if (typeof selectedAttachment === 'object' && selectedAttachment?.filename) {\n    fileName = selectedAttachment.filename;\n}\n\n// Logika klasyfikacji\nif (fileName) {\n    const normalized = fileName.toLowerCase(); \n    const ext = normalized.split('.').pop(); // Wyciągnij samo rozszerzenie\n\n    if (ext) { // Sprawdź, czy rozszerzenie istnieje\n        if (IMAGE_EXT.includes(ext)) {\n            type_ok = 1; \n        } else if (AUDIO_EXT.includes(ext)) {\n            type_ok = 2;\n        } else if (VIDEO_EXT.includes(ext)) {\n            type_ok = 3; \n        }\n    }\n}\n\nreturn [\n    {\n        json: {\n            attachment: selectedAttachment,\n            type_ok: type_ok,\n        }\n    }\n];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1472,
          -768
        ],
        "id": "3e8cd660-c049-44e5-8fa4-0106d894bb4a",
        "name": "Attachment - chat"
      },
      {
        "parameters": {
          "from": "MG57b1eeb171ed820e74d29ebc017e22cc",
          "to": "={{ $json.phone }}",
          "message": "={{ $('Notification data').first().json.message }}",
          "options": {
            "statusCallback": "https://apagroup.app.n8n.cloud/webhook/4732399e-f34f-47dd-9467-2063f222d057"
          }
        },
        "type": "n8n-nodes-base.twilio",
        "typeVersion": 1,
        "position": [
          10000,
          -32
        ],
        "id": "fc3f56f6-fff6-4636-9527-256bb6d68721",
        "name": "Twilio",
        "credentials": {
          "twilioApi": {
            "id": "Q2jIhsSZHhL1CrTL",
            "name": "Twilio account"
          }
        },
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "content": "## Konfiguracja \nKonfiguracja flow odbywa się za pomocą pliku json.\n\nW celu dodania nowego użytkownika do adresatów powiadomień należy go dopisać do listy 'recipients', zawierającej dane adresowe użytkowników. Następnie w celu przypisania użytkownika do powiadomień danej usługi należy jego klucz zawrzeć w liście odbiorców tej usługi. ",
          "height": 520,
          "width": 980,
          "color": 5
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          2048,
          -48
        ],
        "id": "3d652c87-099d-410d-b965-933e424b9f71",
        "name": "Sticky Note"
      },
      {
        "parameters": {
          "content": "## Krok 1 - Analiza obrazu\n\nW ramach tego kroku urachamiana jest pętla analizująca obrazy załączone w wiadomości knowshare. Pętla ograniczona jest obecnie do 2 iteracji. Jako wyjście przekazywane są opisy załączników.",
          "height": 1056,
          "width": 2528,
          "color": 6
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          496,
          -1136
        ],
        "id": "dc7a5884-42b3-4e1a-9a49-a14a53505f51",
        "name": "Sticky Note1"
      },
      {
        "parameters": {
          "content": "## Krok 2 - Tworzenie opisu zbiorczego\n\nW ramach tego kroku uruchamiana jest agregacja powstałych opisów do jednego opisu podsumowującego.",
          "height": 528,
          "width": 500,
          "color": 6
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          3056,
          -608
        ],
        "id": "630ab6e6-f98b-4166-8600-3088f8ba046c",
        "name": "Sticky Note2"
      },
      {
        "parameters": {
          "content": "## Krok 3 - zgłoszenie Jira (opcjonalne)  \n",
          "height": 1028,
          "width": 2648
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          5072,
          -560
        ],
        "id": "b8c8deb0-b070-48a9-b764-fccf1418d4a8",
        "name": "Sticky Note3"
      },
      {
        "parameters": {
          "content": "## Krok 3a - Tworzenie zzgłoszenia z załącznikiem",
          "height": 568,
          "width": 1784,
          "color": 3
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          5632,
          -528
        ],
        "id": "b364509c-586b-4206-a200-7aa9bba164bc",
        "name": "Sticky Note7"
      },
      {
        "parameters": {
          "content": "## Krok 5 - Powiadomienie email (opcjonalne)\n\nW ramach tego kroku wysyłąne są powiadomienia e-mail o zgłoszeniu w knowshare. ",
          "height": 476,
          "width": 300,
          "color": 5
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          10752,
          -64
        ],
        "id": "877887ff-9b82-4be7-b420-4460dce52e97",
        "name": "Sticky Note9"
      },
      {
        "parameters": {
          "content": "## Podział na analizę tekstu i obrazu",
          "height": 520,
          "width": 500,
          "color": 4
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          3056,
          -48
        ],
        "id": "9dd80fb5-c094-487f-80de-fd32cab58926",
        "name": "Sticky Note12"
      },
      {
        "parameters": {
          "content": "## Webhook",
          "height": 520,
          "width": 1508,
          "color": 3
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          496,
          -48
        ],
        "id": "84efe21a-f5d1-4c56-8194-a1c074a73e02",
        "name": "Sticky Note13"
      },
      {
        "parameters": {
          "content": "## Krok 3.1 - Tworzenie contentu\n\nW ramach tego kroku na podstawie opisu tworzone są temat zgłoszenia, jego treść, oraz realizowane jest samo zgłoszenie n. ",
          "height": 1032,
          "width": 1428,
          "color": 3
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          3600,
          -560
        ],
        "id": "5569d60d-f797-4a61-84c9-a42fdaa3c565",
        "name": "Sticky Note15"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "bf08c136-8231-40c2-adad-bb5ced48812e",
                "leftValue": "={{ $('Webhook').item.json.body.attachments }}",
                "rightValue": "",
                "operator": {
                  "type": "array",
                  "operation": "empty",
                  "singleValue": true
                }
              },
              {
                "id": "3139722a-659b-4e66-88f2-b2153ba0c7ac",
                "leftValue": "={{ $('Webhook').item.json.body.attachments }}",
                "rightValue": "",
                "operator": {
                  "type": "array",
                  "operation": "notExists",
                  "singleValue": true
                }
              }
            ],
            "combinator": "or"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          3264,
          176
        ],
        "id": "b8bdc2f6-a55b-4021-ad4c-1412f66b05c9",
        "name": "If there are attachments"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "45988ecf-6ec1-4a69-bf28-b8cac853e764",
                "name": "index",
                "value": "={{$runIndex}}",
                "type": "number"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          1104,
          -784
        ],
        "id": "da2fc1f4-02f1-4db0-8e29-ccde6bf58022",
        "name": "Set index"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "62ec8387-d979-403a-a2cf-455d56bff842",
                "leftValue": "={{ $json.index }}",
                "rightValue": 2,
                "operator": {
                  "type": "number",
                  "operation": "gte"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          1248,
          -784
        ],
        "id": "7096b65e-aa2d-4558-ab80-0b4b7b616dc9",
        "name": "Check index"
      },
      {
        "parameters": {
          "bucketName": "={{ $('Webhook').item.json.body.tenantId }}",
          "fileKey": "=cmms/{{ $('Webhook').item.json.body.assetId }}/{{ $json.attachment }}",
          "binaryPropertyName": "image"
        },
        "type": "n8n-nodes-base.s3",
        "typeVersion": 1,
        "position": [
          2048,
          -784
        ],
        "id": "60e65fe3-d040-4168-9cc5-d6f910a9358c",
        "name": "Fetch image - chat",
        "credentials": {
          "s3": {
            "id": "smwCdXvghDY8DlJz",
            "name": "S3 account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "for (const item of items) {\n  if (item.binary && item.binary.image) {\n    item.binary.image.mimeType = 'image/jpeg';\n  }\n}\nreturn items;"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2272,
          -784
        ],
        "id": "0e7fa715-9179-4c10-af72-2338782726c1",
        "name": "Change mime type - chat"
      },
      {
        "parameters": {
          "jsCode": "// Funkcja wykrywająca czy tekst zawiera znaki spoza alfabetu łacińskiego\nfunction isNonLatin(text) {\n    // Znaki spoza zakresu łacińskiego\n    const nonLatinRegex = /[^\\u0000-\\u007F\\u00A0-\\u024F]/;\n    return nonLatinRegex.test(text);\n}\n\n// Funkcja konwertująca tekst do GSM-7\nfunction toGSM7(text) {\n    if (!text) return '';\n\n    // 1. Usuń diakrytyki\n    let normalized = text.normalize('NFD').replace(/[\\u0300-\\u036f]/g, '');\n\n    // 2. Mapa zamian\n    const charMap = {\n        '’': \"'\", '‘': \"'\", '“': '\"', '”': '\"', '–': '-', '—': '-',\n        'ß': 'ss', 'Œ': 'OE', 'œ': 'oe', 'Æ': 'AE', 'ae': 'ae',\n        'ł': 'l', 'Ł': 'L', 'Ø': 'O', 'ø': 'o', 'Đ': 'D', 'đ': 'd'\n    };\n\n    normalized = normalized.split('').map(c => charMap[c] || c).join('');\n\n    // 3. Dozwolone znaki GSM-7\n    const gsm7Chars =\n        '@£$¥èéùìòÇ\\nØø\\rÅåΔ_ΦΓΛΩΠΨΣΘΞ ' +\n        \"abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ\" +\n        \"0123456789\" +\n        \"!\\\"#¤%&'()*+,-./:;<=>?¡ÄÖÑÜ§¿äöñü\";\n\n    // 4. Usuń niedozwolone\n    return normalized.split('').filter(c => gsm7Chars.includes(c)).join('');\n}\n\n// Limity SMS\nconst GSM_LIMIT = 160;\nconst UCS2_LIMIT = 70;\nconst ELLIPSIS = \"...\";\nconst ELLIPSIS_LENGTH = ELLIPSIS.length;\n\n\n// Przetwarzanie itemów\nfor (const item of items) {\n    const input = item.json;\n\n    const smsPartText = $('SMS part 1').first().json.sms_firstPart || '';\n    const itemText = input.output?.[0]?.content?.[0]?.text || '';\n\n    const rawMessage = (smsPartText + itemText).trim();\n\n    // WYKRYWANIE ALFABETU\n    const nonLatin = isNonLatin(rawMessage);\n\n    let finalSmsText;\n\n    if (!nonLatin) {\n        // ============================\n        //   TRYB ŁACIŃSKI (GSM-7)\n        // ============================\n        const cleanMessage = toGSM7(rawMessage);\n\n        if (cleanMessage.length > GSM_LIMIT) {\n            finalSmsText =\n                cleanMessage.substring(0, GSM_LIMIT - ELLIPSIS_LENGTH) + ELLIPSIS;\n        } else {\n            finalSmsText = cleanMessage;\n        }\n\n    } else {\n        // ============================\n        //  TRYB NIEŁACIŃSKI (UCS-2)\n        // ============================\n\n        if (rawMessage.length > UCS2_LIMIT) {\n            finalSmsText =\n                rawMessage.substring(0, UCS2_LIMIT - ELLIPSIS_LENGTH) + ELLIPSIS;\n        } else {\n            finalSmsText = rawMessage;\n        }\n    }\n\n    // Zapis do item.json\n    input.finalSmsText = finalSmsText;\n    input.finalSmsLength = finalSmsText.length;\n}\n\nreturn items;\n"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          8768,
          16
        ],
        "id": "381afde7-8f79-4797-a14c-ca05c6a9d79c",
        "name": "SMS Final",
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "modelId": {
            "__rl": true,
            "value": "gpt-4o-mini",
            "mode": "list",
            "cachedResultName": "GPT-4O-MINI"
          },
          "responses": {
            "values": [
              {
                "role": "system",
                "content": "=Jesteś systemem do generowania krótkich, zwięzłych komunikatów SMS.\nTwoje JEDYNE zadanie to sumaryzacja, skracanie i łączenie tekstu.\n\nZASADA KLUCZOWA (NON-NEGOTIABLE):\n1. **ZAKAZ TŁUMACZENIA:** Nigdy, pod żadnym pozorem, nie tłumacz treści. Musisz wykryć i ZACHOWAĆ oryginalny język wejściowy (nawet jeśli jest to język mieszany, niepoprawny lub zawiera błędy).\n2. **KONTRA POLSKI:** Nie zmieniaj języka na polski, chyba że język wejściowy był polski.\n3. **SKRACANIE:** Połącz oba teksty, skróć je do podanego limitu znaków, zachowując sens.\n4. **FORMAT:** Zwróć tylko finalny tekst SMS. Bez cudzysłowów, wyjaśnień, ani formatowania Markdown."
              },
              {
                "content": "=Tytuł: \"{{ $('Task content').item.json.task_title }}\"\nWiadomość: \"{{ $('Task content').item.json.interpretation }} {{ $('Task content').item.json.recommendation }}\"\n\nLimit znaków: {{ $json.sms_contentLimit }}"
              }
            ]
          },
          "builtInTools": {},
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.openAi",
        "typeVersion": 2,
        "position": [
          8176,
          32
        ],
        "id": "57bd7f2a-121e-422d-a6c1-9a1fb9197def",
        "name": "Text shortening",
        "credentials": {
          "openAiApi": {
            "id": "7r6c9PgveQjC7ygm",
            "name": "OpenAi project n8n"
          }
        },
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "jsCode": "const SMS_LIMIT = 155; //160\n\n// Przetwarzanie każdego elementu w danych\nfor (const item of items) {\n  const input = item.json;\n  \n  // 1. Definiowanie pól\n  const name = $('Webhook').first().json.body.createdBy || '';\n\n\n  // 2. Łączenie pól w format: \"Imię Nazwisko; Tytuł; \" (Z POLSKIMI ZNAKAMI)\n  // Używamy separatorów \"; \" (dwa znaki)\n  const firstPartRaw = `Knowshare: ${name}; `;\n  \n  // 3. Obliczenie DŁUGOŚCI tej części (na podstawie RAW stringu)\n  const firstPartLength = firstPartRaw.length;\n  \n  // 4. Wyznaczenie różnicy (maksymalnego limitu dla Treści)\n  const maxContentLength = SMS_LIMIT - firstPartLength;\n  \n  // Zapewnienie, że limit nie jest ujemny\n  const finalContentLimit = Math.max(0, maxContentLength);\n  \n  // Dodanie nowych zmiennych do obiektu JSON:\n  // - sms_firstPart: sformatowana część z polskimi znakami\n  // - sms_contentLimit: obliczony limit znaków dla treści (dla Chat GPT)\n  input.sms_firstPart = firstPartRaw;\n  input.sms_contentLimit = finalContentLimit;\n}\n\nreturn items;"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          8000,
          32
        ],
        "id": "d3bf8abc-4d0e-4e04-9c6d-e9825f89261d",
        "name": "SMS part 1",
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "c6gReJDAxZwjoiwY",
            "mode": "list",
            "cachedResultUrl": "/workflow/c6gReJDAxZwjoiwY",
            "cachedResultName": "Nocodb - get asset summary"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "assetId": "={{ $('Webhook').item.json.body.assetId }}",
              "case": "Knowshare"
            },
            "matchingColumns": [
              "assetId"
            ],
            "schema": [
              {
                "id": "assetId",
                "displayName": "assetId",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "case",
                "displayName": "case",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          2416,
          176
        ],
        "id": "f230a512-a383-4750-a0f5-a8910593b73e",
        "name": "Get asset summary"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "45988ecf-6ec1-4a69-bf28-b8cac853e764",
                "name": "index",
                "value": "={{$runIndex}}",
                "type": "number"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          5728,
          -224
        ],
        "id": "5d1c8c5b-c1ad-4a44-a090-d5fe9fcd39ff",
        "name": "Set index - kanban"
      },
      {
        "parameters": {
          "jsCode": "// Pobierz dane z node Webhook i node Set index - jira\nconst webhook = $('Webhook').item.json;\nconst index = $('Set index - kanban').item.json.index;\n\n// Wyciągnij tablicę attachments z Webhook body\nconst attachments = webhook?.body?.attachments || [];\n\n// Jeśli index jest poprawny – wybierz odpowiedni załącznik\nconst selectedAttachment = attachments[index] || null;\n\nreturn [\n  {\n    json: {\n      attachment: selectedAttachment\n    }\n  }\n];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          5904,
          -224
        ],
        "id": "b3017ca0-560e-4898-8853-676dcbce14e7",
        "name": "Attachment - kanban"
      },
      {
        "parameters": {
          "bucketName": "={{ $('Webhook').item.json.body.tenantId }}",
          "fileKey": "=cmms/{{ $('Webhook').item.json.body.assetId }}/{{ $json.attachment }}",
          "binaryPropertyName": "image"
        },
        "type": "n8n-nodes-base.s3",
        "typeVersion": 1,
        "position": [
          6096,
          -224
        ],
        "id": "3edb7b1b-e4ff-4b79-af49-9a352bfac5f3",
        "name": "Fetch image - kanban",
        "credentials": {
          "s3": {
            "id": "smwCdXvghDY8DlJz",
            "name": "S3 account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "for (const item of items) {\n  if (item.binary && item.binary.image) {\n    item.binary.image.mimeType = 'image/jpeg';\n  }\n}\nreturn items;"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          6288,
          -224
        ],
        "id": "f4ac5e15-e8ad-428f-b3ec-a76a7fe55b94",
        "name": "Change mime type - kanban"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://nocodb.nazca40.com/api/v2/storage/upload",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "xc-token",
                "value": "fKGwFz4C7xPXxLxD5nFh8X0yKJeL6t5i-M8oqR_i"
              }
            ]
          },
          "sendBody": true,
          "contentType": "multipart-form-data",
          "bodyParameters": {
            "parameters": [
              {
                "parameterType": "formBinaryData",
                "name": "file",
                "inputDataFieldName": "image"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          6496,
          -224
        ],
        "id": "9d1df94b-bc0b-403f-b329-b0951f8f6828",
        "name": "Upload image - kanban"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "45988ecf-6ec1-4a69-bf28-b8cac853e764",
                "name": "fileNames",
                "value": "={{ $('Webhook').item.json.body.attachments }}",
                "type": "array"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          5904,
          -432
        ],
        "id": "9ce10e50-876b-48ca-a29e-e3555de8cf4d",
        "name": "Set attachments - kanban"
      },
      {
        "parameters": {
          "fieldToSplitOut": "fileNames",
          "options": {}
        },
        "type": "n8n-nodes-base.splitOut",
        "typeVersion": 1,
        "position": [
          6096,
          -432
        ],
        "id": "a06b9a0d-b60d-4ced-b9e3-bc13f621ae14",
        "name": "Split attachments - kanban"
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "n8n-nodes-base.splitInBatches",
        "typeVersion": 3,
        "position": [
          6704,
          -224
        ],
        "id": "033802a3-3222-45bb-910b-4e9103bc6629",
        "name": "Loop over attachments",
        "alwaysOutputData": false
      },
      {
        "parameters": {
          "aggregate": "aggregateAllItemData",
          "options": {}
        },
        "type": "n8n-nodes-base.aggregate",
        "typeVersion": 1,
        "position": [
          6896,
          -224
        ],
        "id": "ee84a073-6d6a-4c98-ae2a-579f3134aa45",
        "name": "Aggregate attachments - kanban"
      },
      {
        "parameters": {
          "jsCode": "// Wejście z poprzedniego noda\nconst attachments = $json.data;\n\n// Bez żadnych zmian — jest już w poprawnym formacie NocoDB\nreturn [\n  {\n    attachments\n  }\n];\n"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          7056,
          -224
        ],
        "id": "d3b4a4a6-4616-497a-bb2e-d7b4632a9bd0",
        "name": "Attachments list"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "bf08c136-8231-40c2-adad-bb5ced48812e",
                "leftValue": "={{ $('Webhook').item.json.body.attachments }}",
                "rightValue": "",
                "operator": {
                  "type": "array",
                  "operation": "notEmpty",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          5184,
          32
        ],
        "id": "ed672380-79f3-496a-9c28-0d1f5786452c",
        "name": "If there are attachments - kanban"
      },
      {
        "parameters": {
          "content": "## Krok 3a - Tworzenie zgłoszenia bez załącznika\n",
          "height": 344,
          "width": 1784,
          "color": 3
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          5632,
          64
        ],
        "id": "a11494a0-8ded-4179-864d-ad4661e81d38",
        "name": "Sticky Note8"
      },
      {
        "parameters": {
          "authentication": "nocoDbApiToken",
          "operation": "create",
          "projectId": "={{ $('Get asset summary').item.json.table.BaseId }}",
          "table": "={{ $('Get asset summary').item.json.table.TableId }}",
          "fieldsUi": {
            "fieldValues": [
              {
                "fieldName": "Title",
                "fieldValue": "={{ $('Task content').item.json.task_title }}"
              },
              {
                "fieldName": "Description",
                "fieldValue": "={{ $('Task content').item.json.task_description }}"
              },
              {
                "fieldName": "CreatedBy",
                "fieldValue": "={{ $('Webhook').item.json.body.createdBy }}"
              },
              {
                "fieldName": "Asset",
                "fieldValue": "={{ $('Get asset summary').item.json.asset.assetName }}"
              },
              {
                "fieldName": "Attachments",
                "fieldValue": "={{ $json.attachments }}"
              },
              {
                "fieldName": "OriginalTitle",
                "fieldValue": "={{ $('Safe subject and message').item.json.safe_subject }}"
              },
              {
                "fieldName": "OriginalDescription",
                "fieldValue": "={{ $('Safe subject and message').item.json.safe_message }}"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.nocoDb",
        "typeVersion": 3,
        "position": [
          7216,
          -224
        ],
        "id": "f55cb43e-beeb-4e77-b873-489d23d826ca",
        "name": "Create a task",
        "credentials": {
          "nocoDbApiToken": {
            "id": "qeCZEzG9ppXPu7Mh",
            "name": "NocoDB Token account"
          }
        }
      },
      {
        "parameters": {
          "fieldsToAggregate": {
            "fieldToAggregate": [
              {
                "fieldToAggregate": "self"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.aggregate",
        "typeVersion": 1,
        "position": [
          7808,
          32
        ],
        "id": "497819ad-7fa4-4d75-b7b1-6c58fdf68e94",
        "name": "Aggregate inputs"
      },
      {
        "parameters": {
          "jsCode": "// 1. Pobierz surowy tekst JSON z OpenAI\nlet raw = $input.first().json.output[0].content[0].text || \"\";\n\n// 2. Pobranie oryginalnej wiadomości (dla pola task_description)\nconst originalMessage = $('Safe subject and message').first().json.safe_message || \"\"; \n\n// 3. Usuń potencjalne znaczniki kodu ```json ... ```\nif (raw.includes(\"```\")) {\n    raw = raw.replace(/```json|```/g, \"\").trim();\n}\n\n// 4. Usuń nadmiarowe białe znaki\nraw = raw.replace(/[\\n\\r\\t\\u00A0\\uFEFF]/g, \" \").trim(); \n\nlet parsed;\n\n// 5. Parsowanie JSON z obsługą błędów\ntry {\n    parsed = JSON.parse(raw);\n} catch (error) {\n    return [{\n        json: {\n            task_title: \"\",\n            interpretation: \"\",\n            recommendation: \"\",\n            task_description: \"\",\n            _error: \"Błąd parsowania JSON: \" + error.message + \" | Czysty ciąg: \" + raw.substring(0, 100) + \"...\"\n        }\n    }];\n}\n\n// 6. Transformacja do oczekiwanego formatu\nconst obj = (Array.isArray(parsed) && parsed.length > 0) ? parsed[0] : parsed;\nconst taskDescriptionData = obj.task_description || {};\n\n// 7. Pobieranie wartości generowanych przez AI\nconst interpretation = taskDescriptionData.interpretation || \"\";\nconst recommendation = taskDescriptionData.recommendation || \"\";\nconst taskTitle = obj.task_title || \"\";\n\n// 8. Tworzenie nowego pola 'task_description' (podsumowanie)\nconst newTaskDescription = `1: ${originalMessage} | 2: ${interpretation} | 3: ${recommendation}`;\n\n// 9. Zwrócenie finalnego formatu\nreturn [{\n    json: {\n        task_title: taskTitle,\n        interpretation: interpretation,\n        recommendation: recommendation,\n        task_description: newTaskDescription\n    }\n}];\n"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          4592,
          -128
        ],
        "id": "541aec3a-2694-43b2-b817-95d44d63a86b",
        "name": "Task content",
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "17e1c3b9-d842-4667-b6a9-ab06839b7007",
                "leftValue": "={{ $json.phone }}",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "notEmpty",
                  "singleValue": true
                }
              },
              {
                "id": "b92055c7-b7ec-469e-967a-8011056a838c",
                "leftValue": "={{ $json.smsNotification }}",
                "rightValue": "",
                "operator": {
                  "type": "boolean",
                  "operation": "true",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          9728,
          208
        ],
        "id": "22e055ca-1e05-4992-83ef-72b949e5f969",
        "name": "If sms notification enabled"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "45988ecf-6ec1-4a69-bf28-b8cac853e764",
                "name": "recipients",
                "value": "={{ $('Get asset summary').first().json.users }}",
                "type": "array"
              },
              {
                "id": "4df1a078-86b6-4c57-a90e-46715fc7fedb",
                "name": "message",
                "value": "={{ $('SMS Final').first().json.finalSmsText }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          8976,
          16
        ],
        "id": "af4f7306-fada-44da-8714-2b8eccd4c141",
        "name": "Notification data"
      },
      {
        "parameters": {
          "fieldToSplitOut": "recipients",
          "options": {}
        },
        "type": "n8n-nodes-base.splitOut",
        "typeVersion": 1,
        "position": [
          9184,
          16
        ],
        "id": "e43474f7-807f-4fb1-885b-1ea34c66585c",
        "name": "Split notification data"
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "n8n-nodes-base.splitInBatches",
        "typeVersion": 3,
        "position": [
          9392,
          192
        ],
        "id": "7f17df57-f8f5-4ab1-846d-870f8fbe1175",
        "name": "Loop over notification data",
        "alwaysOutputData": false
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "17e1c3b9-d842-4667-b6a9-ab06839b7007",
                "leftValue": "={{ $('Loop over notification data').item.json.email }}",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "notEmpty",
                  "singleValue": true
                }
              },
              {
                "id": "b92055c7-b7ec-469e-967a-8011056a838c",
                "leftValue": "={{ $('Loop over notification data').item.json.emailNotification }}",
                "rightValue": "",
                "operator": {
                  "type": "boolean",
                  "operation": "true",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          10560,
          224
        ],
        "id": "c0959703-e477-43ad-b847-2b854c10a031",
        "name": "If email notification enabled"
      },
      {
        "parameters": {
          "content": "## Krok 4 - Powiadomienie sms (opcjonalne)\n\nW ramach tego kroku wysyłąne są powiadomienia sms o zgłoszeniu w knowshare. ",
          "height": 476,
          "width": 300,
          "color": 2
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          9904,
          -240
        ],
        "id": "835f911d-464e-420d-a852-d4081b129f7f",
        "name": "Sticky Note11"
      },
      {
        "parameters": {
          "content": "## Powiadomienia",
          "height": 1004,
          "width": 3324,
          "color": 6
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          7744,
          -528
        ],
        "id": "fd2119c3-8b07-4bca-b38d-42735ed3a1bc",
        "name": "Sticky Note14"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "945dfa76-3c1d-436a-aef2-617ef8539061",
                "leftValue": "={{ $('Webhook').item.json.body.index }}",
                "rightValue": "notices",
                "operator": {
                  "type": "string",
                  "operation": "equals",
                  "name": "filter.operator.equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          1312,
          192
        ],
        "id": "b3c70f35-e049-44d6-8603-a54bb1b299e5",
        "name": "If it's notice"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "945dfa76-3c1d-436a-aef2-617ef8539061",
                "leftValue": "={{ $json.asset.isCar }}",
                "rightValue": "notices",
                "operator": {
                  "type": "boolean",
                  "operation": "false",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          2624,
          176
        ],
        "id": "7009ae1d-e592-4030-b580-84e604b9fb46",
        "name": "If it's not a car"
      },
      {
        "parameters": {
          "authentication": "nocoDbApiToken",
          "operation": "create",
          "projectId": "={{ $('Get asset summary').item.json.table.BaseId }}",
          "table": "={{ $('Get asset summary').item.json.table.TableId }}",
          "fieldsUi": {
            "fieldValues": [
              {
                "fieldName": "Title",
                "fieldValue": "={{ $('Task content').item.json.task_title }}"
              },
              {
                "fieldName": "Description",
                "fieldValue": "={{ $('Task content').item.json.task_description }}"
              },
              {
                "fieldName": "CreatedBy",
                "fieldValue": "={{ $('Webhook').item.json.body.createdBy }}"
              },
              {
                "fieldName": "Asset",
                "fieldValue": "={{ $('Get asset summary').item.json.asset.assetName }}"
              },
              {
                "fieldName": "Attachments",
                "fieldValue": "={{ $json.attachments }}"
              },
              {
                "fieldName": "OriginalTitle",
                "fieldValue": "={{ $('Safe subject and message').item.json.safe_subject }}"
              },
              {
                "fieldName": "OriginalDescription",
                "fieldValue": "={{ $('Safe subject and message').item.json.safe_message }}"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.nocoDb",
        "typeVersion": 3,
        "position": [
          6400,
          160
        ],
        "id": "650ba68e-8527-4a17-8815-cde6b1d49716",
        "name": "Create a task without attachments",
        "credentials": {
          "nocoDbApiToken": {
            "id": "qeCZEzG9ppXPu7Mh",
            "name": "NocoDB Token account"
          }
        }
      },
      {
        "parameters": {
          "modelId": {
            "__rl": true,
            "value": "gpt-4o",
            "mode": "list",
            "cachedResultName": "GPT-4O"
          },
          "responses": {
            "values": [
              {
                "role": "system",
                "content": "=Jesteś modułem AI generującym tytuły i opisy zgłoszeń (Trello/Jira).\n\nWejście:\n- message: oryginalna treść zgłoszenia\n- subject: temat zgłoszenia\n- image_description: opis obrazu (opcjonalny)\n\nZasady Generowania Treści:\n1. Wykrywanie polecenia tłumaczenia:\n   Polecenia mogą zawierać słowa/zwroty: \"przetłumacz\", \"przetłumacz na\", \"translate\", \"translate to\", \"zamień język\", \"zmień język\", \"przełóż na\", \"na język\", \"translate into\".\n\n2. Generowanie treści:\n  A. JEŻELI wykryjesz polecenie tłumaczenia w polu message:\n     - Wygeneruj task_title, task_description.interpretation i task_description.recommendation w języku docelowym.\n\n  B. JEŻELI NIE wykryjesz polecenia tłumaczenia:\n     - Wygeneruj task_title, task_description.interpretation i task_description.recommendation w oryginalnym języku pola message.\n\n3. Wymagane pola i limity:\n  - task_title: jedno zdanie, maksymalnie 100 znaków.\n  - task_description.interpretation: opis sytuacji na podstawie message + subject + image_description, maksymalnie 300 znaków.\n  - task_description.recommendation: jedna konkretna rekomendacja, maksymalnie 300 znaków.\n\n4. Zawsze zwracaj wynik wyłącznie w formacie JSON:\n\n[\n  {\n    \"task_title\": \"...\",\n    \"task_description\": {\n      \"interpretation\": \"...\",\n      \"recommendation\": \"...\"\n    }\n  }\n]\n\n5. Nie dodawaj nowych linii ani dodatkowego tekstu. JSON musi być poprawny i bezpieczny.\n"
              },
              {
                "content": "=subject: {{ $('Safe subject and message').item.json.safe_subject }}\nmessage: {{ $('Safe subject and message').item.json.safe_message }}\nimage_description: {{ $json.content.join(' | ') }}\n\nZwróć wyłącznie JSON w powyższym formacie."
              }
            ]
          },
          "builtInTools": {},
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.openAi",
        "typeVersion": 2,
        "position": [
          3968,
          -112
        ],
        "id": "c41f0981-8bdb-4339-89c7-f043caffdd2e",
        "name": "Create summary",
        "credentials": {
          "openAiApi": {
            "id": "7r6c9PgveQjC7ygm",
            "name": "OpenAi project n8n"
          }
        },
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "fromEmail": "nazca4@apagroup.pl",
          "toEmail": "={{ $('Loop over notification data').item.json.email }}",
          "subject": "=Nowa wiadomość knowshare",
          "emailFormat": "text",
          "text": "=Temat: {{ $('Task content').first().json.task_title }}\n\nOryginalne zgłoszenie: {{ $('Safe subject and message').item.json.safe_message }}\nInterpretacja AI: {{ $('Task content').first().json.interpretation }}\nRekomendacja AI: {{ $('Task content').first().json.recommendation }}\n\nAsset: {{ $('Get asset summary').item.json.asset.assetName }}\nAutor: {{ $('Webhook').first().json.body.createdBy }}",
          "options": {
            "appendAttribution": false
          }
        },
        "type": "n8n-nodes-base.emailSend",
        "typeVersion": 2.1,
        "position": [
          10832,
          208
        ],
        "id": "c6218783-8117-42b3-94ce-088d5dc6cc8f",
        "name": "Send email",
        "webhookId": "94ebe48c-92c8-45cb-bc3d-da34fac850db",
        "credentials": {
          "smtp": {
            "id": "bTsU09ZudpWPlOEp",
            "name": "SMTP account 3"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "// Pobierz dane wejściowe z Webhook\nconst subject = $input.first().json.body.subject || \"\";\nconst message = $input.first().json.body.message || \"\";\n\n// Funkcja do oczyszczania tekstu\nfunction sanitizeTextSafe(text) {\n    if (!text) return \"\";\n\n    // 1. Usuń wszystkie znaki kontrolne ASCII (0-31 i 127)\n    text = text.replace(/[\\x00-\\x1F\\x7F]/g, \"\");\n\n    // 2. Usuń potencjalnie niebezpieczne znaki w JSON lub kodzie\n    text = text.replace(/[`\\\\<>${}[\\]]/g, \"\");\n\n    // 3. Usuń wszystkie cudzysłowy i apostrofy (proste + typograficzne)\n    text = text.replace(/[\"'‘’“”„‚«»]/g, \"\");\n\n    // 4. Usuń nadmiarowe białe znaki (nowa linia, tab, niełamiąca spacja)\n    text = text.replace(/[\\n\\r\\t\\u00A0\\uFEFF]/g, \" \").trim();\n\n    // 5. Zamień wielokrotne spacje na pojedynczą\n    text = text.replace(/\\s{2,}/g, \" \");\n\n    return text;\n}\n\n// Oczyszczone pola\nconst safeSubject = sanitizeTextSafe(subject);\nconst safeMessage = sanitizeTextSafe(message);\n\n// Zwrot danych do workflow\nreturn [{\n    json: {\n        safe_subject: safeSubject,\n        safe_message: safeMessage\n    }\n}];\n"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1040,
          192
        ],
        "id": "0388dfd4-56d9-417b-9fc3-1986c05f3e51",
        "name": "Safe subject and message"
      },
      {
        "parameters": {
          "bucketName": "={{ $('Webhook').item.json.body.tenantId }}",
          "fileKey": "=cmms/{{ $('Webhook').item.json.body.assetId }}/{{ $json.attachment }}",
          "binaryPropertyName": "audio"
        },
        "type": "n8n-nodes-base.s3",
        "typeVersion": 1,
        "position": [
          2048,
          -464
        ],
        "id": "436ec697-1473-45d3-87d5-7408043cc493",
        "name": "Download Audio",
        "credentials": {
          "s3": {
            "id": "smwCdXvghDY8DlJz",
            "name": "S3 account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "for (const item of items) {\n  if (!item.binary?.audio) continue;\n\n  const file = item.binary.audio;\n  if (!file.fileName) continue;\n\n  const name = file.fileName.toLowerCase();\n\n  if (name.endsWith('.mp3')) file.mimeType = 'audio/mpeg';\n  else if (name.endsWith('.wav')) file.mimeType = 'audio/wav';\n  else if (name.endsWith('.m4a')) file.mimeType = 'audio/mp4';\n  else if (name.endsWith('.flac')) file.mimeType = 'audio/flac';\n  else if (name.endsWith('.ogg') || name.endsWith('.oga')) file.mimeType = 'audio/ogg';\n  else if (name.endsWith('.webm')) file.mimeType = 'audio/webm';\n  else if (name.endsWith('.mp4')) file.mimeType = 'audio/mp4';\n  else if (name.endsWith('.mpeg') || name.endsWith('.mpga')) file.mimeType = 'audio/mpeg';\n  else if (name.endsWith('.aac')) file.mimeType = 'audio/aac';\n  else file.mimeType = 'application/octet-stream'; // fallback\n\n}\n\nreturn items;\n"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2240,
          -464
        ],
        "id": "d7069aa0-4ee4-4144-83c6-7d814cd9f2f1",
        "name": "Change mime type - audio"
      },
      {
        "parameters": {
          "resource": "audio",
          "operation": "transcribe",
          "binaryPropertyName": "audio",
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.openAi",
        "typeVersion": 2,
        "position": [
          2432,
          -464
        ],
        "id": "efe91685-c923-46d9-bf37-6d9a5d0cbe98",
        "name": "Audio analyze",
        "credentials": {
          "openAiApi": {
            "id": "7r6c9PgveQjC7ygm",
            "name": "OpenAi project n8n"
          }
        },
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "271ca89b-3769-4ebf-bb03-391a60af5ec9",
                "name": "content",
                "value": "={{ $json.text }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          2656,
          -480
        ],
        "id": "eeea4a28-4f7a-4e6c-b9f6-074418ae30ff",
        "name": "Prepare audio output"
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $json.type_ok }}",
                      "rightValue": 0,
                      "operator": {
                        "type": "number",
                        "operation": "equals"
                      },
                      "id": "194bfdf8-66ea-4568-9c3e-b06727c1a7d1"
                    }
                  ],
                  "combinator": "and"
                }
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "id": "f6ea07d3-c359-4002-a0a4-215fad595428",
                      "leftValue": "={{ $json.type_ok }}",
                      "rightValue": 1,
                      "operator": {
                        "type": "number",
                        "operation": "equals"
                      }
                    }
                  ],
                  "combinator": "and"
                }
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "id": "a6135f05-9ad9-4413-bb95-3dbccdb68618",
                      "leftValue": "={{ $json.type_ok }}",
                      "rightValue": 2,
                      "operator": {
                        "type": "number",
                        "operation": "equals"
                      }
                    }
                  ],
                  "combinator": "and"
                }
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "id": "394c8abb-c9bc-4397-b294-40c1fe1974d2",
                      "leftValue": "={{ $json.type_ok }}",
                      "rightValue": 3,
                      "operator": {
                        "type": "number",
                        "operation": "equals"
                      }
                    }
                  ],
                  "combinator": "and"
                }
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3.3,
        "position": [
          1712,
          -800
        ],
        "id": "9cb2300a-1a0a-4a5a-9a97-5bc410fabf3e",
        "name": "Switch - type selection"
      },
      {
        "parameters": {
          "fromEmail": "nazca4@apagroup.pl",
          "toEmail": "marek.rachel@apagroup.pl; grzegorz.bojdo@apagroup.pl",
          "subject": "=Knowshare - wykryto błąd w workflow",
          "emailFormat": "text",
          "text": "=Wykryto błąd w workflow \"Knowshare - nocodb integration\".\n\n{{ $json.body }}",
          "options": {
            "appendAttribution": false
          }
        },
        "type": "n8n-nodes-base.emailSend",
        "typeVersion": 2.1,
        "position": [
          10544,
          -432
        ],
        "id": "20ef5f07-dedd-4957-a88f-d626867e3dad",
        "name": "Send email1",
        "webhookId": "462e5cf3-fc5a-42de-b4cc-fb032576ce7b",
        "credentials": {
          "smtp": {
            "id": "bTsU09ZudpWPlOEp",
            "name": "SMTP account 3"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const allErrors = [];\n\nconst nodes = [\n    'Create Picture Summary - error handling',\n    'Audio analyze - error handling',\n    'Create summary - error handling',\n    'Text shortening - error handling',\n    'Twilio - error handling'\n];\n\nfor (const nodeName of nodes) {\n    try {\n        // Pobranie itemu w poprawny sposób\n        const nodeItem = $node[nodeName]?.json;\n\n        if (!nodeItem) continue;\n\n        const nodeError = nodeItem.errorOpenAI1;\n\n        if (\n            typeof nodeError === 'string' &&\n            nodeError.trim().length > 0\n        ) {\n            allErrors.push(nodeError);\n        }\n\n    } catch (err) {\n        continue;\n    }\n}\n\nreturn [{\n    json: {\n        sendEmail: allErrors.length > 0,\n        body: allErrors.join(\"\\n\\n\")\n    }\n}];\n"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          10000,
          -416
        ],
        "id": "694f2e73-931a-4f48-8b53-abadc5ca4759",
        "name": "Error raport prepare"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "07c6ac0b-42b3-4c95-8613-2beda3e55d83",
                "leftValue": "={{ $json.sendEmail }}",
                "rightValue": false,
                "operator": {
                  "type": "boolean",
                  "operation": "true",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          10272,
          -416
        ],
        "id": "b11ef71b-912f-41f5-9cd1-6fd1adc1cb49",
        "name": "If"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "02c7be48-65a1-41a2-88cb-9b57c3555238",
                "name": "errorOpenAI1",
                "value": "={{ \"Błąd w węźle \\\"Create Picture Summary\\\": \" + $json.error }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          2720,
          -768
        ],
        "id": "e0f19a25-3591-4766-b2c0-6313e7a1e71e",
        "name": "Create Picture Summary - error handling"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "02c7be48-65a1-41a2-88cb-9b57c3555238",
                "name": "errorOpenAI1",
                "value": "={{ \"Błąd w węźle \\\"Audio analyze\\\": \" + $json.error }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          2848,
          -448
        ],
        "id": "2d61f880-ae59-489c-87f8-9601847b16f3",
        "name": "Audio analyze - error handling"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "02c7be48-65a1-41a2-88cb-9b57c3555238",
                "name": "errorOpenAI1",
                "value": "={{ \"Błąd w węźle \\\"Create summary\\\": \" + $json.error }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          4352,
          32
        ],
        "id": "df2bd9ea-916d-47c7-b861-f90090cc0db2",
        "name": "Create summary - error handling"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "02c7be48-65a1-41a2-88cb-9b57c3555238",
                "name": "errorOpenAI1",
                "value": "={{ \"Błąd w węźle \\\"Text shortening\\\": \" + $json.error }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          8544,
          128
        ],
        "id": "363d5e96-4e1a-4164-b4b7-faffe71ee38d",
        "name": "Text shortening - error handling"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "02c7be48-65a1-41a2-88cb-9b57c3555238",
                "name": "errorOpenAI1",
                "value": "={{ \"Błąd w węźle \\\"Twilio\\\": \" + $json.error }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          10224,
          160
        ],
        "id": "4f8d940d-27fb-4918-9d99-99ef1d742671",
        "name": "Twilio - error handling"
      },
      {
        "parameters": {
          "content": "## Wysłanie e-mail z błędami z wybranych węzłów\nZebranie błędów, przygotowanie treści e-mail i wysłanie",
          "height": 240,
          "width": 880,
          "color": 7
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          9904,
          -512
        ],
        "id": "b8573f16-2c39-4932-8480-f0a1268298ec",
        "name": "Sticky Note4"
      },
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "9fa3910c-8207-4351-b79b-b74b65ec4a3c",
          "authentication": "basicAuth",
          "responseMode": "lastNode",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          688,
          192
        ],
        "id": "8e6bb9be-902e-44cb-80f1-ab740ba5f6a7",
        "name": "Webhook",
        "webhookId": "9fa3910c-8207-4351-b79b-b74b65ec4a3c",
        "credentials": {
          "httpBasicAuth": {
            "id": "QmXylULo8NVgMnZB",
            "name": "Unnamed credential"
          }
        }
      }
    ],
    "connections": {
      "Create Picture Summary": {
        "main": [
          [
            {
              "node": "Loop Over Items - chat",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Create Picture Summary - error handling",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Aggregate": {
        "main": [
          [
            {
              "node": "Create summary",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Loop parameter - chat": {
        "main": [
          [
            {
              "node": "Split Out - chat",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Split Out - chat": {
        "main": [
          [
            {
              "node": "Loop Over Items - chat",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Loop Over Items - chat": {
        "main": [
          [
            {
              "node": "Aggregate",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Set index",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Attachment - chat": {
        "main": [
          [
            {
              "node": "Switch - type selection",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Twilio": {
        "main": [
          [
            {
              "node": "If email notification enabled",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Twilio - error handling",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If there are attachments": {
        "main": [
          [
            {
              "node": "Create summary",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Loop parameter - chat",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Set index": {
        "main": [
          [
            {
              "node": "Check index",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Check index": {
        "main": [
          [
            {
              "node": "Loop Over Items - chat",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Attachment - chat",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Fetch image - chat": {
        "main": [
          [
            {
              "node": "Change mime type - chat",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Change mime type - chat": {
        "main": [
          [
            {
              "node": "Create Picture Summary",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code in JavaScript1": {
        "main": [
          [
            {
              "node": "assets params",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code in JavaScript2": {
        "main": [
          [
            {
              "node": "Task content",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Text shortening": {
        "main": [
          [
            {
              "node": "SMS Final",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Text shortening - error handling",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "SMS part 1": {
        "main": [
          [
            {
              "node": "Text shortening",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "SMS Final": {
        "main": [
          [
            {
              "node": "Notification data",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get asset summary": {
        "main": [
          [
            {
              "node": "If it's not a car",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Set index - kanban": {
        "main": [
          [
            {
              "node": "Attachment - kanban",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Attachment - kanban": {
        "main": [
          [
            {
              "node": "Fetch image - kanban",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Fetch image - kanban": {
        "main": [
          [
            {
              "node": "Change mime type - kanban",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Change mime type - kanban": {
        "main": [
          [
            {
              "node": "Upload image - kanban",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Upload image - kanban": {
        "main": [
          [
            {
              "node": "Loop over attachments",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Set attachments - kanban": {
        "main": [
          [
            {
              "node": "Split attachments - kanban",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Split attachments - kanban": {
        "main": [
          [
            {
              "node": "Loop over attachments",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Loop over attachments": {
        "main": [
          [
            {
              "node": "Aggregate attachments - kanban",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Set index - kanban",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Aggregate attachments - kanban": {
        "main": [
          [
            {
              "node": "Attachments list",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Attachments list": {
        "main": [
          [
            {
              "node": "Create a task",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If there are attachments - kanban": {
        "main": [
          [
            {
              "node": "Set attachments - kanban",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Create a task without attachments",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Create a task": {
        "main": [
          [
            {
              "node": "Aggregate inputs",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Aggregate inputs": {
        "main": [
          [
            {
              "node": "SMS part 1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Task content": {
        "main": [
          [
            {
              "node": "If there are attachments - kanban",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If sms notification enabled": {
        "main": [
          [
            {
              "node": "Twilio",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "If email notification enabled",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Notification data": {
        "main": [
          [
            {
              "node": "Split notification data",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Split notification data": {
        "main": [
          [
            {
              "node": "Loop over notification data",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Loop over notification data": {
        "main": [
          [
            {
              "node": "Error raport prepare",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "If sms notification enabled",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If email notification enabled": {
        "main": [
          [
            {
              "node": "Send email",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Loop over notification data",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If it's notice": {
        "main": [
          [
            {
              "node": "Get asset summary",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If it's not a car": {
        "main": [
          [
            {
              "node": "If there are attachments",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Create a task without attachments": {
        "main": [
          [
            {
              "node": "Aggregate inputs",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Create summary": {
        "main": [
          [
            {
              "node": "Task content",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Create summary - error handling",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Send email": {
        "main": [
          [
            {
              "node": "Loop over notification data",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Safe subject and message": {
        "main": [
          [
            {
              "node": "If it's notice",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Download Audio": {
        "main": [
          [
            {
              "node": "Change mime type - audio",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Change mime type - audio": {
        "main": [
          [
            {
              "node": "Audio analyze",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Audio analyze": {
        "main": [
          [
            {
              "node": "Prepare audio output",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Audio analyze - error handling",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Switch - type selection": {
        "main": [
          [
            {
              "node": "Loop Over Items - chat",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Fetch image - chat",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Download Audio",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Loop Over Items - chat",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Prepare audio output": {
        "main": [
          [
            {
              "node": "Loop Over Items - chat",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Error raport prepare": {
        "main": [
          [
            {
              "node": "If",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If": {
        "main": [
          [
            {
              "node": "Send email1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Create Picture Summary - error handling": {
        "main": [
          [
            {
              "node": "Loop Over Items - chat",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Audio analyze - error handling": {
        "main": [
          [
            {
              "node": "Loop Over Items - chat",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Create summary - error handling": {
        "main": [
          [
            {
              "node": "Task content",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Text shortening - error handling": {
        "main": [
          [
            {
              "node": "SMS Final",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Twilio - error handling": {
        "main": [
          [
            {
              "node": "If email notification enabled",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Webhook": {
        "main": [
          [
            {
              "node": "Safe subject and message",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Marek Rachel",
    "name": null,
    "description": null
  },
  "tags": []
}