n8n-Workflow-bk/knowshare---car-service---stage-.json
{
  "updatedAt": "2026-01-15T12:37:06.000Z",
  "createdAt": "2025-11-14T11:57:15.228Z",
  "id": "uawW0w7Ys0QCTDOm",
  "name": "Knowshare - car service - stage",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "945dfa76-3c1d-436a-aef2-617ef8539061",
              "leftValue": "={{ $json.body.index }}",
              "rightValue": "notices",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        512,
        208
      ],
      "id": "d8e4721a-1e8a-4bf7-a230-369dd0b97b97",
      "name": "Check if it's notice"
    },
    {
      "parameters": {
        "jsCode": "// Pobierz dane z node Webhook i node Set index - jira\nconst webhook = $('Webhook').item.json;\nconst index = $('Set index').item.json.index;\n\n// Wyciągnij tablicę attachments z Webhook body\nconst attachments = webhook?.body?.attachments || [];\n\n// Jeśli index jest poprawny – wybierz odpowiedni załącznik\nconst selectedAttachment = attachments[index] || null;\n\nreturn [\n  {\n    json: {\n      attachment: selectedAttachment\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2096,
        208
      ],
      "id": "7026cb40-d60b-45c1-917e-25d3d4ef1918",
      "name": "Attachment - chat"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "45988ecf-6ec1-4a69-bf28-b8cac853e764",
              "name": "index",
              "value": "={{$runIndex}}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1824,
        208
      ],
      "id": "620a317f-2281-4180-a066-794627d93404",
      "name": "Set index"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "62ec8387-d979-403a-a2cf-455d56bff842",
              "leftValue": "={{ $json.index }}",
              "rightValue": 3,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1952,
        208
      ],
      "id": "a20de1df-4808-45c6-9d6a-6e3b8088f2ed",
      "name": "Check index"
    },
    {
      "parameters": {
        "bucketName": "={{ $('Webhook').item.json.body.tenantId }}",
        "fileKey": "=cmms/{{ $('Webhook').item.json.body.assetId }}/{{ $json.attachment }}",
        "binaryPropertyName": "image"
      },
      "type": "n8n-nodes-base.s3",
      "typeVersion": 1,
      "position": [
        2224,
        208
      ],
      "id": "db876dc8-b8e8-436a-99ef-dc02a83bce1c",
      "name": "Fetch image - chat",
      "credentials": {
        "s3": {
          "id": "smwCdXvghDY8DlJz",
          "name": "S3 account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "for (const item of items) {\n  if (item.binary && item.binary.image) {\n    item.binary.image.mimeType = 'image/jpeg';\n  }\n}\nreturn items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2352,
        208
      ],
      "id": "9aed65c2-f205-4adf-8129-ff206b1c1443",
      "name": "Change mime type - chat"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "GPT-4O"
        },
        "messages": {
          "values": [
            {
              "content": "=Otrzymujesz zbiór wartości przebiegu pojazdu.\nKażda wartość jest albo:\n- poprawnym przebiegiem w formacie \"<LICZBA> km\"\n- albo null\n\nTwoje zadanie:\n1. Odrzuć wszystkie wartości null.\n2. Jeśli po odrzuceniu null:\n   - nie ma żadnej wartości → zwróć null\n   - jest dokładnie jedna wartość → zwróć ją\n   - jest kilka wartości:\n     - jeśli wszystkie są IDENTYCZNE → zwróć tę wartość\n     - jeśli różnią się między sobą → zwróć null (konflikt danych)\n\nZwróć wynik jako poprawny JSON w dokładnie tym formacie (bez żadnego innego tekstu):\n\n{\n  \"mileage\": \"<LICZBA> km lub null\"\n}\n\nZasady:\n- Nie modyfikuj formatu przebiegu.\n- Nie przeliczaj jednostek.\n- Nie zgaduj wartości.\n- Nie dodawaj żadnych opisów ani komentarzy.\n- Jeśli masz jakąkolwiek wątpliwość — zwróć null.",
              "role": "system"
            },
            {
              "content": "=Przebieg samochodu:  {{ $json.content }}"
            }
          ]
        },
        "jsonOutput": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        2912,
        224
      ],
      "id": "783257a3-6eb8-47cb-a502-2ce971af3a2f",
      "name": "Car summary",
      "credentials": {
        "openAiApi": {
          "id": "7r6c9PgveQjC7ygm",
          "name": "OpenAi project n8n"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "e9bf7821-d969-41b2-a0a4-aa647bb37199",
              "leftValue": "={{ $json.data[0].carAsset }}",
              "rightValue": "={{ $('Webhook').item.json.body.assetId }}",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        992,
        208
      ],
      "id": "b3e49bef-1bee-47cc-bcf5-df4077403d2e",
      "name": "Check if it's a car"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"fileNames\":{{ $('Webhook').item.json.body.attachments }}\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1232,
        208
      ],
      "id": "0e790930-e707-460c-a45f-db5aad1c0461",
      "name": "Get attachments"
    },
    {
      "parameters": {
        "fieldToSplitOut": "fileNames",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1408,
        208
      ],
      "id": "37d7bfaf-4a9b-4def-bb6a-583ec50c48ba",
      "name": "Split attachments"
    },
    {
      "parameters": {
        "batchSize": "=1",
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1648,
        144
      ],
      "id": "7dacfc47-2524-49d6-b2c1-b42b8ec98e8b",
      "name": "Loop over attachments",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "chatgpt-4o-latest",
          "mode": "list",
          "cachedResultName": "CHATGPT-4O-LATEST"
        },
        "text": "=Otrzymujesz zdjęcie licznika przebiegu pojazdu.\n\nTwoje zadanie:\n1. Jeśli na zdjęciu widać przebieg (odczyt licznika), zwróć go jako tekst w formacie: \"<LICZBA> km\"\n   - tylko cyfry\n   - dokładnie jedna spacja przed \"km\" (np. \"249415 km\")\n2. Jeśli przebieg nie jest widoczny, jest nieczytelny, ucięty, zasłonięty lub masz jakąkolwiek wątpliwość co do odczytu — zwróć null.\n\nZwróć wynik jako poprawny JSON w dokładnie tym formacie (bez żadnego innego tekstu):\n\n{\n  \"mileage\": \"<LICZBA> km lub null\"\n}\n\nWymagania:\n- Nie zwracaj nic poza JSON-em.\n- Nie dodawaj komentarzy, opisów, wyjaśnień ani dodatkowych pól.\n- Nie zgaduj brakujących cyfr.",
        "inputType": "base64",
        "binaryPropertyName": "image",
        "options": {
          "detail": "auto",
          "maxTokens": 300
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        2480,
        208
      ],
      "id": "8c8759fa-5c65-4813-a502-1c539f4af54c",
      "name": "Fetch car info",
      "credentials": {
        "openAiApi": {
          "id": "7r6c9PgveQjC7ygm",
          "name": "OpenAi project n8n"
        }
      }
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "content"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        2704,
        224
      ],
      "id": "75b1e274-47ea-4c2b-85c4-9f75f5fb7fd6",
      "name": "Aggregate car info"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\"data\":{\n  \"vehicle\":{{ $('Get asset summary').item.json.data[0].id }},\n  \"driver\":{{ $json.data[0].id }},\n  \"mileage\": \"{{ $('Car summary').item.json.message.content.mileage }}\"\n}}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3504,
        224
      ],
      "id": "b5accd22-75c0-41f0-945e-4593edc18389",
      "name": "Final json"
    },
    {
      "parameters": {
        "toRecipients": "={{ $('Get user').item.json.data[0].email }}",
        "subject": "={{ $('Get asset summary').item.json.data[0].organizations[0].name }} - Nowy wpis do rejestru floty pojazdów ",
        "bodyContent": "Dodano nowy wpis do rejestru floty pojazdów.\n\nLink do dziennika: https://knowshare.nazca40.com",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        4000,
        224
      ],
      "id": "991291d5-94f0-4549-9dd1-f25fbc3977d7",
      "name": "Send email",
      "webhookId": "451e98b7-f0af-4ba8-bba8-8bbf4db5cedc",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "ZDgGFyPP1hNPV1lR",
          "name": "Microsoft Outlook account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Główne flow testujące\nOdpowiada za publikację wpisu excel odnośnie samochodu i wysyłą powiadomienie użytkownikowi. ",
        "height": 608,
        "width": 4752
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        176,
        -80
      ],
      "id": "ff5afb26-2226-4724-8210-71f8e17ab929",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Sprawdzenie czy ramka dotyczy zgłoszenia knowshare",
        "height": 432,
        "width": 224,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        448,
        32
      ],
      "id": "21f6d432-76c0-4327-91b2-aca0ec2481c7",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## Sprawdzenie czy asset dotyczy samochodu",
        "height": 432,
        "width": 224,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        928,
        32
      ],
      "id": "3e84a130-9068-4fd1-b3b9-f22c94ebc9a1",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "## Wylistowanie załączników\n",
        "height": 432,
        "width": 400,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1168,
        32
      ],
      "id": "d8c6196e-fa58-4a5c-8016-852489636dee",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "## Pętla analizy obrazu\nW pętli analizowane są obrazy ze zgłoszenia i zwracane są jsony z danymi dotyczącymi samochodu",
        "height": 432,
        "width": 1040,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1584,
        32
      ],
      "id": "8de53511-d3cc-48d2-9dcc-e534bc0d86fb",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "content": "## Tworzenie  jednego jsona wyjściowego\n",
        "height": 432,
        "width": 320,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2864,
        32
      ],
      "id": "e796f061-de40-402d-a863-ca74537e8f57",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "content": "## Tworzenie finalnej struktury danych\n\n",
        "height": 432,
        "width": 224,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3440,
        32
      ],
      "id": "81a192a6-dd93-4595-b935-54559e053e94",
      "name": "Sticky Note9"
    },
    {
      "parameters": {
        "content": "## Węzeł webhooka - przekazanie wiadomości z knowshare",
        "height": 432,
        "width": 224,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        208,
        32
      ],
      "id": "ee34e300-225b-447d-83ee-65fc6f25c002",
      "name": "Sticky Note11"
    },
    {
      "parameters": {
        "content": "## Pobranie z bazy info o assecie\n\n\n\n",
        "height": 432,
        "width": 214,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        688,
        32
      ],
      "id": "27bd7d5d-c2ba-4736-9eb5-76369844b1af",
      "name": "Sticky Note12"
    },
    {
      "parameters": {
        "content": "## Agregacja jsonów\n\n",
        "height": 432,
        "width": 214,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2640,
        32
      ],
      "id": "0ccf0433-79e7-40a6-b06c-e27b9469492a",
      "name": "Sticky Note13"
    },
    {
      "parameters": {
        "content": "## Wysłanie maila z powiadomieniem\n\n",
        "height": 432,
        "width": 224,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3936,
        32
      ],
      "id": "383f60e2-5681-4905-b948-fdedb0debd17",
      "name": "Sticky Note19"
    },
    {
      "parameters": {
        "content": "## Publikacja wpisu w tabeli excel\n\n",
        "height": 432,
        "width": 224,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        4192,
        32
      ],
      "id": "416ef8fe-50a6-4b89-a06d-7eac2af9c7d6",
      "name": "Sticky Note22"
    },
    {
      "parameters": {
        "content": "## Publikacja wpisu w tabeli nocobase\n\n",
        "height": 432,
        "width": 224,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3680,
        32
      ],
      "id": "23af1770-d125-4340-a4a5-e78d29750ae7",
      "name": "Sticky Note23"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n\"params\": {\n},\n\"query\": {\n},\n\"body\": {\n\"index\": \"notices\",\n\"createdAt\": \"2025-11-12T08:22:40.1315895Z\",\n\"assetId\": \"08de541a-5365-4cc8-83c8-56ec435aabbf\",\n\"subject\": \"tankowanie\",\n\"message\": \"tankowanie\",\n\"type\": 0,\n\"createdBy\": \"Michał Kobielski\",\n\"tenantId\": \"08de2d89-d074-443f-84b5-4ac826ef21f5\",\n\"attachments\": [\n\"1000027892.jpg\"\n]\n}\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        272,
        208
      ],
      "id": "c84fd637-41fb-4912-a1e0-5911a98122e2",
      "name": "Webhook"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        16,
        208
      ],
      "id": "73c85eba-cdb4-45ed-9582-b4e52689c08e",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "content": "## Pobranie z bazy info o assecie\n\n\n\n",
        "height": 432,
        "width": 214,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3200,
        32
      ],
      "id": "aa5f19dc-7b88-48c5-9f37-d9bf3ceb8c78",
      "name": "Sticky Note14"
    },
    {
      "parameters": {
        "url": "https://nocobase.nazca40.com/api/users",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "filter",
              "value": "={\n  \"nickname\": \"{{ $('Webhook').item.json.body.createdBy }}\",\n  \"organizations.id\": \"{{ $('Get asset summary').item.json.data[0].organizations[0].id }}\"\n}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        3264,
        224
      ],
      "id": "63d290ea-d5ed-43ac-96bd-cbb39c82e42f",
      "name": "Get user",
      "credentials": {
        "httpBearerAuth": {
          "id": "XjWd4OAeIo2QP5V7",
          "name": "Nocobase"
        }
      }
    },
    {
      "parameters": {
        "url": "https://nocobase.nazca40.com/api/assets?appends=organizations,users",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "filter",
              "value": "={\"assetId\":\"{{ $('Webhook').item.json.body.assetId }}\"} "
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        752,
        208
      ],
      "id": "182afd2e-ad8c-41a0-96de-df49143d4c01",
      "name": "Get asset summary",
      "credentials": {
        "httpBearerAuth": {
          "id": "XjWd4OAeIo2QP5V7",
          "name": "Nocobase"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://nocobase.nazca40.com/api/vehiclesJournal",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.data }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        3744,
        224
      ],
      "id": "5c9250ac-9402-4156-b50e-d69125bd956d",
      "name": "Post journal",
      "credentials": {
        "httpBearerAuth": {
          "id": "XjWd4OAeIo2QP5V7",
          "name": "Nocobase"
        }
      }
    },
    {
      "parameters": {
        "toRecipients": "grzegorz.bojdo@apagroup.pl",
        "subject": "={{ $('Get asset summary').item.json.data[0].organizations[0].name }} - Nowy wpis do rejestru floty pojazdów ",
        "bodyContent": "Dodano nowy wpis do rejestru floty pojazdów.\n\nLink do dziennika: https://knowshare.nazca40.com",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        4256,
        224
      ],
      "id": "772785a7-3c9b-4752-8534-6e30f3dd5f8c",
      "name": "Send email - GB",
      "webhookId": "451e98b7-f0af-4ba8-bba8-8bbf4db5cedc",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "ZDgGFyPP1hNPV1lR",
          "name": "Microsoft Outlook account"
        }
      }
    }
  ],
  "connections": {
    "Check if it's notice": {
      "main": [
        [
          {
            "node": "Get asset summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Attachment - chat": {
      "main": [
        [
          {
            "node": "Fetch image - chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set index": {
      "main": [
        [
          {
            "node": "Check index",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check index": {
      "main": [
        [
          {
            "node": "Loop over attachments",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Attachment - chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch image - chat": {
      "main": [
        [
          {
            "node": "Change mime type - chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Change mime type - chat": {
      "main": [
        [
          {
            "node": "Fetch car info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Car summary": {
      "main": [
        [
          {
            "node": "Get user",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if it's a car": {
      "main": [
        [
          {
            "node": "Get attachments",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get attachments": {
      "main": [
        [
          {
            "node": "Split attachments",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split attachments": {
      "main": [
        [
          {
            "node": "Loop over attachments",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop over attachments": {
      "main": [
        [
          {
            "node": "Aggregate car info",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set index",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch car info": {
      "main": [
        [
          {
            "node": "Loop over attachments",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate car info": {
      "main": [
        [
          {
            "node": "Car summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Final json": {
      "main": [
        [
          {
            "node": "Post journal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send email": {
      "main": [
        [
          {
            "node": "Send email - GB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Check if it's notice",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get user": {
      "main": [
        [
          {
            "node": "Final json",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get asset summary": {
      "main": [
        [
          {
            "node": "Check if it's a car",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post journal": {
      "main": [
        [
          {
            "node": "Send email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "When clicking ‘Execute workflow’": [
      {
        "json": {}
      }
    ]
  },
  "versionId": "0653a3d2-919b-45ac-9c20-dd68603bace5",
  "activeVersionId": null,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2025-11-14T11:57:15.231Z",
      "createdAt": "2025-11-14T11:57:15.231Z",
      "role": "workflow:owner",
      "workflowId": "uawW0w7Ys0QCTDOm",
      "projectId": "98BhLNTRDdyyDRlO"
    },
    {
      "updatedAt": "2025-11-14T12:13:40.656Z",
      "createdAt": "2025-11-14T12:13:40.656Z",
      "role": "workflow:editor",
      "workflowId": "uawW0w7Ys0QCTDOm",
      "projectId": "CjfG3RcAlbeZbF4G"
    }
  ],
  "activeVersion": null,
  "tags": []
}