n8n-Workflow-bk/main-workflow-.json
{
  "updatedAt": "2025-06-03T07:40:15.000Z",
  "createdAt": "2025-06-03T06:16:29.902Z",
  "id": "HfIWZAjxxQqO1XtV",
  "name": "Main workflow",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "92700675-58e8-4cb7-a8ca-2f149d1d43bc",
        "authentication": "basicAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        140,
        260
      ],
      "id": "943c0df2-653e-437d-a1ad-dd6a62ae7cb3",
      "name": "Webhook",
      "webhookId": "92700675-58e8-4cb7-a8ca-2f149d1d43bc",
      "credentials": {
        "httpBasicAuth": {
          "id": "kqllUxJbxAFSvtDc",
          "name": "Unnamed credential 4"
        }
      }
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n    \"services\":{\n\n        \"jira\":{\n            \"assets\":[\n                \"test\"\n            ],\n            \"recipients\":[\n                \"zloty\"\n            ]\n        },\n        \"whatsapp\":{\n            \"recipients\":[\n                \"zloty\"\n            ]\n        },\n        \"sms\":{\n            \"recipients\":[\n                \"zloty\"\n            ]\n        },\n        \"email\":{\n            \"recipients\":[\n                \"zloty\"\n            ]\n        }\n    },\n    \"setup\":{\n        \"recipients\":{\n            \"zloty\":{\n                \"name\": \"Michał Kobielski\",\n                \"jira_id\": \"712020:cf0cfc90-e298-4ceb-a763-387dfdc0a0ac\",\n                \"phone\":\"+48604874003\",\n                \"email\":\"michal.kobielski@apagroup.pl\",\n                \"assets\": [\n                    \"test\"\n                ]\n            },\n            \"pwilk\":{\n                \"name\": \"Paweł Wilk\",\n                \"jira_id\": \"70121:eec9eaa2-5dff-4b1f-a31b-f3561aa21554\",\n                \"phone\":\"+48570034422\",\n                \"email\":\"pawel.wilk@apagroup.pl\"\n            }\n        },\n        \"assets\":{\n            \"test\":{\n                \"name\":\"Test\",\n                \"id\": \"08dd6221-813c-437b-8d19-6678e11a55f5\",\n                \"jira_project_id\": \"10455\",\n                \"jira_issue_type_id\": \"10151\"\n            }\n        }\n    }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        600,
        260
      ],
      "id": "42a39c77-e548-4bc6-9b18-b8f51229f6a0",
      "name": "Config"
    },
    {
      "parameters": {
        "content": "## Konfiguracja \nKonfiguracja flow odbywa się za pomocą pliku json.\n\nW celu dodania nowego użytkownika do adresatów powiadomień należy go dopisać do listy 'recipients', zawierającej dane adresowe użytkowników. Następnie w celu przypisania użytkownika do powiadomień danej usługi należy jego klucz zawrzeć w liście odbiorców tej usługi. ",
        "height": 380,
        "width": 420,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        440,
        60
      ],
      "id": "c5a2ab0d-4d99-4ede-a008-bbb6095ead83",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Sprawdzanie obecności załączników",
        "height": 380,
        "width": 420,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        900,
        60
      ],
      "id": "5cca8341-2eac-46fb-95fe-84d042c9c05a",
      "name": "Sticky Note12"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "bf08c136-8231-40c2-adad-bb5ced48812e",
              "leftValue": "={{ $('Webhook').item.json.body.content.fileNames }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1060,
        260
      ],
      "id": "6ee5dc42-9699-4a68-9411-99a0aa805dae",
      "name": "If6"
    },
    {
      "parameters": {
        "content": "## Webhook",
        "height": 380,
        "width": 400,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        60
      ],
      "id": "e969456a-fa93-4db9-a0ea-872293d42ff0",
      "name": "Sticky Note13"
    },
    {
      "parameters": {
        "content": "## Opis załączników\n",
        "height": 220,
        "width": 380,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1360,
        60
      ],
      "id": "4eff9629-62cd-4f71-8a20-c832248cba32",
      "name": "Sticky Note14"
    },
    {
      "parameters": {
        "content": "## Brak załączników",
        "height": 140,
        "width": 380,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1360,
        300
      ],
      "id": "6464a398-3d3b-4dff-95ed-9648ae822d5d",
      "name": "Sticky Note15"
    },
    {
      "parameters": {
        "content": "## Tworzenie zadania w jira oraz powiadamianie o nim \n",
        "height": 380,
        "width": 420,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1780,
        60
      ],
      "id": "39c52b67-9268-4994-9739-55d564023cd8",
      "name": "Sticky Note16"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "PzcaPMgc95EtuNAU",
          "mode": "list",
          "cachedResultName": "Knowshare — Jira task"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "assetId": "={{ $('Webhook').item.json.body.assetId }}",
            "assets_dict": "={{ $('Config').item.json.setup.assets }}",
            "assets_jira": "={{ $('Config').item.json.services.jira.assets }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "assetId",
              "displayName": "assetId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "assets_dict",
              "displayName": "assets_dict",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": false
            },
            {
              "id": "assets_jira",
              "displayName": "assets_jira",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "array",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1940,
        260
      ],
      "id": "8496fb83-0435-44ed-9310-c34d662e7bd6",
      "name": "Jira task"
    },
    {
      "parameters": {
        "content": "## Powiadomienia Whatsapp\n",
        "height": 380,
        "width": 420,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2240,
        60
      ],
      "id": "1a847457-d138-4509-bb13-7544a6210ea5",
      "name": "Sticky Note17"
    },
    {
      "parameters": {
        "content": "## Powiadomienia e-mail\n",
        "height": 380,
        "width": 420
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2700,
        60
      ],
      "id": "458c404a-5064-4246-8891-6c9ab5ef20d2",
      "name": "Sticky Note18"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "aFthE8Gz3MFjltPj",
          "mode": "list",
          "cachedResultName": "Knowshare — Whatsapp sender"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        2400,
        260
      ],
      "id": "76be0efb-ab02-4038-8fec-e8ee9c0fa6b1",
      "name": "Whatsapp sender"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "5SYhkGHnlHe71Gp0",
          "mode": "list",
          "cachedResultName": "Knowshare — Email sender"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        2860,
        260
      ],
      "id": "f14fa66d-454d-4a8c-b65c-40e47886aa01",
      "name": "Email sender"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "sd3njWxKPRzaulAA",
          "mode": "list",
          "cachedResultName": "Knowshare — Picture summary"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "fileNames": "={{ $('Webhook').item.json.body.content.fileNames }}"
          },
          "matchingColumns": [
            "fileNames"
          ],
          "schema": [
            {
              "id": "fileNames",
              "displayName": "fileNames",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "array",
              "removed": false
            },
            {
              "id": "description",
              "displayName": "description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1500,
        120
      ],
      "id": "5248555a-7cd3-429d-85a4-1f120d1cda24",
      "name": "Picture summary"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Config": {
      "main": [
        [
          {
            "node": "If6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If6": {
      "main": [
        [
          {
            "node": "Picture summary",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Jira task",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Jira task": {
      "main": [
        [
          {
            "node": "Whatsapp sender",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Whatsapp sender": {
      "main": [
        [
          {
            "node": "Email sender",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Picture summary": {
      "main": [
        [
          {
            "node": "Jira task",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "c31a80fd-0d87-4309-a3ed-0f0dd5c50526",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2025-06-03T06:16:29.904Z",
      "createdAt": "2025-06-03T06:16:29.904Z",
      "role": "workflow:owner",
      "workflowId": "HfIWZAjxxQqO1XtV",
      "projectId": "v3iOlUQZPnWy0OLx"
    }
  ],
  "tags": []
}