n8n-Workflow-bk/workflow-do-sprawdzania-bledow-.json
{
  "updatedAt": "2025-11-25T12:40:05.000Z",
  "createdAt": "2025-11-25T10:04:21.491Z",
  "id": "54OzgWSzjWohfCn4",
  "name": "workflow do sprawdzania bledow",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "9fa3910c-8207-4351-b79b-b74b65ec4a3c",
        "authentication": "basicAuth",
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -5056,
        912
      ],
      "id": "caf35707-4df8-4420-9573-456a0dfb4024",
      "name": "Webhook",
      "webhookId": "9fa3910c-8207-4351-b79b-b74b65ec4a3c"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "GPT-4O"
        },
        "messages": {
          "values": [
            {
              "content": "=Jesteś systemem do generowania OPISÓW zgłoszeń Trello. Twoje zadanie to sumaryzacja i skrócenie dostarczonego tekstu do postaci zwięzłego opisu problemu.\n\nZASADA BEZWZGLĘDNA (NON-NEGOTIABLE):\n1. **ZAKAZ TŁUMACZENIA:** Musisz wykryć i ZACHOWAĆ oryginalny język wejściowy. Nigdy, pod żadnym pozorem, nie zmieniaj języka odpowiedzi na polski, chyba że język wejściowy był polski.\n2. **LIMIT:** Opis musi mieć **maksymalnie 500 znaków** i zawierać same konkrety, bez tytułów.\n3. **FORMAT WYJŚCIA (JSON Safe):** Zwróć **wyłącznie** czysty tekst opisu w jednej linii. Nie dodawaj nowych linii, list, nagłówków, formatowania Markdown ani innych elementów, które mogłyby sprawiać problem w JSON. Wszystkie znaki cudzysłowa (\") zamieniaj na apostrofy (').",
              "role": "system"
            },
            {
              "content": "=Treść do przetworzenia na opis:\n{{ $('Create Picture Summary1').item.json.message.content }}"
            }
          ]
        },
        "options": {
          "n": 1,
          "temperature": 0.2,
          "topP": 1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -1904,
        368
      ],
      "id": "40791788-136c-493f-af4a-aaea65cd76b8",
      "name": "Create Task Content by Picture",
      "credentials": {
        "openAiApi": {
          "id": "7r6c9PgveQjC7ygm",
          "name": "OpenAi project n8n"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "GPT-4O"
        },
        "messages": {
          "values": [
            {
              "content": "=Jesteś systemem do generowania TYTUŁÓW zgłoszeń Trello. Twoje zadanie to skrócenie dostarczonego tekstu do postaci zwięzłego tytułu.\n\nZASADA BEZWZGLĘDNA (NON-NEGOTIABLE):\n1. **ZAKAZ TŁUMACZENIA:** Musisz wykryć i ZACHOWAĆ oryginalny język wejściowy. Nigdy, pod żadnym pozorem, nie zmieniaj języka odpowiedzi na polski, chyba że język wejściowy był polski.\n2. **LIMIT:** Tytuł musi być jednym zdaniem i **NIE MOŻE** przekroczyć 100 znaków.\n3. **FORMAT:** Zwróć **wyłącznie** finalny tekst tytułu. Wszystkie cudzysłowy (\") zamieniaj na apostrofy ('). Bez wstępów, wyjaśnień, nowych linii, czy formatowania Markdown.",
              "role": "system"
            },
            {
              "content": "=Treść do przetworzenia na tytuł:\n{{ $('Create Picture Summary1').item.json.message.content }}"
            }
          ]
        },
        "options": {
          "maxTokens": 200,
          "n": 1,
          "temperature": 0.4,
          "topP": 1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -2240,
        368
      ],
      "id": "13f69aba-59f2-45f2-b398-10a56f0afa0b",
      "name": "Create Task Title",
      "credentials": {
        "openAiApi": {
          "id": "7r6c9PgveQjC7ygm",
          "name": "OpenAi project n8n"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "GPT-4O"
        },
        "messages": {
          "values": [
            {
              "content": "=Jesteś systemem do generowania opisu zgłoszeń Trello. Twoje zadanie to analiza obrazu i tekstu oraz wygenerowanie krótkiego opisu problemu technicznego.\n\nZASADA BEZWZGLĘDNA (NON-NEGOTIABLE):\n1. **ZAKAZ TŁUMACZENIA:** Musisz wykryć i ZACHOWAĆ oryginalny język z pola 'Opis'. Nigdy, pod żadnym pozorem, nie zmieniaj języka odpowiedzi na polski, chyba że język wejściowy był polski. Odpowiedź musi być w IDNETYCZNYM języku źródłowym.\n2. **ANALIZA WIZUALNA:** Połącz analizę załączonego obrazu z kontekstem z pola 'Opis'.\n3. **TREŚĆ:** Wygeneruj krótki i treściwy opis problemu technicznego, który ma trafić do zgłoszenia Trello.\n4. **FORMAT WYJŚCIA:** Zwróć tylko finalny tekst opisu. Bez tytułów, wyjaśnień, nowych linii, formatowania Markdown, cudzysłowów ani żadnych znaków utrudniających bezpośredni zapis do pola JSON/Trello.",
              "role": "system"
            },
            {
              "content": "=Poniżej znajdują się dane do analizy:\nOpis:  {{ $json.content }}"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -3264,
        336
      ],
      "id": "470f6a3f-65ee-4b1d-aca4-12f0cd7e5d3f",
      "name": "Create Picture Summary1",
      "credentials": {
        "openAiApi": {
          "id": "7r6c9PgveQjC7ygm",
          "name": "OpenAi project n8n"
        }
      }
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "chatgpt-4o-latest",
          "mode": "list",
          "cachedResultName": "CHATGPT-4O-LATEST"
        },
        "text": "=Jesteś ekspertem technicznym i specjalistą od analizy obrazów.\nAnalizuj załączony obraz oraz poniższy opis problemu technicznego.\n\n1. **Identyfikacja Języka:** Najpierw zidentyfikuj język użyty w polu \"OPIS PROBLEMÓW\".\n2. **Generowanie Odpowiedzi:** Wygeneruj **krótki i treściwy opis** zawartości zdjęcia w kontekście zgłoszonego problemu technicznego.\n3. **Wymagany Język Odpowiedzi:** **MUSISZ** odpowiedzieć w **IDNETYCZNYM** języku, który został zidentyfikowany w punkcie 1.\n\nOPIS PROBLEMÓW:\n{{ $('Webhook').item.json.body.message }}\n\nFORMAT ODPOWIEDZI:\nWygeneruj tylko sam tekst opisu. Nie dodawaj żadnych wstępów (np. \"Opis:\", \"Analiza:\"), wyjaśnień, nowych linii, formatowania Markdown (np. *, **), ani żadnych znaków, które utrudnią zapis w pojedynczym polu JSON.",
        "inputType": "base64",
        "binaryPropertyName": "image",
        "options": {
          "detail": "auto",
          "maxTokens": 1000
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -3664,
        416
      ],
      "id": "19b7dea5-f88d-4aea-8030-a781a2789198",
      "name": "Create Picture Summary",
      "credentials": {
        "openAiApi": {
          "id": "7r6c9PgveQjC7ygm",
          "name": "OpenAi project n8n"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1760,
        432
      ],
      "id": "4e1e1b34-0615-4339-a674-604cd24b9802",
      "name": "Loop Over Items",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "content"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -3424,
        336
      ],
      "id": "27bd1fd7-5941-4650-ac96-ab75baa33d48",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "fieldToSplitOut": "fileNames",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1136,
        208
      ],
      "id": "9f3149d3-a5cb-4280-bcd7-0a93d90f9e61",
      "name": "Split Out1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "45988ecf-6ec1-4a69-bf28-b8cac853e764",
              "name": "fileNames",
              "value": "={{ $('Webhook').item.json.body.attachments }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        976,
        208
      ],
      "id": "ccaae570-20e9-4bf3-9555-890211f69fe6",
      "name": "Edit Fields3"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"fileNames\":{{ $('Webhook').item.json.body.attachments }}\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -5104,
        336
      ],
      "id": "7d53e1f4-7d8d-4611-9ca2-ef08e217fead",
      "name": "Loop parameter - chat"
    },
    {
      "parameters": {
        "fieldToSplitOut": "fileNames",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -4944,
        336
      ],
      "id": "383d4cf3-94ed-4c62-b470-4d23a0300968",
      "name": "Split Out - chat"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -4752,
        336
      ],
      "id": "3850691f-2681-4fbc-8702-8ba0ecaa1644",
      "name": "Loop Over Items - chat",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n    \"services\":{\n\n        \"trello\":{\n            \"assets\":[\n                \"test\",\n                \"2mundos\",\n                \"2mundos_prod\",\n                \"2mundos_maintenance\",\n                \"2mundos_facility\",\n                \"demo\",\n                \"sn99999999\"\n            ]\n        },\n        \"whatsapp\":{\n            \"recipients\":[\n                \"test\",\n                \"zloty\"\n            ]\n        },\n        \"sms\":{\n            \"recipients\":[\n                \"zloty\",\n                \"mkobielski\",\n                \"gbojdo\",\n                \"mrachel\"\n            ]\n        },\n        \"email\":{\n            \"recipients\":[\n                \"test\",\n                \"zloty\",\n                \"gbojdo\"\n            ]\n        }\n    },\n    \"setup\":{\n        \"recipients\":{\n            \"test\":{\n                \"name\": \"Test\",\n                \"phone\":\"+48604874003\",\n                \"email\":\"nazca4@apagroup.pl\",\n                \"assets\": [\n                  \"test\"\n                ]\n            },\n            \"zloty\":{\n                \"name\": \"Złoty\",\n                \"phone\":\"+48604874003\",\n                \"email\":\"michal.kobielski@apagroup.pl\",\n                \"assets\": [\n                  \"test\",\n                  \"2mundos\",\n                  \"2mundos_prod\",\n                  \"2mundos_maintenance\",\n                  \"2mundos_facility\"\n                ]\n            },\n            \"mkobielski\":{\n                \"name\": \"Michał Kobielski\",\n                \"phone\":\"+48604874003\",\n                \"email\":\"michalkobielski@o2.pl\",\n                \"assets\": [\n                ]\n            },\n            \"ppabianczyk\":{\n                \"name\": \"Przemysław Pabiańczyk\",\n                \"phone\":\"+48506731006\",\n                \"email\":\"przemyslaw.pabianczyk@apagroup.pl\",\n                \"assets\": [\n                  \"demo\"\n                ]\n            },\n            \"wbieg\":{\n                \"name\": \"Wojciech Bieg\",\n                \"phone\":\"+48533245056\",\n                \"email\":\"wojciech.bieg@apagroup.pl\",\n                \"assets\": [\n                  \"demo\"\n                ]\n            },\n            \"mrachel\":{\n                \"name\": \"Marek Rachel\",\n                \"phone\":\"+48570304306\",\n                \"email\":\"marek.rachel@apagroup.pl\",\n                \"assets\": [\n\t              \"test\",\n                  \"demo\"\n                ]\n            },\n            \"gbojdo\":{\n                \"name\": \"Grzegorz Bojdo\",\n                \"phone\":\"+48730090031\",\n                \"email\":\"grzegorz.bojdo@apagroup.pl\",\n                \"assets\": [\n                  \"2mundos\",\n                  \"2mundos_prod\",\n                  \"2mundos_maintenance\",\n                  \"2mundos_facility\",\n                  \"demo\",\n                  \"sn99999999\",\n                  \"APADEMOSTOL\"\n                ]\n            }\n        },\n        \"assets\":{\n            \"test\":{\n                \"name\":\"Test\",\n                \"id\": \"08dd6221-813c-437b-8d19-6678e11a55f5\",\n                \"trello_list_id\": \"6900c94db545e17dd8dc83e4\"\n            },\n            \"2mundos\":{\n                \"name\":\"2MUNDOS\",\n                \"id\": \"08de16f1-f9c4-4cbe-8a85-611bc3ce2bc9\",\n                \"trello_list_id\": \"6900c94db545e17dd8dc83e4\"\n            },\n            \"2mundos_prod\":{\n                \"name\":\"Produkcja\",\n                \"id\": \"08de1aa3-eb6a-4458-8458-ec8dfdff5204\",\n                \"trello_list_id\": \"6900c94db545e17dd8dc83e4\"\n            },\n            \"2mundos_maintenance\":{\n                \"name\":\"Utrzymanie ruchu\",\n                \"id\": \"08de1aa4-389b-460b-8777-2b103817daaf\",\n                \"trello_list_id\": \"6900c94db545e17dd8dc83e4\"\n            },\n            \"2mundos_facility\":{\n                \"name\":\"Facility managment\",\n                \"id\": \"08de1aa4-5b7a-4c4d-8603-29f0df9f18f3\",\n                \"trello_list_id\": \"6900c94db545e17dd8dc83e4\"\n            },\n            \"demo\":{\n                \"name\":\"Demo\",\n                \"id\": \"08dd9922-b430-4372-87e1-bd636f11182a\",\n                \"trello_list_id\": \"690c3c4b57ebf2f8fe9cc865\"\n            },\n            \"sn99999999\":{\n                \"name\":\"SN99999999\",\n                \"id\": \"08de1d32-c81f-403c-8888-082145f7ea4b\",\n                \"trello_list_id\": \"690c3c4b57ebf2f8fe9cc865\"\n            },\n            \"APADEMOSTOL\":{\n                \"name\":\"APA DEMO Stół\",\n                \"id\": \"08de274e-d980-4059-871a-1a1931df6e3f\",\n                \"trello_list_id\": \"690c3c4b57ebf2f8fe9cc865\"\n            }\n        }\n    }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -4112,
        912
      ],
      "id": "9fd7b082-3eb8-48a1-bb6f-6b1769d9eecd",
      "name": "Config"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "ab019542-36c9-47de-848e-c9eaa988208e",
              "leftValue": "={{ $('Config').item.json.services.trello.assets }}",
              "rightValue": "={{ $('assets params').item.json.asset_key }}",
              "operator": {
                "type": "array",
                "operation": "contains",
                "rightType": "any"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -288,
        1008
      ],
      "id": "6815b4a4-95ba-4778-bc76-2c1f5c4b52ed",
      "name": "If"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        5024,
        976
      ],
      "id": "a0571ad3-0947-41ea-8fd7-313eecf1be5c",
      "name": "Loop Over Items3",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "fieldToSplitOut": "recipients",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        4816,
        688
      ],
      "id": "8e8328d6-8424-489a-a035-d8c211823fb6",
      "name": "Split Out3"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "45988ecf-6ec1-4a69-bf28-b8cac853e764",
              "name": "recipients",
              "value": "={{ $('Config').item.json.services.email.recipients }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4512,
        752
      ],
      "id": "6aba668c-cb41-4e81-bbb8-20a84b9978f8",
      "name": "Edit Fields6"
    },
    {
      "parameters": {
        "jsCode": "// Pobierz dane z node Webhook i node Set index - jira\nconst webhook = $('Webhook').item.json;\nconst index = $('Set index').item.json.index;\n\n// Wyciągnij tablicę attachments z Webhook body\nconst attachments = webhook?.body?.attachments || [];\n\n// Jeśli index jest poprawny – wybierz odpowiedni załącznik\nconst selectedAttachment = attachments[index] || null;\n\nreturn [\n  {\n    json: {\n      attachment: selectedAttachment\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -4272,
        416
      ],
      "id": "94c96e03-6612-4e38-a52c-8726ed5841a7",
      "name": "Attachment - chat"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "0f1808d1-e65f-4890-be2e-fc57fcd2bb0d",
              "leftValue": "={{ $json.email }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "ca24728b-5d4c-4624-a162-00d33e1b4504",
              "leftValue": "={{ $json.assets_list }}",
              "rightValue": "={{ $('assets params').item.json.asset_key }}",
              "operator": {
                "type": "array",
                "operation": "contains",
                "rightType": "any"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        4512,
        960
      ],
      "id": "ce5db03b-7b45-4325-91d5-752af9c0ac35",
      "name": "If3"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "self"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        2064,
        672
      ],
      "id": "a41ae2ff-027e-4393-9849-5ee315d28a8d",
      "name": "Aggregate2"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "status"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        4336,
        752
      ],
      "id": "5fbf16c1-7923-4d54-8a9a-601aa6e4a5b8",
      "name": "Aggregate3"
    },
    {
      "parameters": {
        "from": "MG57b1eeb171ed820e74d29ebc017e22cc",
        "to": "={{ $json.phone }}",
        "message": "={{ $('SMS Final').first().json.finalSmsText }}",
        "options": {
          "statusCallback": "https://apagroup.app.n8n.cloud/webhook/4732399e-f34f-47dd-9467-2063f222d057"
        }
      },
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        3504,
        784
      ],
      "id": "cdc7cf56-f338-4ee4-b9c0-1dc2409b6a0a",
      "name": "Twilio",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        4016,
        944
      ],
      "id": "5ea296ad-4b85-43ff-8b48-4dcccbf2a7a6",
      "name": "Loop Over Items4",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "0f1808d1-e65f-4890-be2e-fc57fcd2bb0d",
              "leftValue": "={{ $json.phone }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "5e9ac14f-4018-4dc0-9e68-9ffc456668af",
              "leftValue": "={{ $json.assets_list }}",
              "rightValue": "={{ $('assets params').item.json.asset_key }}",
              "operator": {
                "type": "array",
                "operation": "contains",
                "rightType": "any"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3008,
        896
      ],
      "id": "968f8df5-71a5-49ab-a663-0d5b57412570",
      "name": "If5"
    },
    {
      "parameters": {
        "fieldToSplitOut": "recipients",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        3808,
        688
      ],
      "id": "39d1bfc4-3112-4f18-82b5-750ecc30bbb0",
      "name": "Split Out4"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "45988ecf-6ec1-4a69-bf28-b8cac853e764",
              "name": "recipients",
              "value": "={{ $('Config').item.json.services.sms.recipients }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3504,
        640
      ],
      "id": "6a37c3d1-8aaa-412e-bf12-9b908c9ec762",
      "name": "Edit Fields7"
    },
    {
      "parameters": {
        "jsCode": "// Dane z loopa\nconst currentRecipientKey = $input.first().json.recipients\n\n// Dane z node 'Config'\nconst setup = $('Config').item.json.setup;\n\n// Pobranie listy odbiorców\nconst recipients = setup.recipients || {};\n\n// Sprawdzenie, czy wskazany odbiorca istnieje\nconst recipientData = recipients[currentRecipientKey];\n\nif (!recipientData) {\n  throw new Error(`Brak danych dla odbiorcy: ${currentRecipientKey}`);\n}\n\nconst phone = recipientData.phone;\nconst assets_list = recipientData.assets;\n\nreturn [\n  {\n    json: {\n      phone,\n      assets_list\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2848,
        896
      ],
      "id": "05c570a7-0a02-455f-87da-5f4bedb76d0b",
      "name": "recipients - sms"
    },
    {
      "parameters": {
        "jsCode": "// Dane z loopa\nconst currentRecipientKey = $input.first().json.recipients\n\n// Dane z node 'Config'\nconst setup = $('Config').item.json.setup;\n\n// Pobranie listy odbiorców\nconst recipients = setup.recipients || {};\n\n// Sprawdzenie, czy wskazany odbiorca istnieje\nconst recipientData = recipients[currentRecipientKey];\n\nif (!recipientData) {\n  throw new Error(`Brak danych dla odbiorcy: ${currentRecipientKey}`);\n}\n\nconst email = recipientData.email;\nconst assets_list = recipientData.assets;\n\nreturn [\n  {\n    json: {\n      email,\n      assets_list\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4336,
        960
      ],
      "id": "a9c293a1-dc4e-4bcd-b2bc-9280386e2d06",
      "name": "recipients - email"
    },
    {
      "parameters": {
        "content": "## Konfiguracja \nKonfiguracja flow odbywa się za pomocą pliku json.\n\nW celu dodania nowego użytkownika do adresatów powiadomień należy go dopisać do listy 'recipients', zawierającej dane adresowe użytkowników. Następnie w celu przypisania użytkownika do powiadomień danej usługi należy jego klucz zawrzeć w liście odbiorców tej usługi. ",
        "height": 520,
        "width": 980,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -4512,
        672
      ],
      "id": "c0b63df9-b0ac-4fff-b7f3-f8b6fe35b852",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Krok 1 - Analiza obrazu\n\nW ramach tego kroku urachamiana jest pętla analizująca obrazy załączone w wiadomości knowshare. Pętla ograniczona jest obecnie do 2 iteracji. Jako wyjście przekazywane są opisy załączników.",
        "height": 480,
        "width": 1600,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -5136,
        160
      ],
      "id": "e524f18a-0687-4642-80db-abb013af68e6",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Krok 2 - Tworzenie opisu zbiorczego\n\nW ramach tego kroku uruchamiana jest agregacja powstałych opisów do jednego opisu podsumowującego.",
        "height": 480,
        "width": 500,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -3504,
        160
      ],
      "id": "d8c91e19-1c8b-4f4a-8434-e0d1a8be123b",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## Krok 3 - zgłoszenie Jira (opcjonalne)  \n",
        "height": 1236,
        "width": 2424
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -448,
        -48
      ],
      "id": "9554fb5c-c9a0-440f-8427-c9792daf4f0c",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "## Krok 3.2 - Tworzenie zgłoszenia\n\nW ramach tego kroku na podstawie opisu tworzone są temat zgłoszenia, jego treść, oraz realizowane jest samo zgłoszenie na Jira. ",
        "height": 680,
        "width": 436,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -208,
        288
      ],
      "id": "10ff2f32-3153-4703-afe6-1cd004dec090",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "## Krok 3.4 - Przekazywanie załączników\n\nW ramach tego kroku załączane pliki są przekazywane do utworzonego zgłoszenia Jira. ",
        "height": 680,
        "width": 1000,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        944,
        32
      ],
      "id": "ac1bdc15-55a2-4180-8e0e-a4581bbbe277",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "content": "## Krok 5 - Powiadomienie email (opcjonalne)\n\nW ramach tego kroku wysyłąne są powiadomienia e-mail o zgłoszeniu w knowshare. Wysyłane są do wyłącznie do tych użytkowników znajdujących się w liście ('Config').email.recipients.",
        "height": 620,
        "width": 940,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        4256,
        576
      ],
      "id": "9d6742ae-60d4-4ad2-99ed-df0fb14741ac",
      "name": "Sticky Note9"
    },
    {
      "parameters": {
        "content": "## Krok 6 - Powiadomienie sms (obecnie nieaktywne)\n\nW ramach tego kroku wysyłąne są powiadomienia sms o zgłoszeniu w knowshare. Wysyłane są do wyłącznie do tych użytkowników znajdujących się w liście ('Config').sms.recipients.",
        "height": 716,
        "width": 2204,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2032,
        464
      ],
      "id": "7d3f4fb4-4d6c-43d4-ad43-abb648b50a08",
      "name": "Sticky Note10"
    },
    {
      "parameters": {
        "content": "## Podział na analizę tekstu i obrazu",
        "height": 520,
        "width": 500,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -3504,
        672
      ],
      "id": "03c9c191-db48-48e7-94e3-eb46ed2b0a34",
      "name": "Sticky Note12"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "92dbdc9c-4a93-4514-bf6d-a71f53e43803",
              "leftValue": "={{ $('Webhook').item.json.body.attachments }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -2480,
        624
      ],
      "id": "888dd7ed-45a3-4976-bc26-49960eb7d52f",
      "name": "If7"
    },
    {
      "parameters": {
        "content": "## Webhook",
        "height": 520,
        "width": 580,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -5136,
        672
      ],
      "id": "e3489683-a225-4d2c-8dd6-c2597c1344f1",
      "name": "Sticky Note13"
    },
    {
      "parameters": {
        "content": "## Krok 3.1 - Tworzenie contentu\n\nW ramach tego kroku na podstawie opisu tworzone są temat zgłoszenia, jego treść, oraz realizowane jest samo zgłoszenie n. ",
        "height": 1032,
        "width": 2420,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2960,
        160
      ],
      "id": "56ab926c-98c6-499e-a546-a9751cfa9268",
      "name": "Sticky Note15"
    },
    {
      "parameters": {
        "toRecipients": "={{ $json.email }}",
        "subject": "Knowshare - nowe zadanie Trello",
        "bodyContent": "=Temat: {{ $('assets params - trello').item.json.task_title }}\nTreść: {{ $('assets params - trello').item.json.task_description }}\nOryginalne zgłoszenie: {{ $('Webhook').item.json.body.message }}\nAsset: {{$('assets params - trello').item.json.asset_name }}\nAutor: {{ $('Webhook').item.json.body.createdBy }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        4816,
        848
      ],
      "id": "4646a2e6-6b4e-4230-901f-7834a5308817",
      "name": "Send a message",
      "webhookId": "c54de9a7-0df7-4981-bb55-8e27364838a8"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "bf08c136-8231-40c2-adad-bb5ced48812e",
              "leftValue": "={{ $('Webhook').item.json.body.attachments }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -3296,
        896
      ],
      "id": "3a376056-9e75-4d77-9043-80408a8bae5d",
      "name": "If there are attachments"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "45988ecf-6ec1-4a69-bf28-b8cac853e764",
              "name": "index",
              "value": "={{$runIndex}}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -4592,
        416
      ],
      "id": "996fa549-9b84-4511-bc50-548eb632adbf",
      "name": "Set index"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "62ec8387-d979-403a-a2cf-455d56bff842",
              "leftValue": "={{ $json.index }}",
              "rightValue": 2,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -4448,
        416
      ],
      "id": "07641923-f291-4b5e-9091-2118d39a634e",
      "name": "Check index"
    },
    {
      "parameters": {
        "bucketName": "={{ $('Webhook').item.json.body.tenantId }}",
        "fileKey": "=cmms/{{ $('Webhook').item.json.body.assetId }}/{{ $json.attachment }}",
        "binaryPropertyName": "image"
      },
      "type": "n8n-nodes-base.s3",
      "typeVersion": 1,
      "position": [
        -4080,
        416
      ],
      "id": "b2a6cc33-9583-49ba-8930-35493d6df921",
      "name": "Fetch image - chat"
    },
    {
      "parameters": {
        "jsCode": "for (const item of items) {\n  if (item.binary && item.binary.image) {\n    item.binary.image.mimeType = 'image/jpeg';\n  }\n}\nreturn items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3856,
        416
      ],
      "id": "27644216-d7c1-49e3-849b-d9b3ee2679a0",
      "name": "Change mime type - chat"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "945dfa76-3c1d-436a-aef2-617ef8539061",
              "leftValue": "={{ $json.body.index }}",
              "rightValue": "notices",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -4832,
        912
      ],
      "id": "a8d58be5-9319-425e-b8ac-ff410225891b",
      "name": "If4"
    },
    {
      "parameters": {
        "jsCode": "// Pobierz dane z node'ów (pierwszy element)\nconst fromWebhook = $('Webhook').first().json;\nconst fromSet = $('Config').first().json;\n\n// Pobierz assetId z webhooka\nconst assetId = fromWebhook?.body?.assetId;\n\n// Pobierz assets_dict z konfiguracji\nconst assetsDict = fromSet?.setup?.assets || {};\n\n// Znajdź klucz zasobu na podstawie id\nlet asset_key = null;\nlet asset_name = null;\n\nfor (const key of Object.keys(assetsDict)) {\n\tconst asset = assetsDict[key];\n\tif (asset?.id === assetId) {\n\t\tasset_key = key;\n\t\tasset_name = asset?.name || null;\n\t\tbreak;\n\t}\n}\n\n// Zwróć wynik\nreturn [\n\t{\n\t\tjson: {\n\t\t\tasset_key,\n\t\t\tasset_name\n\t\t}\n\t}\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2640,
        624
      ],
      "id": "93e3f116-0de8-40d7-8a44-b1d26fb2551d",
      "name": "assets params"
    },
    {
      "parameters": {
        "listId": "={{ $('assets params - trello').item.json.trello_list_id }}",
        "name": "={{ $('assets params').item.json.asset_name }} - {{ $('assets params - trello').item.json.task_title }}",
        "description": "={{ $('Translation Option - Parse').item.json.task_description }}\nOryginalne zgłoszenie: {{ $('Webhook').item.json.body.message }}\nAsset: {{$('assets params - trello').item.json.asset_name }}\nZgłaszający: {{ $('Webhook').item.json.body.createdBy }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.trello",
      "typeVersion": 1,
      "position": [
        -48,
        608
      ],
      "id": "1b8bafb5-15e9-42ac-9b49-fa708a5d3dea",
      "name": "Create a card",
      "credentials": {
        "trelloApi": {
          "id": "nhF8Bjyt8UxnkYnE",
          "name": "Trello account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "45988ecf-6ec1-4a69-bf28-b8cac853e764",
              "name": "index",
              "value": "={{$runIndex}}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1008,
        432
      ],
      "id": "206edb85-e295-4081-a2c4-3e6235788f9a",
      "name": "Set index - trello"
    },
    {
      "parameters": {
        "jsCode": "// Pobierz dane z node Webhook i node Set index - jira\nconst webhook = $('Webhook').item.json;\nconst index = $('Set index - trello').item.json.index;\n\n// Wyciągnij tablicę attachments z Webhook body\nconst attachments = webhook?.body?.attachments || [];\n\n// Jeśli index jest poprawny – wybierz odpowiedni załącznik\nconst selectedAttachment = attachments[index] || null;\n\nreturn [\n  {\n    json: {\n      attachment: selectedAttachment\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1152,
        432
      ],
      "id": "f5d01dc7-662e-4325-8214-4bc2e74bc9ee",
      "name": "Attachment - trello"
    },
    {
      "parameters": {
        "bucketName": "={{ $('Webhook').item.json.body.tenantId }}",
        "fileKey": "=cmms/{{ $('Webhook').item.json.body.assetId }}/{{ $json.attachment }}",
        "binaryPropertyName": "image"
      },
      "type": "n8n-nodes-base.s3",
      "typeVersion": 1,
      "position": [
        1296,
        432
      ],
      "id": "d3e574d2-a4e4-4374-90cb-470ae890b334",
      "name": "Fetch image - trello"
    },
    {
      "parameters": {
        "jsCode": "for (const item of items) {\n  if (item.binary && item.binary.image) {\n    item.binary.image.mimeType = 'image/jpeg';\n  }\n}\nreturn items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1456,
        432
      ],
      "id": "d41d85c0-8c0f-434d-b0a1-e40a89d2f536",
      "name": "Change mime type - trello"
    },
    {
      "parameters": {
        "operation": "update",
        "dataTableId": {
          "__rl": true,
          "value": "5ktV0yMGjtUOrjLf",
          "mode": "list",
          "cachedResultName": "Temp_sms_limit",
          "cachedResultUrl": "/projects/98BhLNTRDdyyDRlO/datatables/5ktV0yMGjtUOrjLf"
        },
        "filters": {
          "conditions": [
            {
              "keyValue": "1"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "messagesSent": "={{ $json.messagesSent + 1 }}"
          },
          "matchingColumns": [
            "messagesSent"
          ],
          "schema": [
            {
              "id": "messagesSent",
              "displayName": "messagesSent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        3808,
        816
      ],
      "id": "021d51e8-c4c2-42c8-9ee5-8beb296aff40",
      "name": "Update row(s)"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "5ktV0yMGjtUOrjLf",
          "mode": "list",
          "cachedResultName": "Temp_sms_limit",
          "cachedResultUrl": "/projects/98BhLNTRDdyyDRlO/datatables/5ktV0yMGjtUOrjLf"
        },
        "filters": {
          "conditions": [
            {
              "keyValue": "1"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        3648,
        816
      ],
      "id": "0700e782-d3fb-49d7-ad0c-2ba1d972d5ba",
      "name": "Get row(s)"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "5ktV0yMGjtUOrjLf",
          "mode": "list",
          "cachedResultName": "Temp_sms_limit",
          "cachedResultUrl": "/projects/98BhLNTRDdyyDRlO/datatables/5ktV0yMGjtUOrjLf"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyValue": "1"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        2256,
        672
      ],
      "id": "903d7cef-8210-4404-9841-18f31b613a55",
      "name": "Get sms number"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "da03406e-ed5e-4309-8c61-a4006d7a5a48",
              "leftValue": "={{ $json.messagesSent }}",
              "rightValue": 1000,
              "operator": {
                "type": "number",
                "operation": "lte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2400,
        672
      ],
      "id": "40bffe25-d8a2-44bd-8858-22558c728062",
      "name": "Check sms limit"
    },
    {
      "parameters": {
        "jsCode": "let title;\nlet description;\n\n// --- Pobranie tytułu z OpenAI (fallback)\ntry {\n\ttitle = $('Create Task Title').item.json.message.content;\n} catch {\n\t//title = $('Create Task Title from Text').item.json.message.content;\n\ttitle =   $('Webhook').first().json.body.subject;\n}\n\n// --- Pobranie opisu z OpenAI (fallback)\ntry {\n\tdescription = $('Create Task Content by Picture').item.json.message.content;\n} catch {\n\t//description = $('Create Task Content').item.json.message.content;\n\tdescription =   $('Webhook').first().json.body.message;\n}\n\n// --- Webhook i Config\nconst webhook = $('Webhook').item.json;\nconst config = $('Config').item.json;\n\n// --- Id zasobu z webhooka\nconst assetId = webhook?.body?.assetId;\nconst assetsDict = config?.setup?.assets || {};\n\nlet asset_name = '';\nlet trello_list_id = '';\n\n// --- Szukaj po assetId\nfor (const key of Object.keys(assetsDict)) {\n\tconst asset = assetsDict[key];\n\tif (asset?.id === assetId) {\n\t\tasset_name = asset?.name || '';\n\t\ttrello_list_id = asset?.trello_list_id || '';\n\t\tbreak;\n\t}\n}\n\n// --- Zwróć wynik\nreturn [\n\t{\n\t\tjson: {\n\t\t\ttask_title: title,\n\t\t\ttask_description: description,\n\t\t\tasset_name,\n            trello_list_id\n\t\t}\n\t}\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1376,
        592
      ],
      "id": "8c102fb8-7ede-415b-ba22-6edccc02ebcd",
      "name": "assets params - trello"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "responses": {
          "values": [
            {
              "role": "system",
              "content": "=Twoim zadaniem jest tłumaczyć pola `task_title` i `task_description` **TYLKO wtedy**, gdy w polu \"message\" znajduje się wyraźne polecenie tłumaczenia.\n\nPolecenia tłumaczenia mogą zawierać słowa/zwroty:\n\"przetłumacz\", \"przetłumacz na\", \"translate\", \"translate to\", \"zamień język\",\n\"zmień język\", \"przełóż na\", \"na język\", \"translate into\".\n\nJeżeli wykryjesz polecenie tłumaczenia:\n1. Ustal język docelowy wskazany w poleceniu.\n2. Przetłumacz `task_title` i `task_description` **wyłącznie na ten język**.\n3. Tłumaczenie wykonuj TYLKO jeśli:\n   • tekst źródłowy jest napisany alfabetem łacińskim\n   • i język docelowy również korzysta z alfabetu łacińskiego.\n4. Nie tłumacz, jeśli język docelowy używa innego alfabetu.\n5. Jeśli język docelowy jest niejednoznaczny lub nieznany → zwróć tekst bez zmian.\n\nJeżeli w polu \"message\" **NIE ma polecenia tłumaczenia**:\n- **Wykryj język tekstu z pola \"message\".**\n- **Zwróć task_title i task_description w dokładnie tym samym języku.**\n- **Nie tłumacz, nie poprawiaj, nie parafrazuj, nie anglicyzuj, nie normalizuj.**\n- **Zachowaj dokładnie ten sam język, nawet jeśli jest to niderlandzki, niemiecki, francuski, polski itp.**\n\nModel NIGDY nie może tłumaczyć automatycznie bez wyraźnego polecenia.\n\nZawsze zwracaj wynik wyłącznie w formacie JSON, bez dodatkowych opisów czy znaków:\n\n{\n  \"task_title\": \"...\",\n  \"task_description\": \"...\"\n}\n"
            },
            {
              "content": "=message: {{ $('Webhook').item.json.body.message }}\ntask_title: {{$json[\"task_title\"]}}\ntask_description: {{$json[\"task_description\"]}}"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2,
      "position": [
        -1104,
        592
      ],
      "id": "d4c58693-3c1a-49a3-9910-1a1d8dd306f8",
      "name": "Translation Option",
      "credentials": {
        "openAiApi": {
          "id": "7r6c9PgveQjC7ygm",
          "name": "OpenAi project n8n"
        }
      }
    },
    {
      "parameters": {
        "content": "ZMIANY MR",
        "height": 560,
        "width": 832,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1408,
        352
      ],
      "id": "0048eda6-eee3-4abb-8605-e7359620150b",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "jsCode": "// Pobierz surowy tekst z pola \"text\"\nlet raw = $input.first().json.output[0].content[0].text || \"\";\n\n// Sprawdź, czy tekst zawiera ```json i usuń jeśli tak\nif (raw.includes(\"```json\")) {\n    raw = raw.replace(/```json\\\\n|```/g, '').replace(/\\\\n/g, '\\n').trim();\n} else {\n    // usuń ewentualne nowe linie i białe znaki z końca\n    raw = raw.trim();\n}\n\n// Spróbuj sparsować JSON\nlet parsed;\ntry {\n    parsed = JSON.parse(raw);\n} catch (error) {\n    // jeśli JSON jest niepoprawny, zwróć puste pola\n    parsed = {\n        task_title: \"\",\n        task_description: \"\"\n    };\n}\n\n// Zwróć jako JSON dla kolejnych węzłów\nreturn [{ json: parsed }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -752,
        592
      ],
      "id": "612543f9-4c4f-4901-8fe8-d7b45a87dce8",
      "name": "Translation Option - Parse"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "bf08c136-8231-40c2-adad-bb5ced48812e",
              "leftValue": "={{ $('Webhook').item.json.body.attachments }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        528,
        848
      ],
      "id": "e9a5b52c-3eba-41d2-a0bb-17fdc37c3b6a",
      "name": "If there are attachments1"
    },
    {
      "parameters": {
        "content": "ZMIANY MR",
        "height": 560,
        "width": 560,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        304,
        576
      ],
      "id": "4994e92d-17d0-4207-9324-fd42f7b54986",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "jsCode": "// Funkcja konwertująca tekst do GSM-7\nfunction toGSM7(text) {\n    if (!text) return '';\n\n    // 1. Usuń znaki diakrytyczne z liter łacińskich\n    let normalized = text.normalize('NFD').replace(/[\\u0300-\\u036f]/g, '');\n\n    // 2. Mapa zamiany znaków spoza GSM-7 na zbliżone\n    const charMap = {\n        '’': \"'\", '‘': \"'\", '“': '\"', '”': '\"', '–': '-', '—': '-',\n        'à': 'a', 'á': 'a', 'â': 'a', 'ä': 'a', 'ã': 'a', 'å': 'a',\n        'ç': 'c', 'è': 'e', 'é': 'e', 'ê': 'e', 'ë': 'e',\n        'ì': 'i', 'í': 'i', 'î': 'i', 'ï': 'i',\n        'ñ': 'n', 'ò': 'o', 'ó': 'o', 'ô': 'o', 'ö': 'o', 'õ': 'o',\n        'ù': 'u', 'ú': 'u', 'û': 'u', 'ü': 'u',\n        'ý': 'y', 'ÿ': 'y',\n        'ß': 'ss', 'Œ': 'OE', 'œ': 'oe', 'Æ': 'AE', 'æ': 'ae',\n        'ł': 'l', 'Ł': 'L', 'Ø': 'O', 'ø': 'o', 'Đ': 'D', 'đ': 'd'\n    };\n\n    normalized = normalized.split('').map(c => charMap[c] || c).join('');\n\n    // 3. Definicja znaków dopuszczalnych w GSM-7\n    const gsm7Chars =\n        '@£$¥èéùìòÇ\\nØø\\rÅåΔ_ΦΓΛΩΠΨΣΘΞ ' +\n        \"abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ\" +\n        \"0123456789\" +\n        \"!\\\"#¤%&'()*+,-./:;<=>?¡ÄÖÑÜ§¿äöñü\";\n\n    // 4. Usuń znaki niezgodne z GSM-7\n    return normalized.split('').filter(c => gsm7Chars.includes(c)).join('');\n}\n\n// Limit SMS\nconst SMS_LIMIT = 160;\nconst ELLIPSIS = '...';\nconst ELLIPSIS_LENGTH = ELLIPSIS.length;\n\n// Przetwarzanie każdego elementu w danych\nfor (const item of items) {\n    const input = item.json;\n\n    // Bezpieczne pobranie wszystkich pól tekstowych\n    const smsPartText = $('SMS part 1').first().json.sms_firstPart || '';\n    const itemText = input.output?.[0]?.content?.[0]?.text || '';\n\n    // Połączenie tekstów i trim\n    const rawMessage = (smsPartText + itemText).trim();\n\n    // Konwersja do GSM-7\n    const cleanMessage = toGSM7(rawMessage);\n\n    // Obcinanie do limitu 160 znaków z \"...\"\n    let finalSmsText = cleanMessage;\n    if (cleanMessage.length > SMS_LIMIT) {\n        finalSmsText = cleanMessage.substring(0, SMS_LIMIT - ELLIPSIS_LENGTH) + ELLIPSIS;\n    }\n\n    // Dodanie wyników do JSON\n    input.finalSmsText = finalSmsText;\n    input.finalSmsLength = finalSmsText.length;\n}\n\nreturn items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3280,
        656
      ],
      "id": "97edec41-fccd-4a70-b9d0-3661f3ab60dd",
      "name": "SMS Final"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "responses": {
          "values": [
            {
              "role": "system",
              "content": "=Jesteś systemem do generowania krótkich, zwięzłych komunikatów SMS.\nTwoje JEDYNE zadanie to sumaryzacja, skracanie i łączenie tekstu.\n\nZASADA KLUCZOWA (NON-NEGOTIABLE):\n1. **ZAKAZ TŁUMACZENIA:** Nigdy, pod żadnym pozorem, nie tłumacz treści. Musisz wykryć i ZACHOWAĆ oryginalny język wejściowy (nawet jeśli jest to język mieszany, niepoprawny lub zawiera błędy).\n2. **KONTRA POLSKI:** Nie zmieniaj języka na polski, chyba że język wejściowy był polski.\n3. **SKRACANIE:** Połącz oba teksty, skróć je do podanego limitu znaków, zachowując sens.\n4. **FORMAT:** Zwróć tylko finalny tekst SMS. Bez cudzysłowów, wyjaśnień, ani formatowania Markdown."
            },
            {
              "content": "=Tytuł: \"{{ $('Translation Option - Parse').item.json.task_title }}\"\nWiadomość: \"{{ $('Translation Option - Parse').item.json.task_description }}\"\n\nLimit znaków: {{ $json.sms_contentLimit }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2,
      "position": [
        2896,
        656
      ],
      "id": "c4f2d610-5f47-4cbf-830a-51ef7a247ed2",
      "name": "Text shortening",
      "credentials": {
        "openAiApi": {
          "id": "7r6c9PgveQjC7ygm",
          "name": "OpenAi project n8n"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const SMS_LIMIT = 155; //160\n\n// Przetwarzanie każdego elementu w danych\nfor (const item of items) {\n  const input = item.json;\n  \n  // 1. Definiowanie pól\n  const name = $('Webhook').first().json.body.createdBy || '';\n\n\n  // 2. Łączenie pól w format: \"Imię Nazwisko; Tytuł; \" (Z POLSKIMI ZNAKAMI)\n  // Używamy separatorów \"; \" (dwa znaki)\n  const firstPartRaw = `${name}; `;\n  \n  // 3. Obliczenie DŁUGOŚCI tej części (na podstawie RAW stringu)\n  const firstPartLength = firstPartRaw.length;\n  \n  // 4. Wyznaczenie różnicy (maksymalnego limitu dla Treści)\n  const maxContentLength = SMS_LIMIT - firstPartLength;\n  \n  // Zapewnienie, że limit nie jest ujemny\n  const finalContentLimit = Math.max(0, maxContentLength);\n  \n  // Dodanie nowych zmiennych do obiektu JSON:\n  // - sms_firstPart: sformatowana część z polskimi znakami\n  // - sms_contentLimit: obliczony limit znaków dla treści (dla Chat GPT)\n  input.sms_firstPart = firstPartRaw;\n  input.sms_contentLimit = finalContentLimit;\n}\n\nreturn items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2672,
        656
      ],
      "id": "f60c1a6e-612b-47f1-abd3-1c61ffdd62a7",
      "name": "SMS part 1"
    },
    {
      "parameters": {
        "content": "ZMIANY MR",
        "height": 240,
        "width": 784,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2624,
        608
      ],
      "id": "c2c4dc68-14b6-4efa-8ff2-68f3acedbb79",
      "name": "Sticky Note6"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "If4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Task Content by Picture": {
      "main": [
        [
          {
            "node": "assets params - trello",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Task Title": {
      "main": [
        [
          {
            "node": "Create Task Content by Picture",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Picture Summary1": {
      "main": [
        [
          {
            "node": "assets params",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Picture Summary": {
      "main": [
        [
          {
            "node": "Loop Over Items - chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Aggregate2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set index - trello",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Create Picture Summary1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "node": "Split Out1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop parameter - chat": {
      "main": [
        [
          {
            "node": "Split Out - chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out - chat": {
      "main": [
        [
          {
            "node": "Loop Over Items - chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items - chat": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set index",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Config": {
      "main": [
        [
          {
            "node": "If there are attachments",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Create a card",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Aggregate2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items3": {
      "main": [
        [],
        [
          {
            "node": "recipients - email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out3": {
      "main": [
        [
          {
            "node": "Loop Over Items3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields6": {
      "main": [
        [
          {
            "node": "Split Out3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Attachment - chat": {
      "main": [
        [
          {
            "node": "Fetch image - chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If3": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate2": {
      "main": [
        [
          {
            "node": "Get sms number",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate3": {
      "main": [
        [
          {
            "node": "Edit Fields6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Twilio": {
      "main": [
        [
          {
            "node": "Get row(s)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items4": {
      "main": [
        [
          {
            "node": "Aggregate3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "recipients - sms",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If5": {
      "main": [
        [
          {
            "node": "Twilio",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out4": {
      "main": [
        [
          {
            "node": "Loop Over Items4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields7": {
      "main": [
        [
          {
            "node": "Split Out4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "recipients - sms": {
      "main": [
        [
          {
            "node": "If5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "recipients - email": {
      "main": [
        [
          {
            "node": "If3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If7": {
      "main": [
        [
          {
            "node": "Create Task Title",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "assets params - trello",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Loop Over Items3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If there are attachments": {
      "main": [
        [
          {
            "node": "assets params",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop parameter - chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set index": {
      "main": [
        [
          {
            "node": "Check index",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check index": {
      "main": [
        [
          {
            "node": "Loop Over Items - chat",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Attachment - chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch image - chat": {
      "main": [
        [
          {
            "node": "Change mime type - chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Change mime type - chat": {
      "main": [
        [
          {
            "node": "Create Picture Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If4": {
      "main": [
        [
          {
            "node": "Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "assets params": {
      "main": [
        [
          {
            "node": "If7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a card": {
      "main": [
        [
          {
            "node": "If there are attachments1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set index - trello": {
      "main": [
        [
          {
            "node": "Attachment - trello",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Attachment - trello": {
      "main": [
        [
          {
            "node": "Fetch image - trello",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch image - trello": {
      "main": [
        [
          {
            "node": "Change mime type - trello",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Change mime type - trello": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row(s)": {
      "main": [
        [
          {
            "node": "Loop Over Items4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s)": {
      "main": [
        [
          {
            "node": "Update row(s)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get sms number": {
      "main": [
        [
          {
            "node": "Check sms limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check sms limit": {
      "main": [
        [
          {
            "node": "SMS part 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "assets params - trello": {
      "main": [
        [
          {
            "node": "Translation Option",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Translation Option": {
      "main": [
        [
          {
            "node": "Translation Option - Parse",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Translation Option - Parse": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If there are attachments1": {
      "main": [
        [
          {
            "node": "Aggregate2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SMS Final": {
      "main": [
        [
          {
            "node": "Edit Fields7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Text shortening": {
      "main": [
        [
          {
            "node": "SMS Final",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SMS part 1": {
      "main": [
        [
          {
            "node": "Text shortening",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "apagroup.app.n8n.cloud",
            "user-agent": "axios/1.12.0",
            "content-length": "530",
            "accept": "application/json,text/html,application/xhtml+xml,application/xml,text/*;q=0.9, image/*;q=0.8, */*;q=0.7",
            "accept-encoding": "gzip, br",
            "authorization": "Basic bmF6Y2E6IyRrbm93c2hhcmUkIw==",
            "cdn-loop": "cloudflare; loops=1; subreqs=1",
            "cf-connecting-ip": "20.218.238.116",
            "cf-ew-via": "15",
            "cf-ipcountry": "DE",
            "cf-ray": "9a03df29e5a06d26-FRA",
            "cf-visitor": "{\"scheme\":\"https\"}",
            "cf-worker": "n8n.cloud",
            "content-type": "application/json",
            "x-forwarded-for": "20.218.238.116, 104.23.239.53",
            "x-forwarded-host": "apagroup.app.n8n.cloud",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "traefik-prod-users-gwc-38-6f9f659dd9-865tl",
            "x-is-trusted": "yes",
            "x-real-ip": "20.218.238.116"
          },
          "params": {},
          "query": {},
          "body": {
            "index": "notices",
            "createdAt": "2025-10-27T06:58:47.5677181Z",
            "assetId": "08dd6221-813c-437b-8d19-6678e11a55f5",
            "subject": "Uszczerbiony kubek!",
            "message": "Znaleziono uszczerbiony kubek w szawce z naczyniami dla gości. Prośba o wymianę na nowy",
            "type": 0,
            "createdBy": "test test",
            "tenantId": "08dd5714-941b-4e58-817b-934c403cebb5",
            "attachments": [
              "ff57b48d-0c93-4e9d-8d19-32519adae5f98684434820700654792.jpg",
              "52ee9c9e-54e8-4328-950f-13bab0bd3ff74756521684993759038.jpg",
              "babf1377-bdfa-4e2a-9c8f-2fa87af3cfc6254830784995343420.jpg"
            ]
          },
          "webhookUrl": "https://apagroup.app.n8n.cloud/webhook/9fa3910c-8207-4351-b79b-b74b65ec4a3c",
          "executionMode": "production"
        }
      }
    ]
  },
  "versionId": "775e86bf-595f-4890-8154-eede4834ff12",
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-11-25T10:04:21.494Z",
      "createdAt": "2025-11-25T10:04:21.494Z",
      "role": "workflow:owner",
      "workflowId": "54OzgWSzjWohfCn4",
      "projectId": "CjfG3RcAlbeZbF4G"
    }
  ],
  "tags": []
}